[2017-11-24 04:05] bsharpataz opened #1 "Reading Software"
Model for reading software:
- Joshua wants a POC to show that the idea is possible and to justify DARPA funding
- Look for dependency graph software that parses fortran code to dependency graphs
-- Need a graph of variables in the code
-- Note: there are many versions of fortran that are diff in what they do
- Joshua wants engagement from crop-modelling community
- There’s a workshop this Spring,

[2017-11-24 04:08] bsharpataz opened #2 "Unit test for UDep chunker"

[2017-11-24 04:10] BeckySharp opened #3 "UDep Discourse Parser"
- [x] Find where constituency mode crashes
- [x] Check performance with dep/const vs master

[2017-11-24 04:11] bsharpataz opened #4 "UDep update of CluProcessor"
(lower priority)

- [ ] POS
- [ ] Dependency syntax

[2017-11-24 04:14] bsharpataz opened #5 "Grammars"
- [x] Convert to mention_with_mod (now in Processors master)
 -- update taxonomy
 -- use action with modification rules to convert NPs
- [x] Convert to universal dependencies

[2017-11-24 04:16] bsharpataz opened #6 "Move content to Eidos"
- grounding can stay in, but not be called
- the json serialization and deserialization will live here

[2017-11-24 04:19] bsharpataz opened #7 "UN Reports"
- [x] remind Becky to send query she used for 8500 papers

- [x] add to dropbox folder

[2017-11-28 23:14] MihaiSurdeanu opened #8 "Create JSON output for the latest representation"

[2017-12-13 22:58] bsharpataz opened #9 "convert un reports to nxml for use with influence search"
- [x] try with one first
- [x] run that one through the pipeline to make sure compatible
- [x] and the rest!

[2018-01-28 15:44] bgyori opened #39 "quantification1 pulls out quantifier as part of entity"
In attempting to fix test 8 in p6s2, I found that `quantification1` in entityQuantification.yml pulls out the quantifier along with the noun that it applies to. E.g. "poor" is included in "poor access to services", whereas I would have expected this entity to just be "access to services":
[code]
Am I right that this is a problem? Or is the quantifier supposed to be part of the entity?

[2018-01-28 15:57] MihaiSurdeanu commented on #39
I think this should have been picked up as a DEC event. @bsharpataz?

[2018-01-28 16:04] bsharpataz commented on #39
No, it should not be part of the entity, check to see if “poor” is one of
the things being avoided in aviodLocal.  Triggers need to be present in
both places, in the main grammar to be used for an inc/dec event and in
avoidLocal to not be included in the entity.  If that’s not the problem,
you can let me know

On Sun, Jan 28, 2018 at 8:44 AM Benjamin M. Gyori <notifications@github.com>
wrote:

[2018-01-30 19:58] ajaynagesh commented on #1
Working with Jon and Saumya on this. So closing this here..

[2018-01-30 19:58] #1 closed

[2018-01-30 19:59] ajaynagesh commented on #2
Chunker is not using the Universal POS tags. So closing this now...

[2018-01-30 19:59] #2 closed

[2018-01-30 21:40] MihaiSurdeanu opened #44 "Do not expand entities across clauses?"
Becky,

We now expand entities across clausal dependencies. For example, in this sentence:
https://github.com/clulab/eidos/blob/master/src/test/scala/org/clulab/wm/CAG.scala#L27
the 3rd entity is "livelihoods being decimated", when it should probably be "livelihoods".

[2018-02-01 20:14] bgyori opened #51 "Print syntactic dependencies in RAPShell"
I would love to see the syntactic dependencies printed in the RAPShell (though I know it's available via the web interface). After some digging, I found that the reason dependencies aren't currently displayed is that this line is commented out: https://github.com/clulab/eidos/blob/09e717b6a042e75c9d4544eb29567c4ac76e0a68/src/main/scala/utils/DisplayUtils.scala#L17
Shall I uncomment it in a PR, or

[2018-02-01 21:02] MihaiSurdeanu commented on #51
@kwalcock, @bsharpataz?

[2018-02-01 21:21] kwalcock commented on #51
I should look through the file history and see why it was commented out.
There may have been a good reason for some need unknown to me.

On Thu, Feb 1, 2018 at 2:02 PM, Mihai Surdeanu <notifications@github.com>
wrote:

[2018-02-01 22:13] ZhengTang1120 commented on #44
level of acute malnutrition -- test changed to match current "intended behavior," so will need to modify tests when issue closed

[2018-02-01 22:56] kwalcock commented on #51
This line was commented out since the beginning, when it was copied over from wmseed.  It is only called from demoWMseed in a file "Created by ajaynagesh on 5/31/17".  Does that output matter to someone?

[2018-02-01 22:58] bsharpataz commented on #51
I was not the original writer of the method, but I think that they are
likely commented out bc (a) they're looooong, and clog the output quickly
and (b) often with long sentences they usually end up truncated anyway
(though perhaps not the way it's called?)

I am pretty indifferent either way -- maybe we can add a user option at the
loading of the RAPShell where user can decide which way to go? or

[2018-02-01 23:10] kwalcock commented on #51
Well, a fairly simple textedit control like the one I'm typing in is resizeable and scrollable and could prevent some output from getting too long.

In general, no toString() will make everyone happy.  Perhaps people can customize locally?  I would just perform inspection in the debugger.

[2018-02-01 23:15] bsharpataz commented on #51
as a compromise, perhaps you can add a simple print in RAPshell (as that's
largely intended to be an "internal" debug tool) rather than uncommenting
the line in displayMentions which is called prolifically throughout the
repo...?

On Thu, Feb 1, 2018 at 4:10 PM, Keith Alcock <notifications@github.com>
wrote:

[2018-02-01 23:23] kwalcock commented on #51
Sounds good if that suits bgyori.  I'll figure out how to add it to the RAPshell only.

[2018-02-01 23:34] ZhengTang1120 opened #52 "Do not get the correct entities."
When parsing "the rapidly depreciating value of the South Sudanese Pound (SSP)", the system splitted the entity "value of the South Sudanese Pound" into "value" and "South Sudanese Pound" and failed the test.

[2018-02-02 00:38] kwalcock commented on #51
Great!

[2018-02-02 00:40] #51 closed

[2018-02-02 21:22] bsharpataz commented on #8
done

[2018-02-02 21:22] #8 closed

[2018-02-02 21:22] bsharpataz commented on #6
done :)

[2018-02-02 21:22] #6 closed

[2018-02-02 21:23] bsharpataz commented on #5
done

[2018-02-02 21:23] #5 closed

[2018-02-02 21:24] #7 closed

[2018-02-02 21:24] bsharpataz commented on #9
done

[2018-02-02 21:24] #9 closed

[2018-02-02 21:27] bsharpataz commented on #39
I think this was fixed, no?  If not, you can re-open

[2018-02-02 21:27] #39 closed

[2018-02-02 21:30] bgyori commented on #39
The specific instance was fixed but I think the more general fix would be to take every entry in Quantifiers.tsv and add to the ignore list.

[2018-02-02 22:42] bsharpataz commented on #39
Oh, I see.  Well, it is, essentially.... which makes me wonder a little now
about the original error...  but to your point --
The system is designed so that the quantifiers are labeled by the lexicnNER
and everything with that label is avoided (with this rule:
https://github.com/clulab/eidos/blob/master/src/main/resources/org/clulab/wm/grammars/avoidLocal.yml#L55-L61).

On Fri, Feb 2, 2018 at 2:30

[2018-02-11 05:40] Fan-Luo opened #74 "'not been possible' is not recognized as decrease trigger 'inhibit'"
Sentence p4s4 in testCAGP4.scala:

It is supposed to capture entity "Borehole repairs" with decrease trigger 'inhibit', but 'inhibit' itself does not appear in the sentence.

[2018-02-12 19:20] bsharpataz opened #75 "change argument names"
- to more generic names (i.e., src/target, controller/controlled, whichever)
- check to make sure other code doesn't break in webapp/brat vis, etc
- coord with @kwalcock to make names work with JSON-LD reps

[2018-02-13 20:25] bsharpataz commented on #74
just pick up for now as Decrease

[2018-02-16 00:35] Fan-Luo opened #82 "P4S2 in TestCagP2.scala"
Sentence:

    Violence has caused livestock to be looted, killed and disease-prone and crops destroyed, and displacement has caused delayed planting.

Test:

    tester.test(newEdgeSpec(displacement, Causal, delayedPlanting)) should be (successful)

Problem:

    delayedPlanting is not extracted, as shown in figure below.
 ![](https://i.imgur.com/O55ObXj.jpg)

I tried to debug and noticed that bo

[2018-02-16 02:01] MihaiSurdeanu commented on #82
I think we should give up on this. That is, change delayed planting to another NP that is correctly recognized.

[2018-02-19 02:20] EgoLaparra opened #91 "P3S2 in TestCagP3.scala"
I have problems with three of the four tests for p3s2. Besides, there seem to be some faulty causal relations.

---

![causalgraph](https://user-images.githubusercontent.com/4419954/36359342-7586225c-14d7-11e8-91cf-74b72cacb81f.png)

![depgraph](https://user-images.githubusercontent.com/4419954/36359340-6cf3aea2-14d7-11e8-823c-d256f7a513d5.png)

---
Test:

     val impacts = NodeSpec("impacts of f

[2018-02-19 04:04] bsharpataz commented on #91
i’m working on this, according to webapp I have 2 of them fixed, but sbt
test disagrees... but I’m working on it

On Sun, Feb 18, 2018 at 7:34 PM EgoLaparra <notifications@github.com> wrote:

[2018-02-19 15:34] EgoLaparra commented on #91
In the second test, the entity extracted is "spikes in conflict" instead of "conflict". Could it be a reason for the disagreement?

[2018-02-20 17:57] adarshp opened #103 "Mistaken bidirectional causality with certain sentences"
When Eidos processes the sentence:

*Water trucking has decreased due to the increased cost of fuel*

It reports two causal events with opposite directions, instead of just one:

[code]

 Is this something that can be fixed?

[2018-02-20 19:02] MihaiSurdeanu commented on #103
Clearly a bug. @bsharpataz, can you please look? ported_syntax_7_verb-Causal is wrong.

[2018-02-20 19:29] bsharpataz commented on #103
Looking at it as we "speak" -- I took out a problematic rule and now need
to fix other test that are now failing

On Tue, Feb 20, 2018 at 12:02 PM, Mihai Surdeanu <notifications@github.com>
wrote:

[2018-02-20 22:21] bgyori opened #106 "Reference corpus to highlight rule side-effects"
I brought up this idea last year for REACH and then never pursued it, but perhaps we could do it for Eidos. If we had a standard text corpus, we could maintain a _reference output_ for that corpus.
As part of the Travis process, this corpus could be re-read, and its output compared against the reference to highlight changes. These changes could then be browsed by a human to explore the side effect

[2018-02-20 22:26] bsharpataz commented on #106
I kinda like the idea, but how would we go about creating a corpus that is
large and wide enough to expose problems? (i.e., in such a way that it goes
beyond what the unit tests capture)

On Tue, Feb 20, 2018 at 3:21 PM, Benjamin M. Gyori <notifications@github.com

[2018-02-20 22:29] #74 closed

[2018-02-20 22:33] bgyori commented on #106
I think this could be useful even on just the collection of paragraphs that are currently used for testing. Namely, it could detect "false positives", i.e. new rules that due to unanticipated side effects start extracting events that they shouldn't. An example is #103 which, when I last checked, wasn't extracting the incorrect event in addition to the correct one.

[2018-02-21 04:44] bsharpataz commented on #44
food insecurity in Unity

[2018-02-21 05:55] #82 closed

[2018-02-21 05:58] #91 closed

[2018-02-21 15:31] #103 closed

[2018-02-27 18:03] ajaynagesh opened #134 "Rule files have a comment at the beginning"
Each of the rule.yml files have a comment at the beginning describing what are the type of rules present in that file. It helps developers/test fixers to narrow down where to look.

[2018-02-27 18:29] ajaynagesh opened #135 "Affect relation -- X was affected by Y"
per convo between Ajay and Becky:
When X and Y share semantic polarity (i.e., rainfall and crop production), implied increase
When X and Y don't (i.e., rainfall deficit and crop production), implied decrease...
simple EdgeSpec(Y, Causal, X) doesn't capture this, but without Affect relation that is the best fit?

[2018-02-28 18:56] bsharpataz opened #141 "import vars"
import the variables at the tops of grammar yml files (e.g. noun_modifiers)

[2018-02-28 21:39] bsharpataz commented on #75
DirectedRelations may well stick with causal, so `cause` and `effect` are likely fine for now.  Correlation was moved to UndirectedRelation

todo: do we still need to change args?

[2018-03-01 15:10] bgyori opened #147 "JSON serialization has multiple instances of same event"
For the sentence
[code]
The JSON output contains 4 copies of the same event, here with ID E:-1154077341:
[code]
with the same foundBy, same arguments that have the same IDs, etc. Note that this is the JSON I obtain from `serialization.json.WMJSONSerializer`.

Is this a serialization issue or something else?

[2018-03-01 15:20] bgyori commented on #147
I noticed that I ran into this in a somewhat older version of Eidos, I'm testing with the latest to see if the issue persists.

[2018-03-01 15:28] bgyori commented on #147
Yes, issue persists with latest version.

[2018-03-01 16:06] kwalcock commented on #147
I was recently writing some serialization tests and it would not be
inconvenient for me to add this to the suite and try to see what is
happening.  If nobody objects, I'll proceed.

On Thu, Mar 1, 2018 at 8:10 AM, Benjamin M. Gyori <notifications@github.com>
wrote:

[2018-03-01 20:00] kwalcock commented on #147
FWIW there are actually two pairs with slightly different foundBy values

"foundBy" : "simple-np++Increase_ported_syntax_6_verb++Increase_ported_syntax_1_verb",
"foundBy" : "simple-np++Increase_ported_syntax_6_verb++Increase_syntax_1_verb_edited",

foundBy must not be used in calculating the id, and maybe that's a problem.  Why are there pairs, though?

[2018-03-01 20:08] MihaiSurdeanu commented on #147
Oh. Increase_ported_syntax_1_verb and Increase_syntax_1_verb_edited found the same event. We should remove duplicates, even when found by different rules.

[2018-03-02 06:09] kwalcock commented on #147
It doesn't appear to be the serialization.  The output seems to match the input that it gets.

[2018-03-02 07:04] kwalcock commented on #147
Here's the output from EidosShell for the sentence.  How many are considered duplicates?

entities:
List(NounPhrase, Entity) => government
	------------------------------
	Rule => simple-np
	Type => TextBoundMention
	------------------------------
	NounPhrase, Entity => government
	------------------------------

List(NounPhrase, Entity) => cultivar
	------------------------------
	Rule => simple-

[2018-03-02 07:09] kwalcock commented on #147
Here are the IDs and the foundBy values.  For the quadruple E:-1154077341, it is the apparently normal duplication from promotes/boost plus another duplication due to the two different foundBy values for T:1232771938.  This doesn't seem to be a serialization issue.

Vector(
(T:1282900093,simple-np),

(T:385191655,simple-np++Increase_ported_syntax_1_verb),
(T:385191655,simple-np++Increase_ported_sy

[2018-03-02 15:08] bsharpataz commented on #147
We thought we were removing duplicates by type, apparently it still needs
work.  BUT if we move to hyper edges BEFORE addressing this, then the
simple solution of keeplongest (as is done in REACH) will work I think...?

On Fri, Mar 2, 2018 at 12:09 AM Keith Alcock <notifications@github.com>
wrote:

[2018-03-02 15:33] kwalcock commented on #147
Thanks, Becky!  I was about to ask if I need to make some kind of filter.  For the moment it might be better if I just make a test case for duplicates and mark it as a failing test.  It can be revisited after some of the changes you mention.

[2018-03-02 16:31] #44 closed

[2018-03-02 16:31] #52 closed

[2018-03-02 17:51] bsharpataz commented on #147
ok -- so to add hyper edges for real-real we need to:
- add the hyper edge-ness to the entityLinker rules at least
- add hyper-edges to the testing framework (if they're not there already)
- modify all test files to use hyper edges (old and current)

knowing the priority list, @MihaiSurdeanu would you rather we do hyper edges first and then address this duplication bug with the straightforward kee

[2018-03-02 19:49] MihaiSurdeanu commented on #147
- I don't understand what hyper edges have to do with this...
- I think it's a clear duplication issue: two different rules produce the same entity "agricultural production". Why can't we remove it with keepLongest now?

[2018-03-02 19:50] MihaiSurdeanu commented on #147
- In any case, I think we should wait on the hyper edges until the other parts are in place for Monday.

[2018-03-02 20:10] bsharpataz commented on #147
I fixed it easier than I thought.  The keepLongest doesn’t work without
hyper edges bc if A and B cause C, then B cause C will always get lost bc
of the longer span of A cause C.
But moot, Bc it’s  fixed

On Fri, Mar 2, 2018 at 12:50 PM Mihai Surdeanu <notifications@github.com>
wrote:

[2018-03-02 23:23] #147 closed

[2018-03-03 04:07] bsharpataz commented on #4
@MihaiSurdeanu should we call this closed?

[2018-03-03 23:42] MihaiSurdeanu commented on #4
Yep

[2018-03-03 23:42] #4 closed

[2018-03-05 19:22] bgyori opened #160 "DOMSource cannot be processed"
On certain strings, I am seeing a large number of these errors
[code]
when reading via the python interface which uses a fat JAR of Eidos and its dependencies. These errors flood the screen but don't seem to have a serious effect, the reading completes and returns results.

I found that one example of a string that triggers this is "NOV". It looks like lowercase "nov" does too. So then I thought m

[2018-03-05 19:35] bgyori commented on #160
Same error appears whenever a number that looks like a date is encountered, e.g. "2006".

[2018-03-05 20:27] bsharpataz commented on #160
this is not in eidos (I think).. maybe in CoreNLP?

Does this help inform the convo?
https://stackoverflow.com/questions/15438011/domsource-cannot-be-processed-check-that-saxon9-dom-jar-is-on-the-classpath

[2018-03-05 20:37] bsharpataz commented on #160
I mean... if our jar has a problem or we're mis-using CoreNLP or java, then it's our problem...

[2018-03-06 06:21] kwalcock commented on #160
Notes: processors-main has a dependency on
"com.io7m.xom"             %  "xom"                       % "1.2.10",
The page for that, https://xom.nu/, says something like
XOM is not complete unto itself. It depends on an underlying SAX parser to read documents and feed the data into a tree structure. While theoretically any SAX2 compliant parser should work...
I wonder if transitive dependencies are

[2018-03-06 06:28] bgyori commented on #160
No call stack other than the error I pasted above, PR #162 fixes the issue though.

[2018-03-06 06:38] kwalcock commented on #160
The readme file says

Java 1.3 and earlier do not have a built-in XML parser so in these environments
you'll also need to install XOM's supporting libraries.
These include xalan.jar, xercesImpl.jar, and xml-apis.jar,
and are found in the lib directory. The versions shipped with XOM
are quite a bit faster and less buggy than the ones bundled with the JDK,
so you may well want to use them even in Ja

[2018-03-08 16:22] #160 closed

[2018-03-08 21:00] MihaiSurdeanu opened #170 "Better expansion for VP entities."
In the text:

"Urgent action to end the conflict, improve humanitarian access
      |to severely food insecure populations, and increase size and
      |scope of emergency assistance delivery is critical to save
      |lives over the coming year."

We should pick "save lives over the coming year" as an entity. That is, expand verbal entities across dobj and nmod:* dependencies.

[2018-03-09 21:03] adarshp opened #173 "Eidos not picking up entity"
It seems that Eidos is not picking up entities when they are at the beginning of a sentence that is preceded by another sentence.

- The sentence `Conflict causes displacement` works fine - the nodes and the edge are picked up.
- The sentences `X causes Y . Conflict causes displacement.` results in no entities or events picked up in the second sentence.
- If an article is added before 'Conflict',

[2018-03-09 21:34] bsharpataz commented on #173
thanks, this is ugly, I'll look into it

[2018-03-12 18:58] #173 closed

[2018-03-14 17:16] bgyori opened #185 "Getting grounding in JSON-LD output"
We're working on processing grounding information from the JSON-LD output (can get it from the example json-ld file posted here on Github) but haven't yet figured out how to run the reader and the serializer to get the groundings in the output. We found that running the example at https://github.com/clulab/eidos/blob/master/src/main/scala/org/clulab/wm/eidos/apps/examples/ExtractFromText.scala
doe

[2018-03-14 17:17] MihaiSurdeanu commented on #185
Clearly this is a bug, @bsharpataz?

[2018-03-14 17:29] bsharpataz commented on #185
@MihaiSurdeanu and @bgyori Try changing https://github.com/clulab/eidos/blob/master/src/main/resources/eidos.conf#L14 to `true` -- and you'll have to change the path to point to your local copy of the w2v vectors.
I think it will run then.  We have it `false` by default in github bc the vectors are quite large

[2018-03-14 17:29] bsharpataz commented on #185
@bgyori please let me know if that doesn't fix it

[2018-03-14 17:34] bgyori commented on #185
I see, that makes sense, but vectors.txt isn't in version control as far as I see. Do you plan to make it publicly available in some other way?

[2018-03-14 17:36] MihaiSurdeanu commented on #185
It's in the Drive, under resources/

[2018-03-14 17:37] bsharpataz commented on #185
ah, you beat me to it! well here's the link https://drive.google.com/drive/u/1/folders/1R1oEuHC3yyXAW2NGf2ohpUKUNcExQ6cv

[2018-03-14 18:13] bgyori commented on #185
Thanks @djmilstein will try to make it work and report back. Please grant him access to the drive, thanks!

[2018-03-14 18:26] ajaynagesh commented on #185
Shared the vectors.txt with @djmilstein

[2018-03-14 19:02] djmilstein commented on #185
Thank you everyone, I got the file and making progress! I put the file in src/main/resources/org/clulab/wm/eidos/w2v/vectors.txt. In src/main/resources/eidos.conf, I set:
[code]

I then rebuild the jar file with:
[code]

However, alas! There still is no grounding information in the JSON-LD output. Happy to try further steps or supply more information.

[2018-03-14 19:13] kwalcock commented on #185
FWIW I'll give it a try.

[2018-03-14 19:37] kwalcock commented on #185
This will be checked-in momentarily, but it takes 15 minutes to process.  Change

import org.clulab.wm.eidos.serialization.json.odin.JLDCorpus

to

import org.clulab.wm.eidos.serialization.json.JLDCorpus

without the odin.

[2018-03-14 20:04] kwalcock commented on #185
The one-line fix is available via GitHub now.  There should be some documentation on the download and settings for the vector file in the relatively near future.

[2018-03-15 13:55] djmilstein commented on #185
It works now! Thank you, everybody!

[2018-03-15 17:54] #185 closed

[2018-03-16 22:52] bsharpataz opened #196 "valid edge tag in entity finder"
makes it so expanded entities can be omitted as a whole:
`This is the highest level of hunger since the conflict in South Sudan began two years ago.`

compare with:
`This is the highest level of hunger since the conflict in South Sudan began two years.`

[2018-03-16 23:02] bsharpataz commented on #170
`Food insecurity and conflict are also forcing many families to leave South Sudan for neighbouring countries.`

[2018-03-19 02:28] EgoLaparra opened #201 "Handling Quantifiers modifiers"
Does the system handle modifiers of Quantifiers? For example, in quantification_adjective_rule_3 there is the following line commented:

`#      adverbs: Quantifier? = ${quant_modifiers} // todo: we should allow for modification here (e.g. 'more')
`
Is this already implemented?

Thank!

[2018-03-19 18:56] bsharpataz commented on #201
Yes, the system can handle them, you can uncomment the line -- trace out https://github.com/clulab/eidos/blob/master/src/main/scala/org/clulab/wm/eidos/EidosActions.scala#L136 for how it's handled downstream

I'm closing this issue -- but if I misunderstood or didn't see a nuance, please feel free to reopen

[2018-03-19 18:56] #201 closed

[2018-03-22 00:31] adarshp opened #206 "ExtractFromDirectory app throws errors"
Hi,

I tried extracting events from the MITRE evaluation document corpus with the following invocation:

[code]

and things seem to run ok for a while, but then I get this error:

[code]

1. Do I have the right invocation?
2. Has anybody else run into this issue?

[2018-03-22 00:33] adarshp commented on #206
Nevermind, I got it to work, apparently I needed to have the full path to the input directory in the invocation - the tilde (~) will not work.

[2018-03-22 00:33] #206 closed

[2018-03-22 00:41] kwalcock commented on #206
Does it happen to work without the quotes?  The shell might substitute the value in.

[2018-03-22 00:43] adarshp commented on #206
Nope, it does not work without the quotes…

--
Adarsh Pyarelal
Postdoctoral Research Associate
School of Information
& Department of Computer Science
University of Arizona
Office: Harvill 454
http://adarsh.cc

[2018-03-22 05:52] kwalcock commented on #206
A relative path should work, as in your output_dir.  I am submitting a PR which should avoid the NullPointerException in favor of a FileNotFoundException.  I'll put your name on it :-)

[2018-03-22 06:24] adarshp commented on #206
Thanks Keith!

[2018-03-23 02:50] adarshp opened #212 "How to get JSON-LD with groundings?"
What is the invocation for getting a JSON-LD file with Eidos mentions with attached groundings? I tried doing

sbt “runMain org.clulab.wm.eidos.apps.ExtractFromDirectory ../../ml4ai/WorldModelers/MITRE_Evaluation_Documents output_dir”

but the output .jsonld files do not have the grounding information.

[2018-03-23 03:17] kwalcock commented on #212
This may not be enough, but see the section "Related resources" towards the bottom of readme.md to begin.

[2018-03-23 03:53] bsharpataz commented on #212
Is the word2vec loading?

On Thu, Mar 22, 2018 at 8:17 PM Keith Alcock <notifications@github.com>
wrote:

[2018-03-23 14:34] adarshp commented on #212
Ok, got it - I am downloading the 2.3G vector file and will try it with useW2V=true. I'll let you know if it works.

[2018-03-23 22:24] Fan-Luo commented on #170
"We are very worried to see that food insecurity is spreading beyond conflict areas as rising prices, impassable roads and dysfunctional markets are preventing many families, even those in towns and cities, from accessing food," said FAO Country Representative Serge Tissot.

val families = NodeSpec("families, even those in towns and cities, from accessing food", Quant("many"), Dec("preventing"))

[2018-03-23 23:13] bsharpataz opened #214 "copular quants"
[resolved for this issue]
"We are now seeing sharp spikes of need in new areas, such as Eastern Equatoria or Western
Bahr el-Ghazal, where malnutrition rates in some places are reaching dangerous levels.

X [lemma=be] VB-reaching Quant(dangerous) NN-transparent(levels|amounts|quantities)

[2018-03-23 23:15] bsharpataz commented on #214
[X] is becoming [Quant]

[2018-03-24 15:50] bsharpataz opened #217 "Only first sentence in webapp gets a parse at the bottom"
any chance we can fix that easily? (the table is the same, FWIW) and also btw I really like the table

[2018-03-24 16:01] bsharpataz opened #218 "Correlation event testing in testing framework should not be directional"
Seems like we're differentiating between EdgeSpec(A, Correlation, B) and EdgeSpec(B, Correlation, A), but Correlations are UndirectedRelations (cf. taxonomy) so we should allow either to pass just fine.

[2018-03-25 00:44] kwalcock commented on #217
I noticed that only the first sentence was diagrammed at the bottom and I was borrowing similar code, so I let it go.  If it looks useful, though, I'll (try to) add it.

[2018-03-25 00:57] kwalcock commented on #218
Good point.  The tests were written before this was an issue.  Since correlation is borrowing a lot of causal rules, we have a cause and effect as far as the rule is concerned.  Is that something that needs to be evaluated for some reason?  E.g., should there be a warning?  Making it undirected probably isn't a very difficult change.

[2018-03-27 03:36] kwalcock commented on #218
This has been addressed.

[2018-03-27 03:36] #218 closed

[2018-03-27 03:37] kwalcock commented on #217
This has been addressed.  The diagram on the bottom has also been extended across the full document.

[2018-03-27 03:37] #217 closed

[2018-03-27 03:37] kwalcock commented on #212
I think it worked, so closing now.

[2018-03-27 03:37] #212 closed

[2018-03-27 04:15] adarshp commented on #212
Sorry, forgot to update - yes it worked!

[2018-03-28 02:32] adarshp opened #227 "OutOfMemoryError when calling EidosSystem.extractFromText"
I'm getting an OutOfMemoryError when calling the extractFromText method, even though I raised my memory allowance in .sbtopts from 6GB to 12GB (this is what is in .sbtopts: `-J-Xmx12G`. Here is the sequence of actions that produces the error:

Bring up the scala REPL using `scala`, then do:

[code]

Can anybody reproduce this error?

Here is the error log:
[code]

[2018-03-28 02:35] MihaiSurdeanu commented on #227
The scala REPL does not obey .sbtopts. I suspect you'll have to set the memory allowance from the cmd line of scala.

[2018-03-28 02:37] adarshp commented on #227
That works, thanks!

[2018-03-28 02:37] #227 closed

[2018-03-28 03:09] ajaynagesh commented on #227
@adarshp : If you do want the scala REPL and still have sbt load your project (and read .sbtopts), you could try:

```sbt console```

[2018-03-29 00:21] adarshp opened #235 "Parentheses escaped as -LRB-, -RRB-"
When parentheses are present in the text, they get escaped as -LRB-, -RRB-, etc. This gets propagated to the sentence text in the JSON-LD output file. I suspect it might also cause some weird issues (such as the entity "Conflict" not being grounded).

Minimal working example with `sbt console`:

[code]

I think the issue is related to Universal Dependencies - I managed to find the following issues

[2018-03-29 02:45] MihaiSurdeanu commented on #235
This is necessary due to the fact that the syntactic parser expects parentheses to be represented this way. But I think this can (and should) be reverted in the canonical name.

[2018-03-29 02:51] bsharpataz commented on #235
Agreed, I can make that change, thanks for the issue!

On Wed, Mar 28, 2018 at 7:45 PM Mihai Surdeanu <notifications@github.com>
wrote:

[2018-03-29 03:18] kwalcock commented on #235
Thanks, volunteer.

[2018-03-29 03:27] adarshp commented on #235
Excellent, thanks Becky!

[2018-03-29 18:01] bsharpataz commented on #235
hey all -- so I think that perhaps the only place they *are* occuring in the JSON-LD is in the text field, not canonical name, which kinda makes sense looking at the code.  When I grep our example file, I can't find any examples of either with canonicalName -- @adarshp if you saw one, can you please send me a MWE so I can replicate it and write it up as a test? thanks!
As I understand it, @MihaiSu

[2018-03-29 18:27] adarshp commented on #235
You're right, they don't occur in the canonicalName. However, we were extracting the "text" field from the "DirectedRelation" entries as part of the provenance (if MITRE/analysts wish to inspect the original sentence). The other puzzling thing I saw was that the word 'conflict' was not being grounded: see the output of Eidos run on 10_FAO_a-i5505e.txt (one of the 52 docs from MITRE):

[code]
I tho

[2018-03-29 21:20] MihaiSurdeanu commented on #235
Fwiw, we should not revert parens in the doc text. Just in canonical names, if they occur there.

[2018-03-29 22:51] bsharpataz commented on #214
perhaps ties into copular correlations.....?
from Doc7, P1:
```After nearly four years of civil conflict, South Sudan remains one of the most food-insecure countries in the world.```
with edge:
`tester.test(EdgeSpec(food, Correlation, leanSeason)) should be (successful)`
-- correlation for now, but one day may become X-Precedes-Y...?

[2018-03-30 16:27] adarshp commented on #235
Sounds good - I can unescape them downstream to make the text more human-readable.

[2018-03-30 18:14] kwalcock commented on #75
In the JSONLD we have sources and destinations as generic terms.  It seems like one can only only conclude that these are cause and effect by noticing that the rule which produced them is a causal rule.  We're getting more rule types and other groups will need to know the role of the source and destination without having to decipher a rule.

[2018-04-02 06:50] adarshp opened #255 "Effect of period at end of sentence?"
With a period at the end of the sentence, one of the causal relations is missed:

<img width="694" alt="screen shot 2018-04-01 at 11 47 57 pm" src="https://user-images.githubusercontent.com/653549/38186295-224a105c-3607-11e8-979b-8e8a84320b5b.png">

But when the period is removed, the third one is picked up:
<img width="692" alt="screen shot 2018-04-01 at 11 48 23 pm" src="https://user-images.gith

[2018-04-02 17:41] adarshp commented on #170
many households were unable to cultivate.

[2018-04-02 17:59] bsharpataz commented on #255
addressed.  the issue is syntax. closing for now.

[2018-04-02 17:59] #255 closed

[2018-04-02 19:15] bgyori opened #257 "Canonical name handling formatting-related characters"
I found that the canonicalName in the JSON-LD output sometimes contains things like list bullet points. I'm sorry I don't understand how canonical names are constructed deeply enough to make this change myself, so I'm just reporting the issue.

Here is a case where the bullet point character is not stripped off in the canonical name:
[code]

Here is a more problematic case where the actual string

[2018-04-02 19:53] bsharpataz commented on #257
thanks!  feel free to go ahead and assign me

On Mon, Apr 2, 2018 at 12:15 PM, Benjamin M. Gyori <notifications@github.com

[2018-04-02 21:55] bsharpataz commented on #196
closing for now -- bc some other changes have invalidated the current example, we can reopen if needed.

[2018-04-02 21:55] #196 closed

[2018-04-02 23:52] kwalcock opened #261 "Inconsistent results"
Two runs of, for instance, ExtractFromDirectory, especially in the parallel version, can produce different results.

[2018-04-02 23:59] kwalcock commented on #261
So far this is tracked down to potential problems in the StanfordNLP package.  The SequenceGibbsSampler is stateful in

private static Random random = new Random(2147483647L);

and  NERClassifier has

Random random = new Random(2147483647L);

which is only used in training.  However, elsewhere this latter class makes a call to

SequenceGibbsSampler.getRandomSequence(model) which uses random number

[2018-04-03 04:34] adarshp opened #262 "IndexOutOfBoundsException when reading multiple documents"
When I try to read the 52 MITRE documents with ExtractFromDirectory, I run into the following error after a certain number of documents are processed.

[code]
(I have suppressed the rest of the stack trace for readability)

This occurs whether I keep or remove the parallelism in ExtractFromDirectory. The issue seems to be in the mergeAttachments function in EidosActions - in this line:

https://gi

[2018-04-03 04:58] kwalcock commented on #262
Please continue to pound on it.  Can you remind me where these 52 documents are stored?  Thanks.

[2018-04-03 05:18] adarshp commented on #262
It's in the shared Google Drive folder called WorldModelers: https://drive.google.com/open?id=1cHJIfQTr0XE2CEqbo4POSm0-_xzrDP-A

it's under evaluations/6month-eval/mitre-17Feb2018/DocumentSubsetArchive.zip

[2018-04-03 05:37] bgyori commented on #262
@adarshp are you running on the txt files that I uploaded here? https://drive.google.com/drive/folders/1ECQNUej2O3_W9NmlA-wyPkwY1UhW_qnD
I have read all of those with Eidos via INDRA (which calls Eidos classes directly rather than the CLI you are using here) and it worked well, though it takes a bit of time.

[2018-04-03 06:02] adarshp commented on #262
@bgyori Yes, I am running it on those. When did you run Eidos on the documents? I was able to do it a couple of weeks ago just fine, but when I tried to do it again today I was not able to. The mergeAttachment function where the error seems to be popping up was  first added 6 days ago and has undergone more recent modifications.

[2018-04-03 06:07] bgyori commented on #262
I ran them on 3/27 so yeah, it's possible that something changed since then.

[2018-04-03 16:19] kwalcock commented on #262
index is valid for attachments, since it comes from attachments.indexOf(mostCompleteAttachments.head)), but it is being used on group instead.  @ZhengTang1120, if this is your code, can you look at it again or let me know you don't have time or something?  Thanks.

[2018-04-03 19:30] kwalcock commented on #262
I'm working on a revised implementation and if we get two, we can compare output.

[2018-04-05 20:59] kwalcock commented on #262
That should fix the crashing issue.  In the future I'll run through the 52 documents locally before accepting any suspicious code changes, my own in particular.  @adarshp deserves a bug bounty.  Thanks.

[2018-04-05 20:59] #262 closed

[2018-04-06 06:20] bgyori opened #264 "ported_token_1_noun-Causal is overall not good"
I've been systematically looking at extractions and the overwhelming majority of extractions by `ported_token_1_noun-Causal` aren't right. The failures come from actual texts but I could reproduce them on minimal examples in the shell.

The issue seems to be that causal relationships are extracted from non-causal phrases due to inadvertently being triggered by a noun e.g. "IPC _Phase_ Source", "fo

[2018-04-06 06:38] bgyori opened #265 "Incresed by X percent extracted as a causal relation"
I guess the pattern here is "A increased by B" being extracted as B _causes_ A but "increase by" is often followed by the magnitude of the increase, not its cause:
- Wheat consumption increased by more than 900 percent
- net sorghum production increased by only 15 percentage points
- wheat increased by 69, 40, and 40 percentage points

These types of sentences shouldn't yield causal extractions.

[2018-04-06 06:58] bgyori opened #266 "ported_syntax_1c_verb-Causal is overall not good"
Partly due to #265, which is quite common, but also due to a number of other issues, the vast majority of ported_syntax_1c_verb-Causal extractions are incorrect. Since this rule accounts for ~18% of all extractions, putting some effort into improving it would make a big difference.

I found many cases where a causal relation was warranted like:
- supplementation of work oxen is likely to lead to i

[2018-04-06 16:16] kwalcock opened #267 "Memory requirements and configuration"
I'm recording this as an issue so that it doesn't take up meeting time and for the record.  Some assignees can also double check to make sure I haven't gone insane.

As @adarshp noticed some time ago and documented nicely on the README.md page, Eidos does not perform well under low memory conditions, and by low I mean a very high low.  One solution is to use the .sbtopts file to increase the maxim

[2018-04-06 16:49] adarshp commented on #267
Thanks for the heads-up, Keith. Looks like it is working fine for me.

[2018-04-06 17:56] bsharpataz commented on #266
thanks, I'll dig into these -- this is helpful!

On Thu, Apr 5, 2018 at 11:58 PM, Benjamin M. Gyori <notifications@github.com

[2018-04-06 18:46] bsharpataz commented on #214
`Cropping conditions are generally favorable in most western areas and central areas due to good performance of seasonal rainfall`
--> `Cropping conditions are generally favorable`

[2018-04-06 18:50] bsharpataz commented on #170
`pastoralists have depleted or lost their livestock assets due to the conflict`
--> `pastoralists have depleted or lost their livestock assets`
but with canonicalName of `livestock assets +Dec(depleted`

[2018-04-06 23:53] bgyori commented on #264
Having reviewed extractions with the latest version of Eidos, I can confirm that this is still an issue

[2018-04-06 23:56] bgyori commented on #265
This is also confirmed to still be an issue with the current version

[2018-04-07 00:02] bgyori commented on #266
Most of this issue has been resolved as of 93ce22e (everything in the first list above is correct now)! In addition, this rule now only accounts for 5% of extractions. However, the issues I listed in the two latter lists are still there, and so I'm not closing this yet.

[2018-04-07 00:05] bsharpataz commented on #266
thanks! very much appreciated!

On Fri, Apr 6, 2018 at 5:02 PM, Benjamin M. Gyori <notifications@github.com>
wrote:

[2018-04-07 00:05] bsharpataz commented on #265
thanks!

On Fri, Apr 6, 2018 at 4:56 PM, Benjamin M. Gyori <notifications@github.com>
wrote:

[2018-04-07 00:06] bsharpataz commented on #264
thanks!

On Fri, Apr 6, 2018 at 4:53 PM, Benjamin M. Gyori <notifications@github.com>
wrote:

[2018-04-07 00:19] bgyori opened #269 "Hearst patterns extracted as causal"
I noticed that the `ported_syntax_noun_Hearst-Causal` rule extracts Hearst patterns that could be useful for finding hyponyms (I just learned about what all this means in the last 10 minutes) but I don't think these should be extracted as `Causal`. For instance,
- dietary alternatives, such as other livestock
- emergency livestock support including provision of feed

currently produce causal relat

[2018-04-07 03:01] bsharpataz commented on #269
Ha! Yeah no joke, guess the “porting” was a bit careless at times... I’ll
def remove/move it soon

On Fri, Apr 6, 2018 at 5:19 PM Benjamin M. Gyori <notifications@github.com>
wrote:

[2018-04-07 15:05] bsharpataz opened #270 "syntax_4_verb-Correlation"
in explicit linkers:
see comments in rule
[code]

[2018-04-07 17:21] #269 closed, assigned to nobody

[2018-04-07 19:31] bsharpataz commented on #266
I fixed list 2 with a PR, but couldn't replicate list 3 (i.e., Hot days induced by precipitation).  If you have problems still, can you reopen with another example?
thanks!

[2018-04-08 16:51] #264 closed

[2018-04-08 16:51] #265 closed

[2018-04-08 16:51] #266 closed

[2018-04-09 00:56] kwalcock commented on #261
The above comments are the not cause of the current problem.  See below for the culprit.

[2018-04-09 02:09] kwalcock commented on #261
The NER system of StanfordNLP makes use of a WordShapeClassifier which can use several different algorithms.  Some of these algorithms make use of knownLCWords.  LC is for lower case.  This collection is updated in ObjectBankWrapper with the line knownLCWords.add(word);  The system begins with a list of some (around 10,000) lowercase words, which helps it know, for instance, whether a capitalized

[2018-04-09 03:51] MihaiSurdeanu commented on #261
@kwalcock, this is great detective work, thanks! Before discussing solutions, I think this issue should be filed in the CoreNLP project as well: https://github.com/stanfordnlp/CoreNLP. Can you please do it?

Potential solutions, other than changing the source code of CoreNLP:
1. Implement a custom NER using the Stanford CRF but with custom features. We are already doing this for the bio domain: ht

[2018-04-10 07:49] kwalcock commented on #261
Well, the detective work got to the bottom of it in the end, but there is a fourth solution and I am embarassed not to have realized it earlier.  This comes from directly from Stanford which had already recorded an issue and explanation in 2015 (https://github.com/stanfordnlp/CoreNLP/issues/83).

    props.put("maxAdditionalKnownLCWords", "0");

This can be added to ShallowNLPProcessor.mkNer and p

[2018-04-10 15:41] #267 closed

[2018-04-10 18:27] kwalcock opened #278 "Extension of JSON-LD format to accommodate BBN data and our own future work"
Disclaimer: There are many ways to do this and picking one will likely involve unknown forces of subjectivity, intuition, and conjecture that won't match mine.  In other words, this may be totally off base.

I'd like to divide the participants in our (binary) DirectedRelation and (binary) UndirectedRelation into essential and non-essential participants and not mix them.  This is so that the focus

[2018-04-11 00:35] kwalcock commented on #278
Those assignees are there just so they can get pinged for feedback (except for me).

[2018-04-11 06:32] MihaiSurdeanu commented on #278
I personally think this is overcomplicating things...
I suggest we get inspired in this representation by FrameNet (https://framenet.icsi.berkeley.edu/fndrupal/), who has been doing this for a while... What I would suggest is:

1. We remove the distinction between Directed vs. Undirected because this will become clear from other things, see below.
2. We instead allow the event @type to be somethin

[2018-04-11 18:08] adarshp commented on #278
I agree with Mihai's suggestions. Since we are thinking of going to a 'hyperedge' representation, perhaps there should be a meta-label called **participants** at the same level as **@type**, which maps to a list. This would allow for arbitrary numbers of **agents** and **patients**.

[2018-04-12 07:14] kwalcock commented on #278
My first reaction is "Collin Baker, Chuck Fillmore, ICSI?  I used to know these people.  Cool." (Not that I especially knew their work.)  There are definitely some things I like about the idea.  I saw the word revenge which is associated with avenger, degree, depictive, injured_party, injury, instrument, manner, offender, place, punishment, purpose, result, time.  This sounds like the kind of thin

[2018-04-12 15:29] bsharpataz commented on #278
@MihaiSurdeanu sorry for the delay -- just emailed Bonan

[2018-04-12 19:24] Fan-Luo commented on #170
immediate consequence of drought is a fall in crop production, due to inadequate and poorly distributed rainfall

[2018-04-12 22:33] Fan-Luo commented on #214
such schemes are untenable due to low repayments

[2018-04-12 22:33] Fan-Luo commented on #170
such schemes are untenable due to low repayments

[2018-04-12 22:42] Fan-Luo commented on #170
workers are forced to relocate from Leer, Ganyiel, Nyal, Mayendit, Koch, Melut and Kodok due to Ô¨Åghting

[2018-04-12 22:49] Fan-Luo commented on #170
Vaccination programmes were conducted around the towns earlier in the year and then discontinued due to insecurity

[2018-04-12 23:02] Fan-Luo commented on #214
classes of stock are generally in good body condition due to abundant forages

[2018-04-13 04:35] bnmin commented on #278
Thanks for looping me in @bsharpataz ! I prefer the simplified solution as @MihaiSurdeanu suggested, though I might not know as much context as many of you do. If you could share a JSON-LD representation for a few sentences, that would be very helpful.

[2018-04-13 15:52] #257 closed

[2018-04-18 17:27] kwalcock commented on #278
A draft of the new format can be found at https://github.com/clulab/eidos/wiki/JSON-LD2.  The two relations have been reduced to one relation with the addition of a "type" field to specify something like "causation" or "correlation".  Those must come from a second table which lists relations and their expected arguments.  Arguments are described in a single list which is similar to what was there

[2018-04-18 20:40] adarshp commented on #278
Just as a heads-up @kwalcock : You can make formatted tables in Github issues as well: you just need to convert each `+` in the second row to a minimum of three dashes `---`.

[code]
becomes:

|Name|Property|Type|Description|
|---|---|---|---|
|Corpus|`@type`|"Corpus"|A corpus is typed.|
||documents|[Document]|It has a list of documents|

(You need to put the backticks around `@type` to prevent Gi

[2018-04-18 20:59] kwalcock commented on #278
Thanks.  I had concluded before that Org-mode was necessary, but I guess that's not the case.  I just hadn't used the secret word.

[2018-04-19 04:51] bnmin commented on #278
Thanks a lot! In general, BBN's CAG representation is similar to this.

Here are a few places that are different:

1. Our CAG doesn't include sentences, words, and dependencies. We keep these for internal analysis but not as output to downstream applications.

For any extraction (entity, relation, event), we include a document ID and a pair of character offsets (start and end) as provenance. Our o

[2018-04-19 16:54] MihaiSurdeanu commented on #278
Hi Bonan,
Thanks for the detailed comments!

Let me try to answer:
"Our CAG doesn't include sentences, words, and dependencies. We keep these for internal analysis but not as output to downstream applications." - this is fine. Sentences/words/deps are optional. Some systems may produce them, some not.

Offsets: we token offsets because during tokenization we may transform the text (e.g., replace U

[2018-04-19 17:16] kwalcock commented on #278
The `@type` with @ is a JSON-LD thing.  labels without @ and type without @ are largely redundant.  If nobody needs the list of labels (or any of the other fields), they can be trimmed, of course.  Some elements may be present more for completeness than usefulness.  I would say that JSON is pretty good about ignoring things, though, so missing items may be more important than extra items.

[2018-04-19 17:51] MihaiSurdeanu commented on #278
So, should we simply use @type then?

On Thu, Apr 19, 2018, 10:16 Keith Alcock <notifications@github.com> wrote:

[2018-04-19 18:15] kwalcock commented on #278
I don't think so, at least not for Relation, but perhaps for Argument.  The value for `@type` is a closed class value that is used to define the JSON syntax, much like a class name.  Perhaps the second type should be renamed to avoid confusion.  There we're just expecting a string from an open (but agreed upon with others as need be) class to describe the relation or argument, but not influence an

[2018-04-20 04:41] MihaiSurdeanu commented on #278
Thanks! To make sure we're on the same page, can you please include here a simple example, say, what is the JSON format for the causal relation extracted from "A causes B"?

[2018-04-20 04:57] bnmin commented on #278
Thanks, Mihai!

Offsets: I think supporting both character offsets in raw documents and token offsets would be great! This allows systems that assume raw character offsets to be incorporated.

Representation of events: that matches my understanding. "relation" is less of a descriptive word to me:)
Adjusting Relation to include states/event properties would be useful. I think it would be really hel

[2018-04-20 15:55] kwalcock commented on #278
It might look like this with the new design, whereby the changed part is at the bottom:
[code]

[2018-04-20 16:29] MihaiSurdeanu commented on #278
I see. So "@type" is simply the data structure type encoded in the JSON.
I vote to rename this to Event from Relation.

"@labels" are the labels that apply to this event. In Keith's example above, these are hypernymy labels from our taxonomy. That is, Causal IS-A DirectedRelation IS-A EntityLinker IS-A Event, where Event is the top of the taxonomy, and Causal is the terminal. Bonan, I think what w

[2018-04-23 04:08] kwalcock commented on #261
The patch has been added to processors and released so that Eidos can readily use it.  That hasn't solved the entire problem, though.  We had noticed earlier that attachments were output in an inconsistent order.  I think they may be added to a set from different threads.  The solution is to order them at some point and I'm doing that just before output.  Afterwards, in testing the 52 files, I sti

[2018-04-23 15:36] MihaiSurdeanu commented on #261
What is actionable here?

[2018-04-23 17:36] kwalcock commented on #261
I just need to figure out what the problem is and fix it.

[2018-04-23 20:38] kwalcock commented on #278
I renamed Relation to Event as was suggested.

For each of our words in a sentence, we have startOffset and endOffset.  These appear to be offsets in characters from the start of the document.  Perhaps it isn't the original document, though, and I'll check.  The value in the sentence texts has at least spaces added and there is some conversion of things like ( to -LRB-.  For those, the offsets ind

[2018-04-23 20:53] MihaiSurdeanu commented on #278
Thank you @kwalcock!
It seems to me that we have a format.

@bnmin: I wonder if you could produce the output of some representative BBN relations/events in this format, to make sure that we are on the same page? Then we can write a spec for this format, and share it with the rest of the program.

Thanks!

[2018-04-24 14:01] bnmin commented on #278
Thank you! @kwalcock @MihaiSurdeanu

@MihaiSurdeanu Sure! We are working on implementing a serializer that can output this format. I'll keep you posted. There are a few issues we found. I will also post our comments here.

Thanks,
Bonan

[2018-04-27 17:36] kwalcock commented on #261
This was finally handled with #287.  Different rules were output because of attribute ties.  In the extreme case this was of attributes that looked the same (i.e., same trigger) but had different classes.  It would be good to periodically run ExtractFromDirectory on the collection of 52 documents and compare output with a previous version.  Our idea of Attribute identity is somewhat fluid and some

[2018-04-27 17:36] #261 closed

[2018-04-27 18:12] kwalcock opened #288 "Classpath problem with sbt"
The kwalcock-classpath branch has a test TestSerialization with a few lines that cause problems.  (See PR #289.)  They are commented out in the master branch.  Basically, the line `val copy = decoder.readObject()` causes

[code]

when run under `sbt`.  However, it works for IntelliJ and Eclipse.  I assume these have taken over the classpath and magically solve the problem.  Our users, most importa

[2018-04-27 18:30] kwalcock commented on #288
@marcovzla, you seem to have some expertise in this area.  I don't think this has high priority, but if you  happen to be looking at `build.sbt` for some reason, like for Spark integration, please keep an eye out.

[2018-04-27 19:31] kwalcock commented on #278
|Event type|Argument type|Notes|
|+++|+++|+++|
| | |BBN|
|Event| | |
| |Place| |
|Cause-Effect| | |
| |has_cause| |
| |has_effect| |

[2018-04-28 03:26] bnmin commented on #278
@MihaiSurdeanu To answer your questions:
1) Entity mentions: Yes, we grouped all entity mentions under an entity block, if possible (there would be NPs that we only have one mention per entity)
2) Merge events and relations: Yes. They are similar in representation. We need to tweak our code a bit to support that.

Thanks!
Bonan

[2018-04-30 04:43] bnmin commented on #278
Please find a newer version of our CAG in this JSON-LD format:
[wm_m6_debug_10doc.json-ld.zip](https://github.com/clulab/eidos/files/1959573/wm_m6_debug_10doc.json-ld.zip)

A few issues/questions, or our thoughts:

1) Word, Dependency, and Sentence

We did not output Word nor Dependency. Words are not necessary because we only output document character offsets as provenances.

In fact, Sentences a

[2018-04-30 17:45] marcovzla commented on #288
i'm working on it

[2018-04-30 19:30] marcovzla commented on #288
I believe this is now solved, so I will close this issue.
Feel free to reopen if needed.

[2018-04-30 19:30] #288 closed

[2018-04-30 21:53] kwalcock commented on #288
Thanks!

[2018-05-01 03:44] bnmin commented on #278
Thank you @MihaiSurdeanu !

1. Re: merge Event and Relation

Yes. We have merged Event and Relation. There will only be Event (Relation can be idenfied by looking at "labels").

2. Re: #7

I might be missing something, but I couldn't find where the path to ontology is specified in your JSON-LD file. Is there a hidden assuption of where is it?

Here I'm throwing random thoughts (not a big fan of ei

[2018-05-01 03:46] MihaiSurdeanu commented on #278
On 7: we do not report the path to the ontology in the grounding now, but we should. @kwalcock: what is the simple idea for this (see also the work that Ajay is implementing this week)?

[2018-05-01 14:06] MihaiSurdeanu commented on #278
@bnmin: I slept on it, and I have some issue with 4 above: you seem to include mentions for entities but not for events/relations. Correct? If so, wouldn't be more elegant to store individual mentions for all extractions, and add a CorefersWith to link mentions of the same entity together?

[2018-05-01 14:28] bnmin commented on #278
Thanks @MihaiSurdeanu. For the CoreferesWith relation, this would be more elegant. However, we would prefer to use "Unifies" relations which are broadly defined (it can group extractions that don't corefer with each other). This relation allows better visualization and showing of a reasonable, abstract causal graph from limited extractions.

[2018-05-01 20:36] kwalcock commented on #278
Right now we (UA) do not output the original document text, but only the processed sentence text.  It would be good to see the original text without having to consult the original file.  They (BBN) do record the original text at the sentence level (I'm not sure about any sentence separators), but then report documentCharPositions.  To get to the text, one would have to concatenate all the sentence

[2018-05-01 20:41] adarshp commented on #278
@kwalcock: I thought the original document text is contained in the Sentence objects (under Corpus/Document)? Is that not accurate?

[2018-05-01 20:50] kwalcock commented on #278
FWIW, we have IDs like "@id" : "_:Document_1" rather than "@id": "SEN-ENG_NW_20180124-42" based on https://www.w3.org/TR/json-ld/#node-identifiers where it says

6.14 Identifying Blank Nodes
This section is non-normative.

At times, it becomes necessary to be able to express information without being able to uniquely identify the node with an IRI. This type of node is called a blank node. JSON-LD

[2018-05-01 21:05] adarshp commented on #278
Ok, got it. I think it would be good to have the original sentence text included with the JSON-LD output. If we encounter a link in a CAG that seems off, we can examine the sentence that produced it and try to understand why it happened (broken syntax/entity not being captured, etc). In other words, increased transparency, ability to 'drill down', etc.

[2018-05-01 22:20] bsharpataz opened #297 "broke display of attachments in webapp"
we now get:
List(NounPhrase, Entity) => production
     ------------------------------
     Rule => simple-np++Decrease_ported_syntax_2_verb
     Type => TextBoundMention
     ------------------------------
     NounPhrase, Entity => production
     * Attachments: org.clulab.wm.eidos.attachments.Decrease@1c905409, org.clulab.wm.eidos.attachments.Quantification@b716b2d4
     -----------------------

[2018-05-01 22:26] kwalcock commented on #297
It looks like I forgot to test something.  Thanks for finding my bug.

[2018-05-01 22:59] bsharpataz commented on #297
thanks for everything you do, man!

On Tue, May 1, 2018 at 3:26 PM, Keith Alcock <notifications@github.com>
wrote:

[2018-05-01 23:29] kwalcock commented on #278
If what are known in the table (https://github.com/clulab/eidos/wiki/JSON-LD2) as Entity and Event are consolidated, something needs to be done with Entity.mentions, Entity.state, Event.trigger, and Event.arguments.  Entity.mentions might morph well into Event.arguments

|Extraction type|Argument type|Notes|
|---|---|---|
|"entity"|"mention"||

but an argument is supposed to be an existing entity.

[2018-05-01 23:43] kwalcock commented on #278
The value "type": "/entity/GPE/Nation" for an entity, "labels": [ "Entity" ] found in the file, is not quite what we had in mind.  I think that we would express it the other way around: "type": "entity" and "labels": [ "Nation", "GPE", "entity" ].  The extraction type (as in the table above) is thought to come from a small set of pre-defined values like causation, correlation, unification.

[2018-05-01 23:50] kwalcock commented on #278
State type | State text
-- | --
modality | Asserted
genericity | Specific
polarity

There was one table above that describes State.  For us the state is something like INC, DEC, and QUANT, which compares mostly OK.  For state text we have actual text from the document rather than some pre-defined values like Asserted and Specific above.  We're using these fields differently.  The output may be mix

[2018-05-01 23:55] kwalcock commented on #297
Hopefully fixed with #298.  Yell at me if not.

[2018-05-01 23:55] #297 closed

[2018-05-02 04:54] bnmin commented on #278
Thanks @kwalcock ! I was confused by the usage of "type" and "labels". In your example, Entity doesn't have "type" but have "labels" such as `"labels" : [ "NounPhrase", "Entity" ]`. That led us to believe that "label" comes from a small set (e.g., whether this is a NounPhrase and/or an Entity) but "type" comes from a large sets of ontological types such as "/entity/GPE/Nation", etc.

Thanks,
Bonan

[2018-05-02 16:41] kwalcock commented on #278
Re: "https://github.com/clulab/eidos/wiki/JSON-LD" namespace is certainly very useful, is it possible to put it in a place that can faciliate colloboration. An example suggested by ISI is w3id.org.

Most of the JSON-LD schemas are at a place called schema.org, but I don't see a way to easily add your own schemas there.  Our Wiki page has the additional disadvantage of not completely supporting HTM

[2018-05-03 15:51] kwalcock opened #300 "Questionable code for matching brackets and braces"
This code was copied into Eidos from Processors.  The definition of "match" is in question.  After the first pair, the match is quite loose.  Can @myedibleenso, who GitHub blames for this, explain the intention?  I rewrote it to check for proper nesting, but that may be overkill.  Neither code deals well with things like "We want to 1) do this 2) do that and 3) do the other thing." which doesn't p

[2018-05-03 16:26] MihaiSurdeanu commented on #300
The intention of this I think is to make sure each entity has matching parens. I'm not sure how well this works for nested parentheses...

I wonder what we should with Keith's example above. I think in the majority of cases, we do want matchin g parens. Maybe we should detect lists and exclude them?

[2018-05-03 17:04] kwalcock opened #301 "Changed JSON-LD format"
The wiki page (https://github.com/clulab/eidos/wiki/JSON-LD) has been updated to show the format of the current master branch as of the merge of pull request #295.  Changes are highlighted and relate to support of multiple groundings.  This issue is so that @adarshp and @bgyori are sure to know about it and have a place to comment.  There are lots of other changes in the pipeline pending discussio

[2018-05-03 17:29] myedibleenso commented on #300
Yes, it was quick and dirty.  Glad you noticed it.  If you've already fix this check, it would be nice to replace what's currently in `processors`.  In any case, it sounds like that particular constraint might not be desirable for what you're doing here in eidos.

[2018-05-03 17:49] adarshp opened #303 "Clean up README?"
Do you plan to keep support for both JSON and JSON-LD output in the future? Perhaps it would be better to clean up the README by removing the JSON output part, especially if it is outdated.

[2018-05-03 18:04] kwalcock commented on #303
I'm ignorant of most plans.  The JSON can be useful in testing and real serialization where we have to write something out and read it back in for further processing.  However, it is incomplete and outdated.  It could be kept in the code for our internal use but not advertised on the front page.  I think others who know more about the future will want to weigh in.

[2018-05-03 19:37] bsharpataz commented on #303
I kinda like it not being on front page as well, as it changes regularly
with updates to the system.  It also takes a while to scroll through.
Perhaps on another page linked from front page?

On Thu, May 3, 2018 at 11:04 AM, Keith Alcock <notifications@github.com>
wrote:

[2018-05-03 21:11] adarshp commented on #303
I vote for replacing the JSON and JSON-LD output in the README with links to Github wiki pages. In fact, I would suggest deprecating the pure JSON functionality altogether for ease of maintenance.

[2018-05-03 21:30] kwalcock commented on #301
I'm hoping that most of these changes are transparent to you, but probably not.  The document text is now included and documentCharPositions is part of the provenance.  Positions in provenance are arrays.  They were supposed to have been before.  If any of this looks temporarily problematic, I can comment out code.

[2018-05-03 21:34] kwalcock commented on #301
I may get the attachment/state provenance added, but that may be the limit.  The bigger changes (e.g., merge of Entity, DirectedRelation, UndirectedRelation) have not been ironed out.

[2018-05-03 21:40] bgyori commented on #301
Thanks, I'm working on updating the input processor in INDRA for these changes, will post if I run into any issues.

[2018-05-03 21:53] bgyori commented on #301
I'm halfway through, the changes are really straightforward and I like the new format!

[2018-05-08 05:13] bgyori opened #310 "Grounding to UN ontology always "example""
I was wondering, is it the expected behavior that groundings always point to "examples" in the given UN taxonomy branch? For instance:
[code]
Given that there is a specific entry for trucking (https://github.com/clulab/eidos/blob/master/src/main/resources/org/clulab/wm/eidos/un_ontology.yml#L381), I would have expected the grounding to point to that rather than its "examples" parent.

[2018-05-08 05:55] bsharpataz commented on #310
Yes -- this is essentially a bug.  The entities aren't actually grounded to
"examples", rather that is the name of a metadata field, and the entity is
grounded to the string just prior to "examples" (e.g.,
"/UN/entities/human/livelihood/examples"
would be equivalent to "/UN/entities/human/livelihood"). This is what Mihai
was referring to this morning at the meeting and I believe it will be
remedie

[2018-05-08 05:56] bgyori commented on #310
Okay, thanks! I didn't make the connection with the discussion but it makes sense.

[2018-05-10 00:58] kwalcock opened #312 "Deduplication of entities"
EidosMention.asEidosMentions only gets called on one document's worth of mentions at a time, so it cannot mix up mentions across a corpus.  It's when we get to serialization that it might possibly occur.   Becky rightly put the HashMap into EidosMention and left IdentityHashMap in JLDSerializer.  If the hash function identifies what we want to deduplicate, then it looks like a reasonable solution.

[2018-05-14 16:16] MihaiSurdeanu commented on #278
Hi @bnmin,
I hope your LREC trip was great.
If you're back, any comments on @kwalcock's comment above?
Thank you!
Mihai

[2018-05-14 17:40] kwalcock commented on #312
This will be preserved for posterity among the closed issues.

[2018-05-14 17:40] #312 closed

[2018-05-15 04:34] bnmin commented on #278
Thanks @MihaiSurdeanu
There are many points made in @kwalcock 's comment above, for which I don't fully understand. Could you please elaborate on each of them...?

I understand that states, trigger, arguments can be optional values.

I think Entity.mentions ("CoreferWith" relations between mentions) are different from what a broadly-defined "Unifies" relation would ideally represent ("Unifies" can

[2018-05-15 15:41] MihaiSurdeanu commented on #278
Thanks @bnmin, @kwalcock!

On the Unifies vs. CoreferWith relations: yes, they are different. The point I was trying to make was that coreference relations could be represented in a similar fashion, with an explicit relation that links two mentions (CoreferWith), rather than packaging them in the same Entity block. I think having the explicit CoreferWith relation is more elegant for at least two r

[2018-05-15 16:31] kwalcock commented on #278
The JSON-LD2 page was updated.  The Entity and Event have been combined into an Extraction (a better word is welcome).  What used to be an Entity is now an Extraction with an Extraction type (see the bottom table) of "entity".  Events have some other kind of Extraction type such as "causation", etc.

The trigger, state, and arguments may be difficult to discern and here is a summary of the differe

[2018-05-17 02:15] kwalcock commented on #310
This is in the pipeline, currently waiting at PR #311.

[2018-05-17 02:34] dgarijo commented on #278
Hello,
@kwalcock
regarding the w3id, I created some time ago https://w3id.org/wm/ontology. (WM is for world modelers). If you want, we can use that w3id for this effort. Something like https://w3id.org/wm/cag? (Or any other name that you prefer). Please let me know if you want me to help here, I have set up many w3ids in the past.

[2018-05-17 04:16] kwalcock commented on #278
@dgarijo Thanks for the offer and the reminder.  Somewhere above I wondered about what name we should use and nobody responded.  If it turns out to be wm/*, you'll be sure to find out.  @MihaiSurdeanu should be sure to weigh in.  I wonder if there are any issues about who is in charge of the mapping.

[2018-05-17 04:59] MihaiSurdeanu commented on #278
@dgarijo's suggestion sounds great. @kwalcock: can we go with that namespace?
Thanks!

[2018-05-17 15:40] kwalcock opened #315 "Namespace for JSON-LD"
This is being moved here to separated it from other JSON-LD issues.  More will appear soon.

[2018-05-17 15:43] kwalcock commented on #278
@dgarijo, there is a new issue #315 for namespace considerations.

[2018-05-17 16:42] kwalcock commented on #315
So, I think this means that we can use the URL (below) on the left in the JSON-LD and it will map to the one on the right which will take the curious to our specification.  If our wiki page moves or changes format, the mapping can be changed to match.  @dgarijo, can you make a rewrite rule for .htaccess to do this mapping?  If so, we have about 15 of them just now and they will change as we update

[2018-05-17 21:16] kwalcock commented on #315
Cool.  The present list then continues with the same pattern for these items: Corpus, Document, Word, Dependency, Entity, DirectedRelation, UndirectedRelation, Groundings, Grounding, Provenance, Interval, State, Modifier, and Trigger.  If there is a way to match them generically, it could save a lot of work.  Something like ^cag/([^/]+)$ https://github.com/clulab/eidos/wiki/JSON-LD#user-content-$1

[2018-05-17 22:48] dgarijo commented on #315
Done: e.g., https://w3id.org/wm/cag/Grounding

[2018-05-17 23:12] kwalcock commented on #315
Great.  Thanks for sorting out the details.

[2018-05-17 23:12] dgarijo commented on #315
no problem

[2018-05-17 23:26] kwalcock commented on #278
The context is no longer based on the relatively short-lived https://github.com/clulab/eidos/wiki/JSON-LD but rather on https://w3id.org/wm/cag/ and the two JSON-LD Wiki pages have been updated to reflect that.

[2018-05-18 00:23] kwalcock opened #316 "Scalability"
As discussed at a recent Monday morning meeting, some of our Apps are expecting input files to  have one paragraph per line.  Each paragraph is treated as a separate document and processed.  This works well with the files that were converted from PDFs by hand, like the 8 or 10 we have been using for testing.  With the full set of 52 which were automatically converted, however, this doesn't work we

[2018-05-18 02:07] MihaiSurdeanu commented on #316
Thanks @kwalcock!

We've seen this behavior before: the text produced from the PDF reader has huge sentences because of lack of punctuation. Some of the components we have depend on sentence length, so they are completely off for very long sentences.

One simple solution I suggest: insert an artificial period whenever the text contains *two* new lines wo/ any text in between. This usually indicate

[2018-05-18 04:41] kwalcock commented on #316
We could have the problem you mention, but this test is being performed with known, fairly well behaved text.  It's pasted below.  To make the document longer, I just concatenate another copy.  We are probably doing more searching and sorting than previously and perhaps I should comment it out to see if that's the culprit.

Food insecurity levels are extremely alarming throughout the country due t

[2018-05-18 21:34] MihaiSurdeanu commented on #316
Yes, the sentence boundaries are reasonable here...
Can you please do an ablation test to understand where the most significant slowdown is? Is it parsing? In the grammars? In grounding? In the code following the grammars?
Thanks!

[2018-05-22 19:07] kwalcock commented on #316
The program has been running with a profiler since yesterday and there will be results soon.
I wonder how the artificial period you suggested previously will affect provenance if it is inserted outside of the processor.  Could the situation be handled by what you are working on now with the tokens, some of which are being inserted behind the scenes like ", and"?  If some sort of "paragraph breaker

[2018-05-22 20:15] kwalcock commented on #316
In the current design, but perhaps not the new one Becky is working on, the few lines of keepCAGRelevant were a hotspot.  This is because Mentions are repeatedly compared to each other there, and really a very slow Mention.equals is the culprit.  It uses the hashCode.  hashCode is a def for Mentions, meaning that it is always recalcuated.  A simple equals can bail at the first unequal field, but h

[2018-05-22 23:34] kwalcock commented on #316
The next hot spot was State.mergeLuts which has a line mentions.distinct which will go repeatedly through all the mentions and check for equality.  Since this is already in Processors, I added caching to the Mention hashCode.  It looks promising so far.  Playing with object identity is dangerous, so several people should look at this in the end.  The longer text should at least finish.

![image](h

[2018-05-23 02:54] bsharpataz commented on #316
Nice work, Keith!

On Tue, May 22, 2018 at 4:35 PM Keith Alcock <notifications@github.com>
wrote:

[2018-05-23 03:18] #303 closed

[2018-05-30 13:01] kwalcock opened #318 "Dealing with large files"
There are at least three options:

1. One can add binary files to a release.  Unfortunately, the binary file is then not delivered when the project is cloned.  Instead, the zip or tar.gz file of the source has to be downloaded and then the binary in a separate step.  The binary file will not be placed correctly in the directory structure.  This is not good for developers or for Travis, but it migh

[2018-05-30 13:35] kwalcock commented on #318
Does publish in 6 mean to a public maven repository then?  org.clulab?

[2018-05-30 13:38] MihaiSurdeanu commented on #318
Yes.

Of course, we will have to modify the README in the fork to make clear that:
- All credit goes to dl4j for the work
- This is a temporary release due to the bug fix.

[2018-06-05 09:42] kwalcock opened #322 "Ontology file format"
This is extending PR #311. I decided to make it an issue, even though it may be difficult to find.

[2018-06-05 09:42] kwalcock commented on #322
Regarding WDI and the duplicate paths...

[code]
On these the paths are often duplicated, but the descriptions are different.  At one point (IIRC) the code threw these into a set based on path and then extracted them.  This resulted in a loss of some of the descriptions.  I believe that the grounding is intended to be based on those potentially lost descriptions.  As we make the paths unique, shou

[2018-06-05 09:42] kwalcock commented on #322
Regarding the IDs...  I'm not sure where they came from or what they are intended to do.  Are they supposed to be unique within an ontology, between our ontologies, between ontologies built by anyone?  At some point we started adding a top level to the path (-UN:, -FAO:, -WDI:).  This in combination with the remaining unique path gives us uniqueness across at least our ontologies.  This ID is so f

[2018-06-05 10:08] kwalcock commented on #322
And just for completeness, we have at least "examples" and "descriptions".  These will not be generalized into "texts" or "values" or something, because "descriptions" is our trigger to perform filtering on POS.  Rather than indicate this at every single node, assuming all nodes are the same in the ontology, this could be indicated at some higher level.  In that case, the branch for field ("texts"

[2018-06-05 13:45] MihaiSurdeanu commented on #278
Hi @bnmin: to follow up on our conversation at NAACL, I think the only major thing remaining in us declaring success on this task is switching to a mention-based representation for Entities. Agree?

[2018-06-05 14:00] MihaiSurdeanu commented on #322
- I agree that duplicated nodes should be merged, and the corresponding descriptions be merged into a "descriptions" array.
- Please see my slide about the new format. "examples" and "descriptions" should NOT be part of this path, but rather be fields in the OntologyNode class. @kwalcock, @ZhengTang1120: Please let me know if this is clear. @kwalcock: I would like to see a JSON that encodes a toy

[2018-06-05 14:27] kwalcock commented on #322
Do you mean YAML format instead?  So far, all input to Eidos is YAML and output is JSON.

[2018-06-05 14:28] MihaiSurdeanu commented on #322
Sorry, I meant YAML!

[2018-06-05 14:34] kwalcock commented on #322
The old "toy" ontology gets a top level and "examples" so that it doesn't have to use "others" that was seen in the code.  Maybe there's an ID.
[code]

[2018-06-05 14:36] kwalcock commented on #322
Not much is changed for UN except a "-" if I understand the syntax correctly.
[code]

[2018-06-05 14:44] kwalcock commented on #322
FAO only ever had one description, but since WDI can have multiple, it is a list here.  FAO has not used _ instead of spaces for node labels, unlike the other files.  We should pick one way or the other.  We could make use of this and call our things _examples and _descriptions.

[code]

[2018-06-05 14:49] kwalcock commented on #322
Duplicate descriptions are combined for WDI.
[code]

[2018-06-05 14:51] MihaiSurdeanu commented on #322
What I had in mind was something closer to Marco's format. For example, the FAO one would look like:

- FAO: # new FAO ontology
  - events:
    - Agriculture orientation index:
      - OntologyNode: // or Terminal?
          name: Gross Fixed Capital Formation (Agriculture, Forestry and Fishing)
          descriptions:
            - "Agriculture orientation index Gross Fixed Capital Formation (Agr

[2018-06-05 15:03] kwalcock commented on #322
Oh, I thought OntologyNode was a general description of what is "positive_nature_impact:" in one place and "negative_nature_impact:" in the next place.  I'm very good at misunderstanding.  Name: is new and is that last part (terminal) of the path.  I like explicit.  IDs are apparently gone.  I was assuming that we would generate them because they are probably not in the source data.

[2018-06-05 15:13] MihaiSurdeanu commented on #322
I like explicit too.

"id" is gone for now. But might be populated in the future, somehow...

[2018-06-05 15:38] kwalcock commented on #322
@ZhengTang1120, are we inserting the _ in these things or is it in the source data?

nature_impact
positive_nature_impact
Access_to_clean_fuels_and_technologies_for_cooking__(%_of_population)

[2018-06-05 15:49] kwalcock commented on #322
Should we be GSNifying (Game Show Network, I assume) the FAO data which does not appear to follow that convention?  Thanks.

[2018-06-05 15:50] MihaiSurdeanu commented on #322
We should. This was assigned to Ajay and Zheng. But it’s not the highest priority. At least for the next week or so.

[2018-06-05 16:14] bsharpataz commented on #322
We should generate the GSN format.  I don't think either ontology is
currently in the GSN format, it’s much more specific than simply
underscores

On Tue, Jun 5, 2018 at 8:50 AM Mihai Surdeanu <notifications@github.com>
wrote:

[2018-06-05 16:36] ZhengTang1120 commented on #322
@MihaiSurdeanu @kwalcock Actually, '_' was added by us to replace the white space in name.

[2018-06-05 16:38] MihaiSurdeanu commented on #322
Ok. Then the GSN formatting still needs to happen.
Nevertheless, let’s go with these names for now.

[2018-06-05 20:54] kwalcock commented on #316
At a recent meeting I think that somebody suggested running through the PDF files that @EgoLaparra has collected.  I did a quick pdftotext over the ones I found on Google Drive and see that a 2016/White_Paper/v118rd550.txt is about 1100KB.  The guestimated processing time is around 3.6 hours.
Heads up.  So far we've only needed to turn in things that we've processed on our own time.  Will we ever

[2018-06-05 21:05] MihaiSurdeanu commented on #316
Thanks! Can you explain what these plots mean?

[2018-06-05 21:51] kwalcock commented on #316
Some lines are just old timings run after some different kinds of optimization were performed.  We should be on the grey curve now, but it is quite an extrapolation.  The x-axis units were ~4KB texts and I see that I even divided wrong, so here's a version with more standard units.  It looks like it might approach 18,000 seconds or 5 hours for the largest file.  I don't know about the memory requi

[2018-06-05 22:43] ZhengTang1120 commented on #322
I updated the ontologies, please let me know if there is bug in them.

I checked the wdi ontology again. I found that there are commas in the name field. So the duplicates we got is due to the bug in my code. Sorry about that.

[2018-06-06 01:11] bnmin commented on #278
Yes! @MihaiSurdeanu Agree that we should switch to a mention-based representation for Entities. I think we would want to represent an Entity coreference cluster {e1, e2, e3} by 1) creating an event group e4 (also of type Event), 2) creating relations CoreferWith(e4, e1), CoreferWith(e4, e2), CoreferWith(e4, e3). Does this make sense? Thanks! - Bonan

[2018-06-06 07:47] kwalcock commented on #322
If there is just a single description, then it should probably look like.

[code]
I'm adding a couple more comments to your commit.

[2018-06-06 08:33] kwalcock commented on #322
At some point it was decided that "toy" was not a professional enough name for an ontology.  If we need to keep this one at all, can we think of a better name?  Can we use "ex" as in "example" or mearning "former".

[2018-06-06 14:30] MihaiSurdeanu commented on #322
I agree with @bsharpataz: we should keep just the latest version of each ontology.
We can always go back in time on github to find the older ones.

[2018-06-06 14:32] MihaiSurdeanu commented on #278
Yes, it does. Thanks!

[2018-06-06 14:34] MihaiSurdeanu commented on #316
Thanks @kwalcock!

I wonder why the growth is super linear... You did find some issues in Odin code. Any other ideas?
(This is not urgent)

[2018-06-06 14:52] kwalcock commented on #322
It sounds like the toy ontology should go.  I will also remove code that configuration settings related to it.  @ZhengTang1120 doesn't need to update it then, either.

[2018-06-06 15:15] kwalcock commented on #316
I wonder how some things like List.distinct are implemented.  It could easily be n^2.  The first tests didn't go far enough up the curve to show an obvious culprit.

[2018-06-06 21:47] bgyori opened #323 "Running Eidos from JAR via Java"
In principle it should be possible to use Eidos as a portable JAR without having to have sbt installed and then call it as
[code]
which currently produces
[code]
My question is, does anyone know how I could build the JAR such that I can effectively call
[code]
with some appropriate arguments to `java -jar`? Sorry for my ignorance in this matter...

[2018-06-06 21:51] bsharpataz commented on #323
check this:
https://stackoverflow.com/questions/45471440/how-to-execute-a-class-with-main-method-which-is-present-in-fatjar-created-by-gr

I've done this in the past -- I think you use the -cp flag to specify the
class path of which main class you're trying to run

On Wed, Jun 6, 2018 at 2:47 PM, Benjamin M. Gyori <notifications@github.com>
wrote:

[2018-06-06 23:16] bgyori commented on #323
Perfect, so
[code]
works, thanks!

[2018-06-06 23:16] #323 closed

[2018-06-07 15:29] bgyori opened #325 "Extraction of causal paths, preserving implied order"
While reading some relevant documents, I encountered a very common pattern of "A leads to B via C".  Which implies the causal chain A->C->B.

A real example is:
[code]
A simple synthetic example to better highlight the issue is
[code]
for which we currently get "rainfall" -> "food insecurity" and "rainfall -> "flood", equivalent to A->C and A->B given the pattern above. Would it make sense to extr

[2018-06-07 16:50] MihaiSurdeanu commented on #325
This is a good one. Thanks!
We'll start on this. Maybe @bsharpataz and I can work on this.

[2018-06-07 20:04] adarshp opened #326 "Interesting sentences from ISI 12-document sentences"
While skimming the 12-document set from ISI, I came across the following sentences that Eidos wasn't able to process, but might potentially be useful downstream:

from `The Nile Basin Water Resources Atlas-Chapter 2_0.pdf`:

<img width="908" alt="pastedgraphic-3" src="https://user-images.githubusercontent.com/653549/41123307-0c822ed2-6a53-11e8-96df-dc3bffadcb45.png">

There should be (at least) th

[2018-06-08 21:56] bsharpataz commented on #214
Food insecurity is becoming more severe across a wider area and is deepening for people already made vulnerable by displacement and conflict.

[2018-06-10 03:16] MihaiSurdeanu opened #328 "Change to processors 7.4.0-SNAPSHOT"
Processors branch "bettertok2" implements major changes in tokenization.
Eidos branch "proc740" adjusts eidos to work with this version (7.4.0-SNAPSHOT).

2 out of 405 tests fail in eidos:
sbt 'test-only org.clulab.wm.eidos.serialization.json.TestJSONSerializer'
sbt 'test-only org.clulab.wm.eidos.text.eval6.TestDoc2'

@kwalcock: can you please look at these two?
Additionally, CoreNLP now throws a

[2018-06-10 17:20] MihaiSurdeanu commented on #328
I isolated the CoreNLP component that is generated these warnings. I am looking into it today.

One of the failing tests might be related to an issue in processors. I'll include you @kwalcock in that conversation.

[2018-06-10 19:28] kwalcock commented on #328
Is it a local branch of Eidos that is failing?  The one I see here is failing because of a dependency problem.

[2018-06-10 19:29] MihaiSurdeanu commented on #328
proc740

(you have to publishLocal processors first)

[2018-06-10 20:51] kwalcock commented on #328
I don't see that raw is being included in org.clulab.serialization.json.SentenceOps.jsonAST.  Since it is used in calculating the hash code, it would need to be written and read back in.  raw is empty now when the sentence is read back.  Is that enough of a clue?

[2018-06-10 22:58] MihaiSurdeanu commented on #328
I have a rough idea where these come from. I am working on it now.
However, they are triggered in a Stanford component that we do not use currently, so it doesn’t affect Eidos functionality.

[2018-06-11 01:17] MihaiSurdeanu commented on #328
I fixed the warnings above.
@marcovzla fixed the JSON test.

The only test that still fails is:
sbt 'test-only org.clulab.wm.eidos.text.eval6.TestDoc2'
@kwalcock, can you please look at this?

Meanwhile, I am merging 7.4.0 into processors master.

[2018-06-11 07:47] kwalcock commented on #328
There's a comment for @MihaiSurdeanu at https://github.com/clulab/eidos/commit/8afb4a21feb325619d2a5bd66aa96c307115625c.

[2018-06-11 19:29] MihaiSurdeanu commented on #322
What we discussed this morning probably fits here.
@ZhengTang1120, can you please make sure that duplicates are handled correctly in the WDI ontology? For example, there are 4 nodes for Adjusted_net_savings:

https://github.com/clulab/eidos/blob/master/src/main/resources/org/clulab/wm/eidos/ontologies/wdi_ontology.yml#L86

even though each has a different description. This may be a bug: if the ori

[2018-06-12 11:22] kwalcock commented on #322
It looks like the duplicates mentioned just above have been fixed in the zheng branch, which is where we've been working.  I think a comma in the input complicated something, but it looks better now.  I should have realized this possibility earlier in the conversation yesterday.

[2018-06-12 12:40] kwalcock commented on #322
For the FAO and WDI ontologies which have descriptions, we are filtering 1272 and 1586 sentences respectively through the processor's annotator.  FAO's short sentences are taking ~1 minute, but WDI is taking around 6.5 minutes.  The result is the very same each time and it seems unnecessary to do this every time the program is called (with the applicable settings which are normally off).  I wonder

[2018-06-12 14:28] bsharpataz commented on #322
If we add preprocessed deps (perhaps optionally), I’d like to suggest that
we do fairly minimal editing before or after and just store the whole
Document.  Alternatively, you can try using a mkPartialAnnotation method.
We sometimes use those to speed things up when we don’t need everything
(like coference resolution, etc).  If you want to go this route I can point
out an example, or you can grep f

[2018-06-12 14:34] MihaiSurdeanu commented on #322
I agree filtering should happen offline. And if this happens offline, we don't need to store annotations, no? Am I missing something?

[2018-06-12 15:02] kwalcock commented on #322
I will check out mkPartialAnnotation.  It may make a more extensive change less urgent.

[2018-06-13 07:14] kwalcock commented on #328
FWIW I haven't forgotten this.

[2018-06-14 11:40] kwalcock commented on #322
@bsharpataz, I don't see a mkPartialAnnotation anywhere in eidos or processors.  Can I be grepping wrong?

[2018-06-14 14:36] bsharpataz commented on #322
here's one (forgive the weird indentation):
def mkPartialAnnotation(text: String): Document = {
val doc = procFast.mkDocument(text)
procFast.tagPartsOfSpeech(doc)
procFast.lemmatize(doc)
procFast.parse(doc)
doc.clear()
doc
}

On Thu, Jun 14, 2018 at 7:26 AM, Rebecca <bsharp@email.arizona.edu> wrote:

[2018-06-14 18:54] MihaiSurdeanu commented on #325
I can confirm that we do not process this perfectly. From the synthetic text above, we extract:

Causes(rainfall, food security)
Causes(rainfall, floods)

when the correct extractions should be:

Causes(rainfall, floods)
Causes(floods, food security)

@marcovzla and @bsharpataz  suggested we add an extra grammar layer that appends the "via C" to previously extracted "A causes B" events. But I wond

[2018-06-18 16:41] bgyori opened #343 "Compilation errors due to ontologies"
Having just updated to the latest master, with un, wdi and fao turned on in my config, I'm getting the following errors. Any idea what this is?
[code]

[2018-06-18 16:58] kwalcock commented on #343
It seems like there might be an extra copy of DomainOntology.scala in the src/main/scala/org/clulab/wm/eidos/utils directory that shouldn't be there.  Is that a possibility?  It should only be in the groundings directory.  Perhaps Dropbox hasn't gotten around to removing an old one.

[2018-06-18 20:36] bgyori commented on #343
It looks like the problem was related: though there wasn't an extra copy of the scala file, I thought maybe there could be stale classes in the targets folder so I removed targets/scala-2.12/classes and that seems to have solves the issue. Thanks!

[2018-06-18 20:36] #343 closed

[2018-06-20 07:44] kwalcock opened #345 "Eidos throws exceptions on files in our larger collection"
Documents 10, 11, 17, 25,  26, 28, 30, 31, 42 cause java.util.NoSuchElementException or java.lang.RuntimeException: what? that need to be looked into.

[code]

[code]

[2018-06-20 15:55] ZhengTang1120 opened #346 "Grounding Util expects all three ontologies"
We should fix that, make them optional.

[2018-06-20 15:55] ZhengTang1120 commented on #346
when running apps.MakeMITRETablesFromDirectory

[2018-06-22 11:36] bsharpataz opened #353 "OntologyNode metadata should be able to be prioritize/enabled in config"
We are finding that some metadata fields are less useful for a given ontology -- a user should be able to specify which field they want to use for grounding in a given ontology

[2018-06-22 11:51] kwalcock commented on #353
Do you mean of the fields coming from the Mention?  The canonical name is not always good?
P.S. You should not be awake.

[2018-06-22 12:30] bsharpataz commented on #353
Nope, the fields from the ontology, like in the MESH one the descriptions
are throwing us off, so it’d be nice to be able to ground using only
examples there without having to change the ontology file itself (though
officially we could do that instead)

On Fri, Jun 22, 2018 at 7:51 AM Keith Alcock <notifications@github.com>
wrote:

[2018-06-22 12:31] kwalcock commented on #353
It looks like Zheng is onto something in the mesh branch.  The canonical name for a mention uses lemmas.  When we add the descriptions to the ontologies, we do not use lemmas.  POS is used to filter for the good words to use, but lemmas are never collected.  The raw words are used directly to look up a vector.  Doesn't this mean that lots of unlemmatized words will not be found?  Capitalization wi

[2018-06-22 12:34] bsharpataz commented on #353
O, it won’t... ok, so then we should decide if we want to use lemmas or
words, and be consistent.  We should decide in part based on the vectors
we’re using, and what they were trained on.  Unlike stems, lemmas are still
words, so theoretically we could go either way?

On Fri, Jun 22, 2018 at 8:31 AM Keith Alcock <notifications@github.com>
wrote:

[2018-06-22 12:34] kwalcock commented on #353
Ah, this is the first and only ontology we've had with both descriptions _and_ examples.  Then furthermore the descriptions are not helpful.  Maybe they should be called something else and ignored.  One search and replace can fix that.

[2018-06-22 16:13] ZhengTang1120 opened #354 "Output format issue"
There is a format issue in `org.clulab.wm.eidos.apps.MakeMITRETablesFromDirectory`. If the entity we extract contains line break, it will mess up the output tsv.

[2018-06-22 17:35] bsharpataz opened #355 "make the JSONLD and internal names match the newer inclusive format"
we can discuss, but the JSON wiki is now mostly up to date but the code hasn't changed yet --
also we should finish the update of the reader description wiki

[2018-06-25 22:15] bsharpataz commented on #345
I think this was fixed with #347

[2018-06-25 22:15] #345 closed

[2018-07-04 00:54] EgoLaparra opened #362 "Error accessing norms from grammars"
I'm trying to create a rule for temporal attachment using norms:
[code]
I've been able to create the attachment with other fields like "lemma", but with "norm" I get this error:
[code]
I have also tried with version 7.4.0 of processors, but I get the same outcome. How should I access norms?

[2018-07-04 02:01] marcovzla commented on #362
I believe this was added to processors 7.4.1 but it hasn't been released yet.
@MihaiSurdeanu should that version be released soon? or are we waiting for something?

[2018-07-04 02:50] kwalcock commented on #362
Thanks, @marcovzla.

[2018-07-04 04:59] MihaiSurdeanu commented on #362
@EgoLaparra: can you please try this with publishLocal in processors, first?
If it works, I will release it next.

[2018-07-04 06:22] EgoLaparra commented on #362
@MihaiSurdeanu, it works!

[2018-07-04 14:45] MihaiSurdeanu commented on #362
Ok, 7.4.1 is being released now. Should be on maven in 5-6 hours.

[2018-07-05 21:50] kwalcock commented on #355
The code has been changed and there is a PR waiting to be merged.

[2018-07-05 21:57] kwalcock opened #364 "Cause and effect start on same word"
In some cases were seeing cause and effect overlap, and in fact starting on the same word.  Six of the 52 test files exhibit the problem.

So far this has been noticed to happen with three rules and these counts:
7 - syntax_explicit_Correlation_given
1 - ported_syntax_5_verb-Causal
1 - dueToSyntax2-Causal

Diffs of the zipped files attached will lead to the sentences, rules, etc. in question.  One

[2018-07-14 06:22] bsharpataz commented on #354
@ZhengTang1120 any chance you can work on this, now in the context of the ExtractAndExport app?

[2018-07-14 06:23] bsharpataz commented on #362
@EgoLaparra  is this resolved?

[2018-07-14 19:17] bsharpataz commented on #214
Seems to be resolved with current pipeline...

[2018-07-14 19:17] #214 closed

[2018-07-16 20:16] marcovzla commented on #328
I believe this relates to #362 since that issue is solved by upgrading to processors 7.4.1

[2018-07-20 18:40] #346 closed

[2018-07-26 22:54] bsharpataz opened #374 "create properties ontology"

[2018-07-26 23:02] bsharpataz opened #375 "add filter for just VBN entities"

[2018-07-26 23:02] bsharpataz commented on #375
The expected intensification of seasonal rains over northern Uganda is expected to help gradually ease rainfall deficits that developed earlier in the season.

[2018-07-26 23:12] bsharpataz opened #377 "end as dec trigger"
Urgent action to end the conflict, improve humanitarian access to severely food insecure populations

[2018-07-27 18:03] #374 closed

[2018-07-27 18:09] bsharpataz commented on #375
this is actually already in place... but the webapp (as a debug tool) shows all mentions, even ones we are filtering before we give to mitre.  So -- to resolve this I will add optionality to the webapp i think...

[2018-07-27 18:38] kwalcock commented on #355
Indeed, thanks.

[2018-07-27 18:38] #355 closed

[2018-07-27 18:41] #377 closed

[2018-07-27 21:12] #375 closed

[2018-07-28 16:12] bsharpataz opened #383 "Cross-sentence context"
Just an example passage to save for later (food for thought)
from Doc 15:
```Of greatest concern are Guit, Koch, Leer, and Panyijiar counties in Unity State. In these areas, Emergency (IPC Phase 4) levels of food insecurity observed during the 2016 lean season have likely persisted during the typical harvest period, as many households were unable to cultivate. Most continue to rely primarily on fi

[2018-07-30 14:08] bsharpataz opened #385 "filtering sentences"
We need to add a filter for bad sentences (likely using some simple heuristics, like mixed casing, odd parens, etc)

Example sentences (that should become unit tests):
```INCREASE OF PRICES FOR STAPLE FOODS 150 South Sudanese Pounds DISPLACEMENT The cumulative effects of poor living conditions , malnutrition and inadequate services in a context of conflict and massive displacement have weakened re

[2018-07-30 15:32] bsharpataz opened #387 "ground to CSDMs too"
course... if we add this, we should really perhaps think about some ontology routing? or some score normalization....?

[2018-07-30 15:35] bsharpataz commented on #387
http://geoscienceontology.org/about.html

[2018-07-30 20:41] bsharpataz opened #388 "Profile the webapp"
We need to profile the webapp with grounding enabled (i.e. with useW2V=true).  I worked on serializing the ontology and honestly it didn't seem to save much time at all...

@marcovzla suggested that ppl have used https://github.com/clulab/reach/wiki/flight-recorder in the past...

[2018-07-30 20:45] bsharpataz opened #389 "should noun-noun compounds with inc/dec heads not trigger the Attachment?"
@MihaiSurdeanu

I ask because since we're grounding... and some ont nodes have a sense of polarity baked in (i.e. food insecurity vs food security).

and/or we can exclude inc/dec triggers from the matching algorithm...?

**Example**
```In countries such as India , where legumes rather than animals are the preferred source of protein , these changes in the quality of food crops will accelerate the

[2018-07-30 20:49] MihaiSurdeanu commented on #389
Can you please explain what the problem is in the output above?

[2018-07-30 20:53] bsharpataz commented on #389
sorry -- trying to format stuff. it's that the concept gets a Decrease bc of deficiency, and the it grounds to "food_insecurity", so we have a decrease in food_insecurity, but it's the opposite of what we want, though...

for the record, without the "deficiency" bc of hunger here it still grounds to famine and is marked as a decrease in famine (also bad) but perhaps the point is still valid?

[2018-07-30 21:01] MihaiSurdeanu commented on #389
Maybe the solution is to *not* consider tokens for Increase/Decrease if they are the head of the phrase?

[2018-07-30 21:05] bsharpataz commented on #389
yes, that's exactly what I was suggesting :) so you're on board then?

[2018-07-30 21:06] MihaiSurdeanu commented on #389
yes

[2018-07-31 13:33] bsharpataz opened #392 "Include new gradable adjs"
Move to releases and include in eidos

[2018-07-31 13:33] bsharpataz opened #393 "Reason over multiple attachments (Inc/Dec) on same Concept"

[2018-07-31 13:33] BeckySharp opened #394 "Ontology Diagnostic Tool"

[2018-07-31 13:34] bsharpataz opened #395 "Include Negation and Hedging"
make sure makes it to the output, perhaps as a larger confidence score that includes document confidence?

[2018-07-31 13:34] bsharpataz opened #396 "Fix conjunction splitting"

[2018-07-31 13:35] bsharpataz opened #397 "Automate determination of OntNode polarity"
Perhaps with some sentiment tools?

[2018-07-31 13:36] bsharpataz opened #398 "Make Precision analysis Export format"

[2018-07-31 13:37] BeckySharp opened #399 "Determine grounding score threshold"
This may in fact need to be a supplement to changes to the grounding algorithm.  Also, at the moment, the threshold would have to be ontology specific, but this is slightly nonideal, if we can make a modification to the approach to better compare across ontologies.

[2018-07-31 13:48] bsharpataz commented on #394
- brainstorm and add a bunch of visualizations
- cluster based on what grounds to what?
  -- homogeneity of clusters?
  -- size of clusters?
 -- where are the clusters in relation to each other? i.e., if we "cluster" the clusters, does it highlight some too dense areas that need more disambiguation?

[2018-07-31 13:56] bsharpataz opened #400 "Try to remove dependence on Chunks in the EntityFinder"

[2018-07-31 13:58] bsharpataz opened #401 "Simplify/Clean Rules"
Coordinate effort to remove some optional args of rules, provide examples/comments, rename to something semantically more meaningful

[2018-07-31 13:58] bsharpataz opened #402 "Initial push to populate docstrings in eidos"
80/20?

go for all?

[2018-07-31 13:58] MihaiSurdeanu commented on #400
+1

[2018-07-31 13:59] MihaiSurdeanu commented on #401
+1

[2018-07-31 14:04] bgyori commented on #402
This would be great especially for EidosSystem.scala and all the apps. It would make sense to prioritize those since those are used by downstream applications.

[2018-07-31 14:19] BeckySharp opened #403 "Filter sentences ahead of time"
do some grammatical-goodness checks and ignore some sentences... mixed case is a sign of bad text..
 - CoreNLP has a component for case correction, e.g., “THis is BAD” => “This is bad” (hopefully steal some code from there to check for this?)
 - Processors uses an approach to determining if a period is part of an abbrev or sent end, can we use this alg here?

[2018-07-31 14:29] bsharpataz opened #404 "API for directed reading (i.e. procuring and processing more docs based on a downstream user query)"

[2018-07-31 14:31] bsharpataz commented on #396
prob requires non-contiguous entities

[2018-07-31 14:31] bsharpataz opened #405 "Incorporate coreference"

[2018-07-31 14:33] bsharpataz commented on #397
http://sentiwordnet.isti.cnr.it

[2018-07-31 15:32] kwalcock commented on #405
Is it a good time to merge the PR that supports coreference?  Are you all in the middle of sensitive operations?  See #372.

[2018-07-31 15:38] kwalcock commented on #402
What is meant by docstrings?  The scaladoc documentation?

[2018-07-31 15:45] kwalcock commented on #388
Thanks for the tip.  Previously I used JProfiler, but the trial period expired.

[2018-07-31 15:46] MihaiSurdeanu commented on #405
Please don’t merge anything until after the PI meeting.

[2018-07-31 16:35] kwalcock commented on #388
Last time I looked at this the conclusion was that not much could be done without changing the code in Processor's Word2Vec.  One problem is that it takes too long to start up because the entire ~5.5GB vector file is processed each time.  Another problem is that the entire dataset of around 2.2 million words is kept in memory the entire time, even though we process far fewer words in each run so t

[2018-07-31 16:38] MihaiSurdeanu commented on #388
Thanks @kwalcock! I like this idea.
But before we commit, can you please take a look at the loading code? This was written a while ago by a student, and it might be sub-optiomal. Maybe there is something super inefficient there?

[2018-07-31 17:15] kwalcock commented on #388
Breaking out the profiler soon...

[2018-07-31 19:00] kwalcock opened #406 "Make reference.conf"
This is Marco's idea, I believe, and this is here to ensure that the good idea is not forgotton...

Is this change below still in the works?

"One thing I would like to do is to store all the config defaults in a file called reference.conf instead of hardcoding them in EidosSystem. This would allow us to use variables even in the defaults. An explanation of the utility of a reference.conf can be f

[2018-08-01 12:50] bsharpataz opened #407 "Factuality and Extraction confidence"
- export a richer/finer estimation of the reader's confidence in a given extraction

[2018-08-01 16:06] kwalcock opened #408 "Sort extractions more nicely for JSONLD output"
Even if entities are done first, sort them by (document, sentence, offset) and then the same within relations, possibly independent of the kind of relationship now.

[2018-08-01 16:14] bsharpataz opened #409 "Add Properties to groundings"
When applicable.  The properties "wing" was already moved out in to a separate file.  Do we *always* include, only sometimes? etc...

fyi @bgyori

[2018-08-06 16:38] bsharpataz commented on #401
- need to also evaluate the quality of the rules -- so have a resource that has the current quality of the rule (living document)
- focus on causal/correlation/template
- divide and conquer

[2018-08-06 17:51] bsharpataz commented on #407
subsumes #395 ?

[2018-08-06 17:55] bsharpataz opened #410 "Event timeline"
- decide on how/when to run
- export format
- can we also order ours alongside BBNs
- can we make use of BBN's temporallyPrecedes Relation

[2018-08-06 18:37] MihaiSurdeanu commented on #407
Yes, this does subsume #395. Negation and hedging should be used as features in the factuality classifier. Can you please close #395?

[2018-08-06 20:12] bsharpataz commented on #395
closed bc subsumed by #407

[2018-08-06 20:12] #395 closed

[2018-08-06 23:13] kwalcock commented on #405
Some coreference code was merged today.  If a CrossSentenceMention happens to be produced, the rest of the code should handle it.

[2018-08-07 01:06] MihaiSurdeanu commented on #405
Are there unit testa for this? If not, can you please ask Becky to provide examples?

[2018-08-07 05:02] bsharpataz commented on #405
no unit tests -- we need those, and I/someone also needs to change the type
of mention used internally and check to make sure we're not dumping "this"
at the end...

On Mon, Aug 6, 2018 at 6:06 PM Mihai Surdeanu <notifications@github.com>
wrote:

[2018-08-07 05:40] kwalcock commented on #405
There is a test in TestJLDSerializer.  The CrossSentenceMention is made programmatically.  If one needs to be generated via Odin and a rule, then perhaps it can be part of a different commit.

[2018-08-07 14:06] MihaiSurdeanu commented on #405
I see. Becky, should there be a different issue for the actual coref code?

[2018-08-07 14:24] bsharpataz opened #411 "Coref code"

[2018-08-07 14:25] bsharpataz commented on #405
Just added now

On Tue, Aug 7, 2018 at 7:23 AM Rebecca <bsharp@email.arizona.edu> wrote:

[2018-08-07 16:31] kwalcock commented on #388
@ajaynagesh, it seems like you usually provide the matrices for word2vec.  Our code uses line.split("\\s+") to get at the values, which is relatively expensive.  It looks like the vector files we've been using consistently have a single space as a separator.  If we can change the code to line.split(' '), we'll save significant amounts of time.  Do you think that's safe?  The program will issue a c

[2018-08-07 16:51] ajaynagesh commented on #388
@kwalcock: This is part of the Word2Vec library in processors right ? My answer would be if we change this in the library, we could add documentation to make this a requirement (and also make sure we remove extra spaces before creating the matrix). I do not see any other issue in changing to `line.split(' ')`

[2018-08-07 16:53] MihaiSurdeanu commented on #388
Good catch @kwalcock. I wonder what the slowdown is when using \\s+ vs. \\s when the file contains a single space as separator...

[2018-08-07 20:02] kwalcock commented on #388
If the split can be made on a simple space, then the loading times for the uncached version are lowered significantly, but probably not enough.

52 seconds -> 36 seconds for vectors.txt and
138 seconds -> 95 seconds for glove.840B.300d,vector.txt

on my computer and on the spinning disk.  It's probably worth making that simple code change, but stopping there won't suffice.  Some 2/3 of the remaini

[2018-08-07 20:05] MihaiSurdeanu commented on #388
Yes, probably not sufficient.

@marcovzla: what was that Spotify library you mentioned?

[2018-08-07 20:13] kwalcock commented on #388
Via Ajay and Steve:

https://github.com/spotify/annoy
https://github.com/spotify/annoy-java

I started looking at it yesterday.  Not sure about it  yet.

[2018-08-07 21:19] kwalcock commented on #388
Just for documentation of due diligence, if the vectors are serialized and read back in, similarly to the cached ontologies, there's not much to gain and lots to lose:

36 seconds -> 28 seconds for vectors.txt (not much to gain) and
95 seconds -> 280 seconds for glove.840B.300d,vector.txt (lots to lose)

That looks like a dead end.

[2018-08-07 22:17] kwalcock commented on #388
Does anyone (@ajaynagesh, @MihaiSurdeanu) know about this Word2Vec.readBinaryMatrix(bytes: Array[Byte])?  It reads in almost the same format as the usual version except that all numbers are recorded as binary in the file.  There is much less parsing this way.  I don't see any code that would produce such a file, but someone wanted to read it in once upon a time.  This may be a more efficient seria

[2018-08-07 22:40] kwalcock commented on #388
It won't take long to test.  It's the text version that is questionably accurate.  That data can fit into Floats.  The Doubles we have are overkill for this input.

[2018-08-08 02:47] bsharpataz commented on #388
Keith -- thanks for looking into all these avenues fwiw

On Tue, Aug 7, 2018 at 3:41 PM Keith Alcock <notifications@github.com>
wrote:

[2018-08-08 16:40] kwalcock commented on #388
So, caching/serialization in the default binary format of a Word2Vec wasn't working, probably because of slow Java serialization.  I think this was largely because of the complicated hash table of arrays that is storing the data.  This data for count words and a vector size of dims can be stored in a single array of floats of size (count * dims).  The list of separate words can be combined into a

[2018-08-08 18:18] MihaiSurdeanu commented on #388
Nice job! This is awesome.
Yes, let's go with this idea.
This means writing a converter program that takes the current String-based format and converts it to this efficient format, right?

[2018-08-08 18:36] kwalcock commented on #388
It will still read the original text format, but will also write and then read back in the cached, serialized format.  The memory format will change to more resemble the serialized format than the text format.

[2018-08-09 23:36] kwalcock commented on #388
@ajaynagesh, are the words in the vector files supposed to include any duplicates?  For glove, there is a repeated, messed-up entry that appears just after "Tayside" and again after "commendations".  This messes up some counting downstream.  I'm expecting the number of unique words to match the number at the top of the file.  Can you check your copy?  Would it be easy for us to use some kind of co

[2018-08-09 23:49] ajaynagesh commented on #388
@kwalcock .. checking this locally .. will report to you soon...

[2018-08-10 00:05] ajaynagesh commented on #388
@kwalcock : I downloaded a fresh copy of GLoVe embeddings and checked that those messed up entries are present in the freshly downloaded file as well. Strange!

[2018-08-10 00:09] kwalcock commented on #388
Drat.  That means that I have to find a way to deal with them.  Thanks very much for checking.

[2018-08-10 00:14] ajaynagesh commented on #388
Those are the only 2 words (after Tayside and commendations) which contain those junk characters. Perhaps they are some unicode encoded words which are non-printable. Can we ignore those 2 lines if it is messing up our downstream processing ? I think we can. @MihaiSurdeanu, @marcovzla, @bsharpataz ?

We could have to appropriately correct the header file. It will now be `2196015 300` instead of `2

[2018-08-10 00:24] kwalcock commented on #388
It's not very far downstream.  It's probably easier for me to deal with so that we can use it unchanged.  There will just be an ugly hack in the code.

[2018-08-10 19:14] kwalcock commented on #388
In isolation, the smaller vectors completely processed can take as little as 4 seconds and the glove file 10 seconds.  However, seeing that while working on the webapp is doubtful.  There I see more like 15 and 35.  @bsharpataz (or anyone else) would you care to test the kwalcock-CompactWord2Vec branch?  You'll need to run CacheOntologies once first as well as edit the eidos.config file.

[2018-08-14 00:31] kwalcock commented on #316
The largest file in the 17.5k collection of files on Google Drive is 3740KB.  This isn't going to finish in a reasonable time.  There are numerous (>90) 1MB files that will take around 4 hours each.  That's not really reasonable, either.  What to do, @MihaiSurdeanu?

[2018-08-14 01:49] MihaiSurdeanu commented on #364
This clearly should not be allowed...

Where should we handle this, @marcovzla and @bsharpataz? Inside Odin (that is, report a warning, and drop the mention), or inside a global action in eidos?

[2018-08-14 01:50] MihaiSurdeanu commented on #316
Good catch. In Reach, we simply skipped files > 1MB. I suggest the same strategy here. Maybe we can be even more aggressive on this threshold? Say 0.5MB?

[2018-08-14 03:16] bsharpataz commented on #364
I think its an eidos issue.  I’ll try to work on it tomorrow between
meetings...?

On Mon, Aug 13, 2018 at 6:49 PM Mihai Surdeanu <notifications@github.com>
wrote:

[2018-08-14 07:04] kwalcock commented on #316
This is not very accurate, especially on the low end, but it shows an estimate of processing time for each file and then total processing time if they are sorted from smallest to largest.  Based on this, it would take several thousand hours to process all 17k documents.  The smallest 20% of them might be done in around one hour.  40% of them might be processed overnight in 10 hours.  (I'm not sure

[2018-08-14 07:11] kwalcock commented on #316
To what extent might this be a solution to indexing: don't include the indra data in advance?  Instead, we index all the text files and include the file names and file sizes in the index.  Someone does a search and the answer is the names and sizes of the files that would need to be processed in order to see something interesting.  Something downstream can filter out files that are too large or on

[2018-08-14 15:41] MihaiSurdeanu commented on #316
I like your last point (dividing the files into chapters) for the files we have to process. But for the purpose of this exercise, I would:
- Fix the bug that you discovered (assigned to @bsharpataz).
- The rerun Indra on the smallest 40 - 50% of the files. Can you please generate this list, so we can send it to Patrick?

[2018-08-14 16:14] kwalcock commented on #316
Just to be sure...  It's Eidos that I've been running.  I've been assuming that Patrick was taking the Eidos output and running Indra on it.

[2018-08-14 16:16] MihaiSurdeanu commented on #316
No, Indra calls Eidos programmatically. I don't know if they can read Eidos's output into Indra. Can you please ask Patrick if they have this functionality? This would save them some CPU cycles...

[2018-08-14 22:06] bgyori commented on #316
Sure, if Eidos already produced some output as JSON-LD, INDRA can just process those into Statements the reading isn't required to be done with the involvement of INDRA (we just do it that way because then we can control it through a Python API).

[2018-08-14 22:24] kwalcock commented on #364
Here's a smaller file with the same error: 2016_Mixed Material_a-i6232e.txt

[2018-08-14 22:41] kwalcock commented on #316
I've got a test running to check the feasibility of processing all files that are less than 20,000 bytes, which should be 40% of the collection.  It will produce a large file that might be difficult to transfer.  Can someone specify which ontologies and which vectors?

[2018-08-14 22:44] kwalcock commented on #364
2013_Book_a-aq404e.txt
2016_Mixed Material_a-i5563e.txt
2013_Mixed Material_a-av122e.txt
2009_Meeting_a-ak536e.txt
2008_Document_a-ai556e.txt

[2018-08-14 22:55] MihaiSurdeanu commented on #316
@bsharpataz ?

[2018-08-15 01:09] kwalcock commented on #316
I'll go ahead and use all ontologies and glove.

[2018-08-15 01:56] bsharpataz commented on #316
That's what i would have said, but fwiw if we see diffs among ontologies,
you may want to check with MESH ontology which is far larger than any of
ours

On Tue, Aug 14, 2018 at 6:09 PM Keith Alcock <notifications@github.com>
wrote:

[2018-08-15 15:38] kwalcock commented on #316
It did better than expected and got through all text files with sizes less than 50,000 bytes, which is the shorter 60% of the files.  A zip file is being prepared.

[2018-08-17 23:39] adarshp opened #413 "Error while trying to run webapp - things being imported twice"
Hello,

When I tried to run the Eidos webapp, I get errors about things being imported twice.

Lines https://github.com/clulab/eidos/blob/097c05b822fb382ecb04d67ef335513a0b56066d/src/main/scala/org/clulab/wm/eidos/EidosSystem.scala#L12 and https://github.com/clulab/eidos/blob/097c05b822fb382ecb04d67ef335513a0b56066d/src/main/scala/org/clulab/wm/eidos/EidosSystem.scala#L16

seem to import ontologie

[2018-08-17 23:45] bsharpataz commented on #413
hmmm... i ran into and fixed that recently ... maybe just on a branch?
shoot let me look for it

On Fri, Aug 17, 2018 at 4:39 PM Adarsh Pyarelal <notifications@github.com>
wrote:

[2018-08-17 23:55] bsharpataz commented on #413
are you on the latest master?

On Fri, Aug 17, 2018 at 4:45 PM Rebecca <bsharp@email.arizona.edu> wrote:

[2018-08-18 00:26] adarshp commented on #413
This is the latest commit:

[code]

[2018-08-18 01:03] kwalcock commented on #413
It's not causing me problems, either, although it wouldn't suprise me if it did.  The webapp gets compiled in a different way than the rest of the code and we have no unit test for that.  I usually forget to run the webapp before checking in code.  I wonder if there is a stale file hanging around.  The two in the error message shouldn't be causing conflict.  FAOOntology should only be in DomainOnt

[2018-08-18 01:36] bsharpataz commented on #413
Try a fresh pull and if you still have issues please tell me! I saw this
rcently and dont yet remember where... but webapp is running for me (on my
branch off of the latest master)

On Fri, Aug 17, 2018 at 6:03 PM Keith Alcock <notifications@github.com>
wrote:

[2018-08-20 17:36] bsharpataz commented on #413
@adarshp is this still a problem?

[2018-08-20 17:38] bsharpataz commented on #403
closes #385

[2018-08-20 18:18] adarshp commented on #413
@bsharpataz Haven't tried it yet, will do so this afternoon and let you know.

[2018-08-20 18:45] bsharpataz commented on #413
great -- shall we close then?

[2018-08-20 18:45] adarshp commented on #413
Yep!

[2018-08-20 18:45] #413 closed

[2018-08-21 23:00] kwalcock commented on #388
@MihaiSurdeanu, @bsharpataz, here's some documentation about how this works for Eidos.

During the building of the ontologies, Eidos calls `wordToVec.makeCompositeVector(ontologyNode.values)`.  This method creates just a single array, adds the values associated with all the values/strings to that array, and then normalizes it in place.  v.get returns not an array, but an index into the larger arra

[2018-08-21 23:01] #362 closed

[2018-08-21 23:05] kwalcock commented on #388
P.S.  Array[Double] has been kept for compatability reasons.  The internal Word2Vec storage is for Floats.  If MeSH is so terribly large, then space could be saved by using the Floats for the ontology as well.

[2018-08-21 23:26] EgoLaparra opened #414 "Moving to processors 7.4.1?"
The temporal_attachment branch needs version 7.4.1 of processors to get access to norms. Is master going to be updated to this version at some stage?

I have noticed that version 7.4.1 produces a slight different tokenization in some cases what can cause some tests to fail. For example, for the sentence (TestDoc3, paragraph 14):

[code]
processors 7.3.1 tokenizes "and/or" as a single token, while

[2018-08-21 23:36] kwalcock commented on #414
I think we were just waiting for a good enough reason and time to switch.  The branch proc740 is now so old that it has complex merge conflicts.  I was going to reapply the changes to a new branch of master.  There was at least one test that would fail last time I looked.  Is it time to do this and should we go for 7.4.1 right away?  I suspect that you already have a good candidate branch.

[2018-08-22 00:30] MihaiSurdeanu commented on #414
Yes, let’s release 7.4.1 and update!

[2018-08-22 21:24] #278 closed, assigned to adarshp, MihaiSurdeanu, BeckySharp, kwalcock

[2018-08-22 21:28] kwalcock commented on #328
This is superseded by #414

[2018-08-22 21:28] #328 closed

[2018-08-22 21:29] #316 closed

[2018-08-22 21:32] #301 closed

[2018-08-23 15:00] marcovzla commented on #414
The portuguese2 branch is already using processors 7.4.2
maybe we could use that one?

[2018-08-23 15:04] MihaiSurdeanu commented on #414
First of all, @marcovzla: turn off your computer :)

7.4.2 hasn't been released yet. We need to commit new PT models, which will probably happen when @gcgbarbosa is back.

[2018-08-23 15:10] marcovzla commented on #414
:} ok i will turn it off.
i merged master into portuguese2 so i think we will be ready to merge once the models are ready.

[2018-08-23 15:13] marcovzla commented on #414
Also, seems like this was solved by #415
should we close this issue?

[2018-08-23 15:36] #414 closed

[2018-08-24 22:02] kwalcock opened #416 "Be able to work with MeSH ontology"
I finally notice that there is a MeSH ontology in one of the branches.  Is this really for Eidos and not REACH?  It has some 58,742 nodes with a relatively deep structure and with relatively long names.  It might be worth not flattening out the paths to each of the nodes into strings and instead making use of the tree structure.  I volunteer.

[2018-08-31 21:26] MihaiSurdeanu commented on #416
Nice!

So, where is that overhead that Zheng mentioned coming from?

On Fri, Aug 31, 2018 at 2:24 PM Keith Alcock <notifications@github.com>
wrote:

[2018-08-31 21:30] kwalcock commented on #416
However, it does take a lot of time to load the file in the first place.  This is without caching at all.

![image](https://user-images.githubusercontent.com/8679738/44936615-51f45980-ad2a-11e8-8370-6704a219f6f0.png)

[2018-08-31 21:33] kwalcock commented on #416
I'm checking to see if an older version of processors was used.  There was an issue with the caching of the hash values that was optimized shortly before the hackathon.  I'm not sure how long it took to propagate.

[2018-09-01 01:36] MihaiSurdeanu commented on #416
1. We should definitely compress the nodes on the path, as you suggested.
2. I am not sure I understand the statement "We are not using that last part, in this case Calcimycin, for grounding at all". We should be using it...

[2018-09-01 01:57] bsharpataz commented on #416
@kwalcock are you also having this convo with @marcovzla ?

[2018-09-01 03:45] kwalcock commented on #416
2 is probably a moot point for this MeSH ontology.  We ground against words in the descriptions and examples, but not the name of the node.  However, the ontology has the node name field always duplicated as the first example, so it will be used.  Example:
[code]

On the other hand, the UN ontology does not repeat the name in the examples.  In a case like the one below, perhaps "forestry" should b

[2018-09-01 04:00] kwalcock commented on #416
FWIW the vectors in embeddings_november_2016.txt are not normalized.  Eidos expects them to be and only renormalizes after vector addition.  Previous spot checks of vectors.txt and glove.840B.300d.vectors.txt showed normalized values.  Does @ZhengTang1120 know the background on this?  Shall I normalize or is it better to ask the source for an update?

[2018-09-01 04:10] bsharpataz commented on #416
I suspect they aren't normalized on purpose, and so we should move towards
varying grounding approaches for grounding to different ontologies... we
likely need to handle MeSH differently anyway, and seems like that would
include the normalization

On Fri, Aug 31, 2018 at 9:01 PM Keith Alcock <notifications@github.com>
wrote:

[2018-09-03 06:38] bsharpataz commented on #398
addressed with PR #419 , can better address soon...

[2018-09-03 06:38] #398 closed

[2018-09-03 06:39] bsharpataz commented on #411
partly addressed with PR #418

[2018-09-03 06:39] bsharpataz commented on #405
closed with #418 ?

[2018-09-04 20:20] kwalcock commented on #388
On a Mac with an SSD time for reading the glove embeddings went from 99 seconds to 12 seconds.  That's still rather long, but in the right direction.  I'm going to PR it.

[2018-09-16 14:17] #411 closed

[2018-09-16 14:17] bsharpataz commented on #406
is this closed with PR #428 ?

[2018-09-16 17:17] kwalcock commented on #406
Yes.

[2018-09-16 17:17] #406 closed

[2018-09-18 02:42] bsharpataz opened #433 "NumberNormalizer crash on mitre Doc17"
I don't know if this is an eidos bug or a processors one....

When i tried to run AnnotationTSV app I got this from Doc 17 (17_FS2011-3072.txt):

[code]

There were more almost identical traces for other degrees.

The config file I was using is here:

[code]

I had previously run CacheOntologies.

Hope that helps recreate my bug!

Also -- if I'm just doing something dumb, please let me know! :)

[2018-09-18 04:59] kwalcock commented on #433
I'll look in detail in the morning.  It's just a warning, isn't it?  The
17k documents produce quite a few of them.  It's probably not Processors
but Stanford NLP and I suspect we can't do much about it.

On Mon, Sep 17, 2018, 7:42 PM bsharpataz <notifications@github.com> wrote:

[2018-09-18 13:17] MihaiSurdeanu commented on #433
Keith is right. Thanks!

[2018-09-18 14:53] #433 closed

[2018-09-19 15:43] kwalcock commented on #416
This should be addressed with PR #431

[2018-09-19 15:43] #416 closed

[2018-09-19 15:45] kwalcock commented on #388
Between PRs #422 and #431, this should be in good shape.

[2018-09-19 15:45] #388 closed

[2018-09-19 15:47] #322 closed

[2018-09-19 15:53] kwalcock opened #435 "Canonicalization of texts differs"
In EidosMention we have
[code]
while in TreeDomainOntology we have
[code]
One works on mentions and the other on text, but the effect should be the same: same filters, use of lemmas instead of words.  @kwalcock can make this happen, but will double check with assignees first.

[2018-09-19 16:07] MihaiSurdeanu commented on #435
I think this needs to be aligned between the two.

[2018-09-19 22:07] kwalcock commented on #435
@bsharpataz, should they both use the 3 parts of speech or just the two?

[2018-09-19 22:46] bsharpataz commented on #435
i'll prob make it a method in an object and use it both places
i can get to this soon (or you can...)

On Wed, Sep 19, 2018 at 3:07 PM Keith Alcock <notifications@github.com>
wrote:

[2018-09-19 22:50] kwalcock commented on #435
I'm almost done, but should they both be
`tag.startsWith("NN") || tag.startsWith("VB")`
or
[code]

[2018-09-19 23:12] kwalcock opened #438 "Timenorm runtime"
I should have made this an issue in the first place instead of using email...

On a quick and dirty test on a single computer, to process a collection of 52 documents with ExtractFromDirectory, it took

27 seconds startup, 10:07 minutes processing without timenorm, and
39 seconds startup, 1:20 _hours_ processing with timenorm to complete just 30 of the files at which time I killed it.

I'll be tes

[2018-09-19 23:15] kwalcock commented on #438
@EgoLaparra, on the Mac I get

37 seconds startup, 17:57 minutes processing without timenorm, and
45 seconds startup, 1:30 hours processing with timenorm to complete just 30 of the files at which time I killed it.

So, I don't think it's my computer or OS.  I hope it's not a threading issue.

[2018-09-20 03:29] bsharpataz commented on #435
Whatever is in canonical name is prob more recent... but "should" is such a
strong word....

On Wed, Sep 19, 2018 at 3:51 PM Keith Alcock <notifications@github.com>
wrote:

[2018-09-20 15:50] kwalcock commented on #435
I'm will go with 2 then.

[2018-09-21 05:14] bgyori opened #440 "Shell run-main vs runMain"
The command for running the shell has been
[code]
for a long time and it used to work fine. But on the latest master, I am getting this error:
[code]
when I change it to
[code]
it works!

Should I PR this change?

[2018-09-21 05:54] kwalcock commented on #440
I can get it.  sbt changed the name of it's command.  It will have to be
changed in several other places as well.

On Thu, Sep 20, 2018, 10:14 PM Benjamin M. Gyori <notifications@github.com>
wrote:

[2018-09-21 19:26] bgyori opened #443 "Time normalization config in eidos.conf and reference.conf"
I've been trying to configure Eidos to use the time normalization feature and I'm running into some issues. These are 3 issues here but they are related so I'm putting them all here.

First, I am wondering if some of the differences in `eidos.conf` and `reference.conf` are on purpose or not.

1. In reference.conf timeNormModelPath is set to
[code]
whereas in eidos.conf it is set to
[code]
I think

[2018-09-21 19:28] bgyori commented on #440
Fixed in #442

[2018-09-21 19:28] #440 closed

[2018-09-21 20:00] kwalcock commented on #443
Hi Ben,

Sorry about this frustration.  Whether the setting is in reference.conf or
eidos.conf probably depended on how likely people thought it would need to
change.plus whether it depended on language.  The true/false was perhaps
not likely to change, but maybe the language was.  Anyway, it must have
been subjective, could be improved, and you're probably correct.

The other problem is worse.  T

[2018-09-21 20:14] bgyori commented on #443
Thanks, so if I understand correctly, if I put the hdf5 file outside the JAR and reference it by its absolute path it should work. Let me try that and I'll report back!

[2018-09-21 20:19] kwalcock commented on #443
Yes, that's it.  Also please be advised that we are working on related performance issues.  Don't plan to run lots of files with timenorm on.

[2018-09-21 20:56] bgyori commented on #443
Alright, that seems to have worked as far as the file path goes. In particular,
[code]
works as expected, and `timexes` show up in the output JSON-LD.

However, the other reading mode we have been using, which is for reading snippets of text directly using an instance of EidosSystem and calling its extractFromText method (from Python) gives me this error:
[code]
Any clues what might be behind this

[2018-09-21 21:13] kwalcock commented on #443
Still working on it...

[2018-09-24 16:17] bgyori commented on #443
I think I have a guess: from Python I'm passing `scala.Some(None)` as the fourth argument which is the `documentCreationTime`. I thought passing in None would be adequate because None is defined as the default argument, and ExtractFromDirectory doesn't specify this argument:
[code]

With some experimentation, I found that if I change the argument to `scala.Some('2018')`, I get this error:
[code]

[2018-09-24 16:34] bgyori commented on #443
Thanks @EgoLaparra, that worked! Let me test it some more and then I'll close this issue.

[2018-09-24 16:35] EgoLaparra commented on #443
By the way, what happens if you don't pass the fourth argument?

[2018-09-24 16:44] bgyori commented on #443
Complicated... The Java-Python bridge called jnius that allows us to use Eidos programatically at all is not really meant to be used with Scala. Java methods don't have default arguments (you rather define the function multiple times with different sets of arguments) and so jnius thinks this method needs 5 arguments and errors if you call it with less. This is what prompted e.g. this line:
https:/

[2018-09-24 17:15] EgoLaparra commented on #443
I see. In any case, we need the actual creation time of the document to get correct normalizations for expression like "last week". The parser cannot infer it from the text, so, when no DocTime is passed, it uses as reference the current date.

[2018-09-24 18:04] kwalcock commented on #443
The fourth argument as in filename: Option[String]= None to EidosSystem.annotate?  It should be OK.  It is only used for the document id which is probably only used for the JSON-LD output.

[2018-09-24 18:14] bgyori commented on #443
Well if you count from 1, not 0, then the 4th argument is documentCreationTime which we discussed above:
[code]

[2018-09-24 18:28] kwalcock commented on #443
I can still count, but maybe it's time for trifocals :-)  I didn't realize you were both talking about the same thing.

[2018-09-24 20:33] bgyori commented on #443
Thanks, looks like this is working!

[2018-09-24 20:33] #443 closed

[2018-09-24 20:52] bgyori opened #444 "Hedging in JSON-LD"
PR #432 added the extraction of hedgings to mentions with a test sentence ```Rainfall is likely to cause flooding.``` Running this sentence in the shell, I found that it produced the expected Hedging attachment:
[code]
However, I can't find this attachment in the JSON-LD output in any form. Are we sure it appears in the JSON-LD? Sorry if I'm just missing something!

[2018-09-25 15:15] kwalcock commented on #444
@bsharpataz, did you see this?  I don't remember it being on my list, but then there are lots of things I don't remember, most of them in fact.

[2018-09-26 16:09] kwalcock commented on #443
@EgoLaparra, I think you'll want to change from
[code]
to
[code]
Neither Eidos nor EidosDocument are in a good position to decide what kind of string is being passed and should let whatever reads or produces the string take care of that.  In reading these 17k documents I find that the "creation date" comes in multiple formats and it's not efficient to parse them and convert them to the kind of str

[2018-09-26 18:28] MihaiSurdeanu commented on #435
Yes, @ajaynagesh: please check. This should help, intuitively.

[2018-09-27 00:48] EgoLaparra commented on #443
What about letting the parser to deal with these strings? Eidos could pass whatever it finds, even if the format is not the correct one, and the temporal parser would decide if it can create a DCT or set it as undefined.

[2018-09-28 19:10] kwalcock commented on #443
@EgoLaparra, are we any closer on what needs to be delivered on this large run that needs to work overnight and get sent away?  For the metadata files should I expect that there are some without matching text files?  I need to double check, but it seemed that there were both texts without metadata and metadata without texts.

[2018-09-29 21:30] EgoLaparra commented on #443
@kwalcock, I have created a pull-request to kwalcock-timeTime with theses changes.

[2018-10-02 17:09] bsharpataz commented on #444
closed with #446

[2018-10-02 17:09] #444 closed

[2018-10-02 17:10] bsharpataz commented on #354
I think this is fixed now with the lum.ai normalizeString, we can reopen if needed

[2018-10-02 17:10] #354 closed

[2018-10-07 05:30] bsharpataz opened #461 "Expansion ate my correlation! (I think)"
Compare `Worsening food security trends linked to continued conflict have been  compounded by market failure, internal displacement and decreasing  humanitarian access.` to `Worsening food security trends linked to continued conflict have been  pcompounded by market failure, internal displacement and decreasing  humanitarian access.`

The correlation event is getting swallowed by the expanded caus

[2018-10-17 06:32] #435 closed

[2018-10-17 06:33] #75 closed

[2018-10-18 22:04] bsharpataz opened #482 "we should def update the readme... it's what people see when they look at us!"
- we should *not* advertise the no-longer-super-supported JSON
- we SHOULD super emphasize the webapp!
- we should direct people to ExtractAndExport
- we should mention the Portuguese support
- we should add the CacheOntologies step?
- we should include any other Keith coolness I am forgetting?

other changes @MihaiSurdeanu ?

[2018-10-18 22:12] MihaiSurdeanu commented on #482
I support this message :)

[2018-10-19 21:56] #409 closed

[2018-10-23 17:17] brandomr commented on #482
I agree! One of the things that @jgawrilo and I have been trying out is using the webservice with requests (instead of the UI). I was able to send text to the webservice with something like:

[code]

I think that the documentation should include reference for doing this. Am happy to make that update in a fork @kwalcock if that's helpful?

[2018-10-23 20:01] MihaiSurdeanu commented on #482
@kwalcock: can you please work on the readme?

[2018-10-23 20:02] kwalcock commented on #482
@brandomr, that sounds great to me.  I had no idea that people were using it like this.  You are more than welcome to it, especially if you can package it in a PR.  I also appreciate the working example code and will borrow that if necessary.  Thanks.

[2018-10-23 21:15] brandomr commented on #482
@kwalcock submited a [PR](https://github.com/clulab/eidos/pull/484) and added some comments/context around it.

[2018-10-23 21:58] kwalcock commented on #482
FWIW here's the outline I'm working on.

- Running Eidos
	- Using the Sample Apps
		- Webapp
			- Interactive use
			- (Include a screen shot)
			- Automated use
			- (Add recent code sample)
		- Shell
		- ExtractAndExport
	- Using the Scala API
		- Prettified display
		- Export to JSON
- Connecting Eidos
	- Indra
	- Delphi
- Working with Eidos
	- Compiling
	- Configuring
		- Vector files
		- Onto

[2018-10-23 22:58] bsharpataz commented on #482
yay! love the outline!

On Tue, Oct 23, 2018 at 2:58 PM Keith Alcock <notifications@github.com>
wrote:

[2018-10-24 00:43] MihaiSurdeanu commented on #482
Beautiful.

On Tue, Oct 23, 2018 at 2:58 PM Keith Alcock <notifications@github.com>
wrote:

[2018-10-24 22:21] bgyori opened #486 "DL4J error when running with fat jar"
When running extractFromDirectory via an assembled fat jar, I'm getting this error:
[code]

to reproduce, try
[code]
Also note that useTimeNorm is set to true in eidos.conf. Any ideas what the problem could be? I didn't have this issue a couple of weeks ago when I built the system.

[2018-10-24 22:33] EgoLaparra commented on #486
Are you running the jar in the same system you built it?

[2018-10-24 22:47] bgyori commented on #486
Yes, using the same system

[2018-10-24 22:57] kwalcock commented on #486
I also get the error if I do the assembly step rather than run straight from sbt.

[2018-10-24 23:26] bsharpataz opened #487 "make expansion handler"
it should take language as an arg and be used in EidosActions, to allow for PT/ENG specific expansion

[2018-10-25 00:20] bsharpataz opened #488 "Fix expansion when entities on same side of the trigger"
closest first, add to state to avoid

[2018-10-25 15:16] kwalcock commented on #486
@EgoLaparra, I'm hoping that you have some insight into this.  Does grepping for "Masking in keras and DL4J work differently. We do not completely support mask_zero flag on" in the source code help?

[2018-10-25 16:58] EgoLaparra commented on #486
I'm afraid that sbt is having problems with some transitive dependency when assembling the fat jar. I'm trying to package eidos as a maven project to check this.

[2018-10-25 18:19] kwalcock commented on #486
You probably noticed that eidos is using
```addSbtPlugin("com.eed3si9n" % "sbt-assembly" % "0.14.6")```
while the current version has been updated to 0.14.8.

I did recently change this code in build.sbt:
[code]

[2018-10-25 18:41] kwalcock commented on #486
It looks like I should have "if (minor.toInt == 11)".  Are you using Scala 2.11.11, @bgyori?

[2018-10-25 18:54] bgyori commented on #486
I have 2.12.4 on my Mac and 2.11.8 on my Debian

[2018-10-25 20:10] EgoLaparra commented on #486
So, the jar built with maven works. I will try with sbt-onejar instead of sbt-assembly to check if the plugin is the problem.

[2018-10-26 14:11] bgyori opened #491 "Verbose number normalization warning"
When running the latest version on some documents, I get a lot of warnings of the following form:
[code]
I'm guessing this could be harmless but it makes the output a bit messy so it might make sense to suppress the warnings. Feel free to close this if this isn't a problem!

[2018-10-26 14:39] bgyori commented on #491
Got it, thanks

[2018-10-26 14:39] #491 closed

[2018-10-26 15:35] kwalcock commented on #486
Good work, everyone.

[2018-10-26 15:35] #486 closed

[2018-10-26 15:36] kwalcock commented on #438
This has been significantly improved, so I'm closing it.

[2018-10-26 15:36] #438 closed

[2018-10-30 17:37] bgyori opened #495 "Time normalization picking up artifacts"
When reading documents, I sometimes get artifactual timex extractions like from the sentence
[code]
in the document IPC_SouthSudan_Acute_FI-Situation_April_2016.txt we get
[code]
If this is something that could be improved or at least worth looking into on the reader side, I can send a longer list of examples, otherwise, feel free to close the issue!

[2018-10-30 17:56] kwalcock commented on #495
That's a keen eye you have.  It looks like `"text" : "379480",` should be `"text" : "December 2015",`.

[2018-10-30 18:13] EgoLaparra commented on #495
This seems to be a mistake from the temporal parser that identifies "379480" as a year. There is not much we can do for the moment. We are working on an improved version of the model that, hopefully, will be integrated into eidos soon.

[2018-10-30 18:34] EgoLaparra commented on #495
Yes, they could help us to perform error analysis. Thanks.

[2018-10-30 21:07] bgyori commented on #495
Okay, I emailed you a log with all the invalid entries from the evaluation corpus, I'll close the issue here.

[2018-10-30 21:07] #495 closed

[2018-11-01 16:36] kwalcock commented on #482
The updated readme was merged recently, so I'm going to close this.

[2018-11-01 16:36] #482 closed

[2018-11-01 16:39] kwalcock commented on #364
Uh oh.  Heads up, @bsharpataz, I'm seeing things like these again.  I do like the new format of the message.

09:31:32.975 [scala-execution-context-global-19] DEBUG org.clulab.wm.eidos.EidosActions - Unexpected overlap of trigger and argument:
	sent: [Key recommendations include :  Understand the risks better More research is needed to understand and quantify the risks set out in this report .]
	R

[2018-11-01 17:35] bsharpataz commented on #364
thanks.... :( I'll bump it up my priority list.... but that list is tooooo
long :(

On Thu, Nov 1, 2018 at 9:51 AM Keith Alcock <notifications@github.com>
wrote:

[2018-11-06 06:31] #487 closed

[2018-11-13 18:32] bsharpataz commented on #488
fixed with #506

[2018-11-13 18:32] #488 closed

[2018-11-20 03:33] bsharpataz opened #515 "What happened to the webapp?"
<img width="1074" alt="image" src="https://user-images.githubusercontent.com/5384073/48749955-48e49b80-ec3a-11e8-9e9a-3208944040d7.png">

does it still work for you @kwalcock ?

[2018-11-20 04:00] kwalcock commented on #515
It took me some time to realize that the diagram is missing.  No, it's not there for me, either.

[2018-11-20 04:31] bsharpataz commented on #515
ok, per @marcovzla I commented out lines 417 (@EgoLaparra) and 418(@vikas95):
[code]

and it works again!
<img width="375" alt="image" src="https://user-images.githubusercontent.com/5384073/48751560-4128f500-ec42-11e8-967a-b11660602cac.png">

so....... hope that helps the debug.

[2018-11-20 04:57] kwalcock commented on #515
Yes, that's the problem spot, but then you won't see the time or locations.  I've almost got it.

[2018-11-20 05:38] kwalcock commented on #515
The fix is working its way through Travis.  I recall you saying that you'd make me fix it and indeed you did.

[2018-11-20 05:56] EgoLaparra commented on #515
Sorry, I'm late. Thank you for solving this Keith.

[2018-11-20 06:14] kwalcock commented on #515
It was my error, @EgoLaparra, but do you know how the geolocations are supposed to appear in the diagram?  I've never seen one.

[2018-11-20 06:29] EgoLaparra commented on #515
They shouldn't appear. That part is not implemented yet.

[2018-11-21 22:07] marcovzla commented on #515
this was fixed in #516 right?

[2018-11-21 22:14] bsharpataz commented on #515
I think so! thanks!

On Wed, Nov 21, 2018 at 3:07 PM marcovzla <notifications@github.com> wrote:

[2018-11-21 22:15] bsharpataz commented on #515
yep, I think so thanks!

[2018-11-21 22:15] #515 closed

[2018-11-28 19:57] gcgbarbosa opened #526 "Avoid recompiling when using the webapp"
The issue is that when I change a rule, the whole system reloads and it takes a 20-50 second in the process.

I was wondering if there is a way to reload **only** the rules when no change to scala code is made, and if doing that would speed up the process of testing rules.

Just to illustrate, I am referring to this reload:
[code]

[2018-11-28 23:15] myedibleenso commented on #526
If we run the Play app in production mode, perhaps we can avoid recompiling.  @gcgbarbosa, have you tried that?

[2018-11-29 03:56] adarshp opened #527 "Events/human/intervention/intervention node in UN ontology?"
While playing around with CAGs, I saw that there is a node called simply "intervention" in the UN ontology - should this still be there now that there is a separate set of intervention nodes?

https://github.com/clulab/eidos/blob/2c0adc7d557371da8645ce5c738ed88f45ec936d/src/main/resources/org/clulab/wm/eidos/portuguese/ontologies/un_ontology.yml#L147

[2018-11-29 04:55] bsharpataz commented on #527
yeah..... i have mixed feelings..... but it's a longer discussion than i
feel like having here :) tomorrow all together?

On Wed, Nov 28, 2018 at 10:56 PM Adarsh Pyarelal <notifications@github.com>
wrote:

[2018-11-29 05:23] bgyori opened #528 "Two farming entries in UN ontology"
There is both an `events/human/agriculture/farming `(https://github.com/clulab/eidos/blob/master/src/main/resources/org/clulab/wm/eidos/english/ontologies/un_ontology.yml#L711-L721) and an `events/human/farming` (https://github.com/clulab/eidos/blob/master/src/main/resources/org/clulab/wm/eidos/english/ontologies/un_ontology.yml#L1250-L1254) entry, aren't these redundant?

[2018-11-29 14:22] bsharpataz commented on #528
yes, I will fix after the hackathon thanks!

[2019-01-16 22:46] kwalcock opened #543 "Assembly of fatjar is incomplete on Windows"
Although sbt can build and run eidos on Windows, creation of a fat jar leaves out the timenorm component.  The fatjar created under Windows will not run on Windows or Linux and probably not on Mac.  I believe there was initially a problem with assembling on Mac and deploying to Linux, but Egoitz worked around that.

[2019-01-23 10:27] remondulos opened #552 "jnius.JavaException"
[code]

When running the code above, I receive the following: jnius.JavaException: Invalid instance of 'org/clulab/wm/eidos/EidosSystem' passed for a 'org/clulab/wm/eidos/groundings/AdjectiveGrounder'.

I have added the eidos jar file to CLASSPATH and to /indra/indra/resources/default_config.ini and as well to /root/.config/indra/config.ini

Am I missing something here?

[2019-01-23 14:49] kwalcock commented on #552
Is this with the master branch version?  Eidos doesn't have a process_text function there.  Some related things have changed, though.  EidosSystem is no longer itself an AdjectiveGrounder.  We might have some stale documentation somewhere.  Can you copy a little more of the Python code?  I don't see anything in the stack trace that looks like a problem.  What does eidos.process_text call?  Thanks.

[2019-01-23 15:07] bgyori commented on #552
A change in Eidos a few days ago broke the integration with INDRA which was fixed in this PR https://github.com/sorgerlab/indra/pull/782. If you update INDRA to the latest version, it should work again.

[2019-01-23 15:51] kwalcock commented on #552
Thanks, Ben.  I updated the example in README.md.  It would be nice to get rid of that second argument completely.  I'll look into it and remember to notify you of any change this time.

[2019-01-23 16:24] kwalcock commented on #552
Is AdjectiveGrounding, i.e., that part of the jsonld output, normally used?  We could have a constructor without the second argument to simplify life for those who aren't using it.

[2019-01-23 16:49] bsharpataz commented on #552
Yeah, that sounds good -- I would like to refactor that whole thing, but
that sounds good in the meantime!
thanks!

On Wed, Jan 23, 2019 at 9:24 AM Keith Alcock <notifications@github.com>
wrote:

[2019-01-23 17:24] kwalcock commented on #552
@bsharpataz If it's OK for things other than EidosSystem to handle their own configuration a la fromConfig, then the Corpus or Serializer could handle the adjective grounder internally and not rely on something else to pass it in, either handing over the EidosSystem version of it or some other one.  It looks like it is not used elsewhere.  The quantifierKBPath might then be better placed in its ow

[2019-01-23 21:07] bsharpataz commented on #552
Now indeed seems like a fine time, and I think more "stanzas" would be fine
(esp since they can hide in the reference.conf if we seldom mess with
them), but I didn't follow the full question you asked so I can't
completely answer the subquestions (sorry!)

On Wed, Jan 23, 2019 at 10:27 AM Keith Alcock <notifications@github.com>
wrote:

[2019-01-24 04:13] kwalcock commented on #552
My idea won't work as intended.  EidosSystem still needs first crack at the Config passed in.  It has to find a "stanza" and pass it on to some component via fromConfig.  The problem is that EidosSystem is not involved in creation of a JLDCorpus or its serialization, so that it doesn't have a ready way to convey the config information to either the JLDCorpus or JLDSerializer.  This is why the clie

[2019-01-25 15:58] kwalcock commented on #552
@bgyori, are you aware of anything there that is using the adjective grounding in the output?  These are the intercept, mu, and sigma values on things called modifiers in the JLD output.  We have an update in the pipeline that makes the adjective grounder optional so that your code related to sorgerlab/indra#782 could be changed to
[code]
If you do need that grounding, it would be done slighly dif

[2019-01-25 19:49] bgyori commented on #552
My opinion on adjective quantification is that it is easier to do downstream of reading i.e. the numbers don't need to be baked into the reading result. I'll adapt the code in INDRA once the change is merged here. Thanks!

[2019-02-04 14:09] bgyori opened #556 "Triggers on "negative" concepts"
This just came up again but I have observed it a few times before. There are a certain set of concepts that have a negative connotation i.e. poverty, flooding, food insecurity. In sentences such as "heavy rain worsened flooding", "worsened" is by default picked up as a negative polarity relation leading to an extraction equivalent to "rainfall decreases floods", when in fact "worsened" here implie

[2019-02-04 14:18] bsharpataz commented on #556
we could maybe make use of the (as yet unused) `polarity` feature of the ontology nodes

[2019-02-04 14:20] bgyori commented on #556
I briefly thought this could be corrected downstream of reading by e.g. additional feature in the ontology for these nodes. But the problem is that e.g. "lack of work increased poverty" really means "increase", so the polarity flipping depends on the specific phrasing and so it would need to be done during reading.  The reader could of course rely on the ontology `polarity` entries to decide when

[2019-02-24 00:28] bgyori opened #560 "Provision of duplicated in intervention ontology"
In the internvetion ontology, many entries have "provision of" duplicated in their name and examples, e.g. "provision of provision of non-formal education". For instance there are several examples in this section:
https://github.com/clulab/eidos/blob/master/src/main/resources/org/clulab/wm/eidos/english/ontologies/interventions.yml#L157-L182
I just want to confirm this is not on purpose. I'll PR a

[2019-02-24 01:02] bsharpataz commented on #560
yeah -- it's not on purpose, and feel free to fix.  it comes from the way it was scraped from the kimetrica data, but please go ahead and delete!

[2019-02-24 02:30] #560 closed

[2019-02-28 20:21] #552 closed

[2019-02-28 20:31] kwalcock commented on #528
It looks like one is an event now and the other an entity.  Has this issue been cleared?

[2019-02-28 20:56] kwalcock commented on #300
This doesn't seem to have been addressed in processors yet.  I'm moving the issue over there.

[2019-02-28 21:02] #300 closed

[2019-03-01 21:18] kwalcock commented on #408
Addressed in #563

[2019-03-01 21:18] #408 closed

[2019-03-06 14:46] BeckySharp commented on #528
Kinda, it will be “cleared” with the unified ontology with BBN we’re working on.

[2019-03-06 14:47] BeckySharp commented on #410
Addressing with singleton nodes with timestamps

[2019-03-08 21:03] kwalcock opened #565 "JLD output doesn't match documentation"
The documented provenance has

`documentCharPositions, sentenceWordPositions`

while we are outputting

`documentCharInterval, positions`

[2019-03-11 16:44] kwalcock commented on #565
@bgyori, this probably affects you.  It looks like some name changes from about a year ago didn't get all the way through.  As described at https://github.com/clulab/eidos/wiki/JSON-LD#user-content-provenance, it was the intention to change what is now `documentCharInterval` to `documentCharPositions` and `positions` to `sentenceWordPositions`.  I'd like to do that now if it doesn't mess up your p

[2019-04-02 19:53] BeckySharp commented on #404
[code]

[2019-04-04 19:56] BeckySharp opened #572 "inc/dec trigger is the only noun -- don't double count"
`In parts of western Kenya and central/eastern Uganda, the expected heavy rains may hamper ongoing maize harvesting and drying activities and could result in post-harvest losses, if the rains are sustained without significant dry days in coming weeks.`

[2019-05-24 17:10] kwalcock commented on #565
This was fixed in PR #574.

[2019-05-24 17:10] #565 closed

[2019-05-24 17:12] kwalcock opened #580 "Sort extractions better in jsonld"
There are still some ambiguous cases.  rules and canonical text should fix them.

[2019-05-29 01:29] lchamp87x opened #584 "No configuration setting found for key 'cacheDir'"
I get the following error

[code]

when running

`java -Xmx50g -cp target/scala-2.12/eidos-assembly-0.2.3-SNAPSHOT.jar org.clulab.wm.eidos.apps.CacheOntologies`

I am up to date from the master branch. And here is what my `eidos.conf` looks like,

[code]

[2019-05-29 03:09] kwalcock commented on #584
CacheOntologies doesn't create the directory for you and we didn't include one in the repo.  We'll probably change that, but in the meantime, just create a directory ./cache/english before running the program.

[2019-05-29 04:16] kwalcock commented on #584
The statement above is incorrect.  Please stand by for a correction.

[2019-05-29 05:04] kwalcock commented on #584
I think this should be fixed in master now with #587.

[2019-05-29 05:04] #584 closed

[2019-05-29 05:40] kwalcock opened #588 "TimEx collection and sentence norms do not match up"
As described in #579, the time parser is capable of extracting information which cannot be recorded adequately in the sentence.norms.  The issue has not yet been resolved, but we wanted to use the new parser right away.  The issue needs to be revisited.

[2019-05-31 17:03] kwalcock opened #594 "Migration events need to be exported as JSONLD"
Here below are the forthcoming details...

[2019-05-31 17:22] kwalcock commented on #594
It seems like the question marks in the bold line of the table below would need to be specified.  Italics means that the values are optional.

<table>
  <tr>
    <th colspan=4>Scala</th>
    <th colspan=3>JSON-LD</th>
  </tr>
  <tr>
    <th colspan=4>Mention</th>
    <th colspan=2>Extraction</th>
    <th>Argument</th>
  </tr>
  <tr>
    <th>Class</th>
    <th>Trigger</th>
    <th>Arguments</th>

[2019-05-31 17:31] kwalcock commented on #594
The above might be discussed by people like @BeckySharp, @zupon, and @MihaiSurdeanu.

[2019-05-31 17:34] MihaiSurdeanu commented on #594
I agree with this spec.

Importantly: at some point (probably after Eidos) events with partial information that come from different sentences will have to be merged in a single Migration event. For example, one sentence might specify how many people were displaced. Another where they moved. Should this JSON output happen *after* the merge? It seems to me that the answer is yes. @BeckySharp?

[2019-05-31 19:58] kwalcock commented on #594
Here's an early example:
[code]

[2019-06-02 12:23] BeckySharp commented on #594
yes -- after the "merge" (i.e., after we aggregate the pieces).
FYI - assuming we can successfully run the time normalization code, we will likely only have a single time argument, and some of the args will be optional, even if we output after aggregation.  @MihaiSurdeanu I guess we need to decide how incomplete an event can be before we prune it?

[2019-06-02 20:05] MihaiSurdeanu commented on #594
@BeckySharp: I suggest that we keep events (after the merge) that have at least the group, and (at least one of?) moveFrom and moveTo. What do you think?

@kwalcock: the locations and times do not seem to include normalization info in the JSON. This mean that part has not been integrated yet? Just asking.

all: will we be able to view these events in the web demo?

[2019-06-02 23:21] kwalcock commented on #594
I think the answer is no, they haven't been integrated yet.  I was just working with what was available at the time.

[2019-06-03 00:13] BeckySharp commented on #594
@MihaiSurdeanu I agree! re: the web demo, do you mean the webapp at the hackathon?  if so, yes, I think we already can on @zupon 's branch.  I can add some color stuff if it helps.  If you mean something more, please let me know.  Also, IDK what amt of "aggregation" will be ready before the hackathon, but hopefully @zupon can have a proof of concept ready or maybe planned?

Thoughts?

[2019-06-03 16:30] MihaiSurdeanu commented on #594
This vanilla web app would be great! No customization needed.
Can you please let me know which branch should I use, and any special instructions I need?

We can work on the aggregation during the hackathon, but it would be great if we had the skeleton, i.e., the API, connected into Eidos before.

[2019-06-03 17:39] BeckySharp commented on #594
cool -- as I recall we added the hook/stub for the API (not in the postProcessorStep way bc that half of the refactor hasn't happened)

@zupon can you please show @MihaiSurdeanu the branch, suggest a query or 2 that work well in the webapp to show the migration events, and point him to the **stub** for aggregating (if I am remembering correctly that we did it...) -- meaning you don't already need

[2019-06-04 01:56] zupon commented on #594
@MihaiSurdeanu the main branch to check out the migration stuff is `migration_schema-zupon`. That's where I have been writing the rules to capture the events.

Here are a couple of queries that demonstrate the kinds of things we can get so far. The first one is a really good example. The second one is much more complicated and shows that we still have some work to do.
- `Since the beginning of Sep

[2019-06-04 02:04] maxaalexeeva commented on #594
@MihaiSurdeanu in the migration_schema-Masha branch (the link Andrew sent), the method CopyWithNewArgs is something we found elsewhere and will either need to be imported in some nicer way or moved to a better place. The processMigrationEvents method is similar to this action: https://github.com/clulab/eidos/blob/830bc1d63dc572323a0bc8b04f28f6f82621740f/src/main/scala/org/clulab/wm/eidos/EidosActi

[2019-06-04 15:09] MihaiSurdeanu commented on #594
Thanks @zupon and @maxaalexeeva!

This looks good. But why do you need the method copyWithNewArgs here?
Also, what do I run to get this text output?

[2019-06-04 15:18] maxaalexeeva commented on #594
@MihaiSurdeanu that's from running sentences in the webapp. The method is there because we didn't know a better way to add an attachment to an argument within an eventMention.

[2019-06-06 18:23] MihaiSurdeanu commented on #594
Thanks! I am playing with the grammar now.
@zupon: please add unit tests for the all the sentences that are currently covered by grammar rules. @kwalcock: is there a testing framework for these custom events?
Thanks!

[2019-06-06 18:37] kwalcock commented on #594
PR #593, which doesn't yet seem to have been merged into Andrew's branch, includes a testing framework and tests all the related grammar rules available at the time.  It's in the file TestMigrationSchema.scala.  @zupon, have you had the chance to check it out?  I've been assuming that github notifies you of the request on your branch.

[2019-06-06 18:39] MihaiSurdeanu commented on #594
Thanks @kwalcock !

[2019-06-06 18:42] zupon commented on #594
Hi all,

I haven't seen anything from GitHub about it, so I haven't merged anything.
I will have time to check it out later today.

AZ

On Thu, Jun 6, 2019, 13:39 Mihai Surdeanu <notifications@github.com> wrote:

[2019-06-06 18:58] MihaiSurdeanu commented on #594
Thanks @zupon!
This is important, because we will communicate through these unit tests during the hackathon and beyond.

[2019-06-06 20:34] kwalcock commented on #580
This has been updated.

[2019-06-06 20:34] #580 closed

[2019-06-06 22:02] zupon commented on #594
For some reason I am not getting the github notifications about requests on my branch, so manually mentioning me in a comment will be a good way to get my attention until I get that resolved.

I noticed that for this PR there are failing tests, but they don't seem to be related to the migration tests that @kwalcock wrote for me. Does that sound right? Is it alright to merge the PR with the failing

[2019-06-06 22:02] MihaiSurdeanu commented on #594
Yes, please merge. The failures do not come from you.

On June 6, 2019 at 3:02:19 PM, zupon (notifications@github.com) wrote:

For some reason I am not getting the github notifications about requests on
my branch, so manually mentioning me in a comment will be a good way to get
my attention until I get that resolved.

I noticed that for this PR there are failing tests, but they don't seem to
be re

[2019-06-06 22:18] kwalcock commented on #594
I usually do it in IntelliJ with some clicks, but it is possible in sbt with
[code]

[2019-06-06 22:22] zupon commented on #594
Thanks @kwalcock ! And thanks also for writing the tests!

[2019-06-06 22:32] MihaiSurdeanu commented on #594
@zupon: can you please unit tests for covered sentences in a new file, e.g., TestMigrationEvents?

[2019-06-06 22:53] zupon commented on #594
@MihaiSurdeanu Can you please clarify what you mean? Do you want me to move the existing tests to a different file/location, add new tests to a new file, or something else?

[2019-06-06 23:00] MihaiSurdeanu commented on #594
@zupon: nm. I forgot to pull. It's all good. Thanks all!

[2019-06-07 04:06] maxaalexeeva commented on #594
A follow up on attachments:

Here (Masha's branch with Andrew's merged): https://github.com/clulab/eidos/blob/8861627c89c6c4232d685228a93aa6c3be690a17/src/main/scala/org/clulab/wm/eidos/actions/MigrationUtils.scala#L14
we try to make attachments for the args in the human migration events. Here's the output we get in the webapp for this type of event:

Image 1
![Screenshot from 2019-06-06 20-40-50]

[2019-06-07 15:27] MihaiSurdeanu commented on #594
@maxaalexeeva:
1. I think attachments should be attached directly to location mentions. @BeckySharp, what do you think?
2. The span of the time entity seems fine, but I can't tell if it's been normalized. Has it?
3. I think the web app should be expanded to show this. @BeckySharp, who should do it?

[2019-06-10 18:20] MihaiSurdeanu opened #601 "Geospatial mistakes"
This issue is to capture mistakes in the geospatial context recognizer. Please add your examples here.

[2019-06-10 18:21] MihaiSurdeanu opened #602 "Temporal mistakes"
This issue is designed to capture mistakes in the temporal context recognizer. Please add your examples here.

[2019-06-10 18:22] MihaiSurdeanu commented on #602
In the text: "Between 1 and 30 March 2017, 16,274 South Sudanese refugees arrived in Gambella, Ethiopia, bringing the total number of new arrivals since September 2016 to 77,874." we currently recognize "30 March 2017" as a Time. It should be "Between 1 and 30 March 2017".

[2019-06-10 18:24] MihaiSurdeanu commented on #601
In the sentence "Between 1 and 30 March 2017, 16,274 South Sudanese refugees arrived in Gambella, Ethiopia, bringing the total number of new arrivals since September 2016 to 77,874." we recognize "South" as a Location. It should "South Sudanese".

[2019-06-10 18:50] zupon commented on #601
Sentence:  `According to a recent sample survey conducted in Pagak, the new arrivals originated mainly from Upper Nile State (Nasir, Longechuk or Mathiang, Ulang and Maiwut Counties) and Jonglie State (Uror, Akobo and Ayod Counties).`
- We don't recognize `Nasir` as a Location
- We only recognize `State` as Location, should be `Jonglie State`

[2019-06-10 21:34] zupon commented on #601
Sentence: `Pagak Reception Centre: As of 28 April 2017, Pagak accommodated around 3,604 new arrivals.`
- `Pagak` not found as Location. It is found as a Stanford (?) `PERSON` entity.

[2019-06-10 22:28] zupon commented on #601
Sentence:  `85% of the new arrivals originated from Upper Nile State (Nasir, Longechuk or Mathiang, Ulang and Maiwut Counties) whilst 14% came from Jonglei State (Uror, Akobo and Ayod Counties).`
- `Jonglei State` not found as Location, but is found as Stanford `ORGANIZATION` entity.

[2019-06-12 16:11] MihaiSurdeanu opened #605 "BIO TIME labels should not be in norms"
The BIO labels generated by the time norm code should be stored in the .entities field of Sentence, not .norms. The latter is used by CoreNLP to store values of entities, e.g., "400" for the entity "four hundred", so it has different semantics, which is needed by Migration events. The TIME BIO labels should be merged with the CoreNLP labels in the .entities field.

[2019-06-12 16:12] MihaiSurdeanu commented on #605
@BeckySharp: what do you think?

[2019-06-12 16:19] MihaiSurdeanu commented on #605
Here's an example of this issue:

<img width="793" alt="Screen Shot 2019-06-12 at 9 18 54 AM" src="https://user-images.githubusercontent.com/1179342/59368503-38d5fb80-8cf3-11e9-92ac-000966d54029.png">

[2019-06-12 16:23] BeckySharp commented on #605
I agree -- until a more elegant solution, we should use Entities, since Norm will be used for things.  To note:
- This likely applies to LOCATION too (@vikas95 @bethard )
- If we use the `entities` field, we can either commandeer it or share it
     - if we commandeer it, we need to be careful about priority
     - if we share, we need to be clever...

[2019-06-12 16:57] bethard commented on #605
It should be easy to switch from `.norms` to `.entities`. Who uses this info? A quick scan of usages suggests that it's only used in serialization and the webapp (and in the latter, only to display as a table). If I knew who was using it, I could make a better guess as to whether we should commandeer or share.

[Also, I need #604 merged before making any changes to geonorm, but that's failing (lik

[2019-06-12 17:04] MihaiSurdeanu commented on #605
I do now: we use to understand the actual number of people who migrated. As you know, CoreNLP converts letter numbers, e.g., "four hundred", into the actual number, "400", which is stored in .norms. I use that value to count displaced people.

[2019-06-12 17:11] bethard commented on #605
I meant, who uses the `B-Time` or `LOC` tags that timenorm and geonorm produce. Not who uses the `.norms` field.

[2019-06-12 17:36] BeckySharp commented on #605
I think he meant who uses "entities" -- it is temporarily used in the
GazetteerEntityFinder, but as long as that runs first, it should be fine
AND you can overwrite anything that the GazetteerEF added (it is only
needed internally).
this is where we call the GazetteerEF:
https://github.com/clulab/eidos/blob/e766dee9ee64686dcd6484cf5cdeab66c140c4e7/src/main/scala/org/clulab/wm/eidos/EidosSystem.sca

[2019-06-12 17:43] bethard commented on #605
Another option, if no one is using the `B-Time` and `LOC` tags currently produced by timenorm and geonorm is to not add those at all. Given that `EidosDocument` already stores `TimEx` and `GeoPhraseID` objects separately, maybe there's no need to insert anything into either `.norms` or `.entities`?

[2019-06-12 17:53] MihaiSurdeanu commented on #605
Yeah, if nobody uses them, then don't add them. I agree.

[2019-06-12 17:56] bethard commented on #605
Ok. I'll create a pull request that removes both of those entries from `.norms` once someone fixes the issue with ChunkingFeatureFactory and #604 is merged.

[2019-06-12 17:57] MihaiSurdeanu commented on #605
What ChunkingFeatureFactory issue? @kwalcock: do you know about this?

[2019-06-12 18:15] bethard commented on #605
All our builds are currently being marked as failing, and they stop right after ChunkingFeatureFactory: https://travis-ci.org/clulab/eidos/builds. Perhaps this is just a configuration issue, and the builds shouldn't be running on Travis at all. But all our commits and pull requests are failing according to to GitHub because of this issue.

[2019-06-12 18:16] kwalcock commented on #605
This is the first time I've encountered ChunkingFeatureFactory.

Not having the BIO-Time tags sounds good to me because there is an issue with them adequately reflecting the complicated, overlapping time expressions that are found.  See issue #588 and PR #579

[2019-06-12 19:20] kwalcock commented on #605
Please ignore the Travis output.  If Jenkins passes, that's good.  If Jenkins doesn't even run, then the branch needs some updating.  Travis integration will probably be removed very soon.  Thanks.

[2019-06-12 19:22] bethard commented on #605
Ok, great. Then I will address this after #604 is merged.

[2019-06-12 19:50] BeckySharp commented on #605
the labels produced by the neural models are used to make Location and Time mentions, I am not sure if they're used at one point in the creation of the Time and Geonorm objects...

[2019-06-12 20:05] bethard commented on #605
Could you point out where they are used to make Location and Time mentions? I couldn't find that, but I did find where they are used to attach times and locations to entities:
* org/clulab/wm/eidos/english/grammars/temporalAttachment.yml
* org/clulab/wm/eidos/english/grammars/geoLocationAttachment.yml
For those cases, is there a reason we use a token-level search, rather than looking for the Locat

[2019-06-12 21:46] BeckySharp commented on #605
now we are going to be doing just that, but in a newer branch. It wasn't done previously and wasn't an issue until we needed to have mentions for time and location (for the migration events).  but now we do so we will be...

now, mentions will be made here:
https://github.com/clulab/eidos/blob/migration_schema-zupon/src/main/resources/org/clulab/wm/eidos/english/grammars/context.yml

and reference

[2019-06-12 21:47] BeckySharp commented on #605
but we still need a token match to make the mentions, or else they can be made outside of the main extraction process and used to initialize the state.  That's fine too, but then the neural guys would have to make Mentions.

[2019-06-12 21:59] bethard commented on #605
If you can tell me how to make an appropriate Mention object, I can do it in the appropriate places instead of adding to `.norms`:
https://github.com/clulab/eidos/blob/geonorm-tensorflow/src/main/scala/org/clulab/wm/eidos/document/EidosDocument.scala#L164
https://github.com/clulab/eidos/blob/geonorm-tensorflow/src/main/scala/org/clulab/wm/eidos/document/EidosDocument.scala#L190

[2019-06-13 01:13] MihaiSurdeanu commented on #605
@BeckySharp ?

[2019-06-13 03:06] BeckySharp commented on #605
I dont know if this is the way to go... is there a reason you opted to not
use the entities?
If you need to make mentions, I can think about a nice way to do it, but
it’ll take a little thought

On Wed, Jun 12, 2019 at 6:14 PM Mihai Surdeanu <notifications@github.com>
wrote:

[2019-06-13 03:17] bethard commented on #605
If you're asking why we used `.norms` instead of `.entities`, I'm pretty sure it's because someone at the WM meeting suggested `.norms` to us and not `.entities`. There's certainly no principled reason.

But either of these seem like a hack: we already have the information needed to create an appropriate Mention, but we're decomposing that into token-level tags instead of using it directly. I don'

[2019-06-13 05:45] BeckySharp commented on #605
Ok, I’ll think about it and try to figure out a clean way to make them, but
using the entities field would prob work just fine

On Wed, Jun 12, 2019 at 8:17 PM Steven Bethard <notifications@github.com>
wrote:

[2019-06-17 14:52] BeckySharp commented on #605
Hey -- I can't think of a clean way to make them without tagging the sentence twice.  Basically, entities are made with entity finders or in the primary grammars.  The neural model is run on the document at a different time.  IDK if the timenorm (and geonorm) structures _already stored_ in EidosDocument are sufficient to create a mention, **if they are (or could be)**, this is how you'd make a Tex

[2019-06-17 18:09] bethard commented on #605
Yes, we already have all the information needed to create a mention at the time that we're currently injecting the information into `.norms`. So a custom `Finder` that creates `TextBoundMention`s instead sounds like the right thing to do. If I'm reading the interface right, we would just take the current `parseGeoNorm` code, put it in a `Finder`, generate the new `TextBoundMention`s  and add them

[2019-06-17 18:34] BeckySharp commented on #605
Almost -- I'm hoping you can do it in 2 steps because currently we run the sentences through the NN as a step in the `annotate` method of EidosSystem ([called here](https://github.com/clulab/eidos/blob/master/src/main/scala/org/clulab/wm/eidos/EidosSystem.scala#L165)).  Then, all the elected entity finders are called [here](https://github.com/clulab/eidos/blob/e766dee9ee64686dcd6484cf5cdeab66c140c

[2019-06-17 18:37] bethard commented on #605
Thanks for the pointers. I'll give this a try once the geonorm-tensorflow branch is merged.

[2019-06-17 18:47] BeckySharp commented on #605
👍 let me know if you need anything!

[2019-06-17 18:55] kwalcock commented on #605
I'm getting to that merge very soon.

[2019-06-17 18:56] bethard commented on #605
No rush. I'm working on several other things too.

[2019-06-17 21:19] kwalcock opened #608 "Can't cancel Jenkins test"
There is a Jenkins job http://jenkins.cs.arizona.edu:8090/job/eidos/job/PR-606/2/ which seems to have hung.  The UI apparently has a way to deal with this, but perhaps only if the user has some special permission to cancel things.  The closest I can get is by trying to use the rest interface (http://jenkins.cs.arizona.edu:8090/job/eidos/job/PR-606/2/stop) which leads to the message
[code]
Can some

[2019-06-18 07:45] MihaiSurdeanu commented on #608
I killed it.
I (or Egoitz) can share the admin password with you for jenkins. But I
would not do it over email. Any other way to contact you?

On Tue, Jun 18, 2019 at 12:19 AM Keith Alcock <notifications@github.com>
wrote:

[2019-06-18 15:28] #608 closed

[2019-06-20 21:00] bethard commented on #605
I'm working on this now. Where is the [piece of grammar that links locations to entities](https://github.com/clulab/eidos/blob/master/src/main/resources/org/clulab/wm/eidos/english/grammars/geoLocationAttachment.yml) tested?

I've removed the `"LOC"` entries from `.norms` in my current work-in-progress, but this doesn't cause [TestDoc3 Paragraph 4](https://github.com/clulab/eidos/blob/master/src/t

[2019-06-20 21:20] BeckySharp commented on #605
indirectly, where you think, e.g., places like [here](https://github.com/clulab/eidos/blob/master/src/test/scala/org/clulab/wm/eidos/text/english/eval6/TestDoc3.scala#L132)

If you are already adding mentions with an entity finder then I would expect anything to fail, perhaps to duplicate (or maybe not)

[2019-06-20 21:24] bethard commented on #605
Thanks. I managed to get the test to fail as I believe it should with no `"LOC"` in `.norms`. What do I need to replace `[norm="LOC"] [norm="LOC"]*` with if I want to match a `"Location"` `TextBoundMention` instead?

[2019-06-20 21:59] kwalcock commented on #605
Thanks.  I was looking to see how it could still pass without a LOC, but it sounds like there may have been a LOC still there.

[2019-06-20 22:19] bethard commented on #605
I take back my "managed to get the test to fail" comment. TestDoc3 Paragraph 4 is still passing on my machine despite deleting the `.norms` stuff and not having made any changes to the grammar. If @BeckySharp or @kwalcock could take a look at that commit on the geonorm-finder branch and help me understand why that test isn't failing, I'd be grateful.

[2019-06-20 22:22] kwalcock commented on #605
Yes, and thanks for the branch.  It may well be that something was overlooked.

[2019-06-20 22:52] BeckySharp commented on #605
If you're replacing it in a `trigger` field -- I think you'd replace `trigger = ....` with `trigger: Location`

If it's in a surface pattern, you'd replace it with `@Location`

Let know if that doesn't work

[2019-06-20 22:57] kwalcock commented on #605
Just now it is looking like there is an attachment on the mention foundBy = "org.clulab.wm.eidos.context.GeoNormFinder++gazetteer++simple-np++quantification2++Increase_adjective_rule_1"

[2019-06-20 23:20] kwalcock commented on #605
And useTimeNorm and useGeoNorm are both on, despite one having been removed from eidos.conf.  The one comes from
[code]
So is the question, why is GeoNormFinder finding what is tested for?  I'm not sure about that.

[2019-06-20 23:55] kwalcock commented on #605
It looks like useGeoNorm is in both GraphTester and in TestUtils as well as EidosSystem and some configuration files.  The value might not have the expected value.

[2019-06-21 16:00] bethard commented on #605
I did check that by printing it out in the test file, and useGeoNorm was true (which it would need to be for the tests to fall). Is it printing false for you?

[2019-06-21 16:21] kwalcock commented on #605
My theory is that it might be passing for you because useGeoNorm is off and it is skipping the test.  Are you observing that variable in NodeSpec.matchAttachments (GraphSpec.scala line 271)?

[2019-06-21 17:47] bethard commented on #605
I was printing out `tester.useGeoNorm` here:
https://github.com/clulab/eidos/blob/master/src/test/scala/org/clulab/wm/eidos/text/english/eval6/TestDoc3.scala#L129

[2019-06-21 18:48] kwalcock commented on #605
The way I got it to fail was to turn off the geonorm entityFinder in englishTest.conf: `entityFinders = ["gazetteer", "rulebased"]` completely.  This will unfortunately also turn off the tests for geonorm.  Then I hard-wired useGeoNorm to true in EidosSystem.scala, GraphTeste.scala, and TestUtils.scala where we've got some duplicated code.  In your branch it looked like the geonorm entityFinder wa

[2019-06-21 19:03] bethard commented on #605
My understanding is that the tests should also fail when the GeoNormFinder is included and useGeoNorm is true, because my branch has not corrected the grammar at all. So I'm looking to make it fail not when the GeoNormFinder is removed, but when the GeoNormFinder is included.

[2019-06-21 19:15] kwalcock commented on #605
OK.  The `GeoLoc("Greater Equatoria")` is being found, though.  If it eventually doesn't get found, either because of uncorrected grammar or disabling the GeoNormFinder, then then test does seem to fail.  I had to use the latter method.  That doesn't help you much, though.  The test is not somehow stuck on passing only.

[2019-06-21 19:33] BeckySharp commented on #605
Does it pass if you comment out this rule:
https://github.com/clulab/eidos/blob/8c6354d612ed21a7c48f6f57bb19ffb4d821b701/src/main/resources/org/clulab/wm/eidos/english/grammars/geoLocationAttachment.yml#L5

?

On Fri, Jun 21, 2019 at 12:16 PM Keith Alcock <notifications@github.com>
wrote:

[2019-06-21 20:47] bethard commented on #605
I commented out `import: org/clulab/wm/eidos/english/grammars/geoLocationAttachment.yml` etc. in `master.yml`. The tests still pass. Is there anywhere else in the code that could be attaching `Location` mentions to `Entity` mentions?

[2019-06-21 20:49] BeckySharp commented on #605
if you look at the `foundBy` field of the Location mentions themselves,
what does it say?

On Fri, Jun 21, 2019 at 1:47 PM Steven Bethard <notifications@github.com>
wrote:

[2019-06-21 20:56] bethard commented on #605
As per [Keith's comment](https://github.com/clulab/eidos/issues/605#issuecomment-504228290), you can see the new Finder is filling `foundBy` with `org.clulab.wm.eidos.context.GeoNormFinder`. But the issue is not finding the `Location` mentions; I'm creating those, so I know how they're appearing. What I don't know is how they're getting attached to the causal events.

[2019-06-24 17:09] bethard commented on #605
@BeckySharp and I met and discussed the issue. Because all of our tests are for cases where the Location is within the text of the (expanded) entities, and because Eidos has special code to automatically copy attachments from other mentions within an entity mention, no additional grammar rules are needed to attach the locations to the entities. That is, once we change from modifying `.norms` to cr

[2019-06-25 14:54] adamocarolli opened #611 "Dockerfile fails to install 'oracle-java8-installer' package"
The docker build fails to complete with the following error:

[code]

The likely cause is that the PPA used `webupd8team/java` has been discontinued permanently due to a breaking update in the Oracle JDK license on April 16th, 2019 (See http://www.webupd8.org/2014/03/how-to-install-oracle-java-8-in-debian.html)

[2019-06-25 15:35] kwalcock commented on #611
Thanks for filing the issue *and* the PR to fix it!

[2019-06-25 18:52] chanys opened #613 "Representing modifiers of Migration arguments in JSON-ld"
During the recent TA1 hackathon, we discussed representing certain properties of `Person Group` for Migration events. I believe these are:
  * Value (number of people): Absolute, Daily, Weekly, Monthly, Percentage (of some other numbers)
  * Modifier: NoModifier, Min, Max, Approximate

We (BBN) are wondering whether you have though about how to represent them in JSON-ld (so that UA and BBN can be

[2019-06-26 04:53] bnmin commented on #613
Thanks! @chanys

@bgyori @BeckySharp @MihaiSurdeanu We'd love to hear your thoughts on this. We hope to converge on a shared format that INDRA can take as input. Thanks!

[2019-06-26 19:04] kwalcock commented on #613
I wasn't especially involved in that discussion, but will probably end up implementing this output, so here are some questions anyway:

An extraction has some arguments and it looks like this actor is one of them, looking well-formed.  The number part is new.  Is it describing more the actor or more the entire extraction?  If it is modifying the actor, shouldn't it be an argument or state of `"@id

[2019-06-26 19:06] kwalcock commented on #613
PS.  See also #594.

[2019-06-26 20:25] #611 closed

[2019-06-27 19:51] kwalcock opened #614 "Remove EidosDocument.geolocs"
This information is now stored within some TextBoundMentions which are turned into Location attributes.  The information can be retrieved from there.  However, hiding it and then tracking it down again may not be a good strategy.  It's going to depend on how many things need the information and when.  Right now migration is becoming the most important client and so geolocs aren't going to be remov

[2019-06-27 21:06] kwalcock commented on #613
I'm finally putting two and two together.  In addition to the discussion from #594 that describes where migration fits on this (https://github.com/clulab/eidos/wiki/Anatomy-of-Mentions) table,  there needs to be an update of the jsonld documentation (https://github.com/clulab/eidos/wiki/JSON-LD) for the migration event.  I'll add that in bold and it will look like the third table below.  Some of t

[2019-06-28 14:59] MihaiSurdeanu commented on #613
Thanks @kwalcock!

This looks good. My only comment is that `modifier` and `unit` are always present, so they are not "possible" modifiers/units.

[2019-06-28 16:13] kwalcock commented on #613
That makes sense given the enums in the code.  Absolute must be more or less NoUnit, I guess.  For the migration extraction are we not going to try to reuse the TimeInterval from https://github.com/clulab/eidos/wiki/JSON-LD#user-content-timeinterval ?  timeStart and timeEnd are obvious, but is the last time (next to and?) a duration?

[2019-06-28 22:01] bethard commented on #605
Reopening this issue, since the TIME labels are still in norms. I've started work on converting timenorm to a `Finder` like I did for geonorm, and I've linked the branch with those changes to this issue.

I don't know how to update the rules to deal with mentions instead of norms. For example, here's a failure that I'd like to correct, where the `Time` is being found, but not attached, but even af

[2019-06-28 22:37] kwalcock commented on #605
I'll check out the second one.

[2019-06-30 02:54] maxaalexeeva opened #615 "a question about combining fragment merging with the normalizeGroup action"
@MihaiSurdeanu,

I have merged the linkingMigrations branch into migration_schema-zupon. Here's a question:

To preserve the event attachments that come from the normalizeGroup action that you wrote, I need to combine the attachments from both events being merged (bc either can have attachments) like here (the last argument):

https://github.com/clulab/eidos/blob/9be09bf4ad5edc2fe2f602b464d88d75ed

[2019-06-30 02:56] maxaalexeeva commented on #615
Note: the code works the way it is now, but it does not look too good with the unnecessary argument passing.

[2019-06-30 12:01] BeckySharp commented on #615
@maxaalexeeva, my 2 cents :)

1. if you want, you can pass the _attachments_ of the 2nd mention as an Option[Set[Attachment]] and when combining you can do something like `optionalAttachments.getOrElse(Set.empty())` (or something similarish)
2. you could alternatively receive the new mention and add the attachments afterwards (we have a helper method for that)
3. but fwiw the last thing you mentio

[2019-07-01 01:31] maxaalexeeva commented on #615
Thanks for the feedback, @BeckySharp! Those are all great suggestions!

[2019-07-01 04:57] MihaiSurdeanu commented on #615
I agree with Becky.

[2019-07-01 06:26] maxaalexeeva commented on #615
Great! I'll try the more consistent version first (Becky's point 3, attaching to arg and not the whole event) and see how that goes.

[2019-07-01 14:38] chanys commented on #613
Thanks @kwalcock . Sorry for replying late. My initial hesitation about specifying the number extraction on the Actor, is if we have something like "1,418 refugees arrive daily", then it seems the "daily" is more a property of the event & actor in combination, rather than just on the "refugees" actor. But I agree it is probably fine either way, and specifying it on the Actor makes the representati

[2019-07-01 15:33] kwalcock commented on #613
That sounds OK.  I would just need to change one of the tables above.  This way it's more in line with the other values anyway.

|<a id="StateType">State type</a>|<a id="ValueType">Value type</a>|Notes|
|---|---|---|
|INC||Indicates that the Concept has been increased.|
|TIMEX|{@id(TimeExpression)}|This is an ID referring to a time expression.|
|<b>COUNT</b>|<b>{@id(Count)}</b>|<b>This is an ID re

[2019-07-01 16:54] kwalcock commented on #605
It looks to me like the problem is that useTimeNorm is false.  In EidosSystem I think it needs
[code]

When we recently started turning these on and off we didn't not make it flexible enough to do both.  If it is off, the TimEx("this year") should be removed.  I should program it so that it is automatically ignored.

[2019-07-01 18:05] bethard commented on #605
Of course! I forgot to delete `LoadableAttributes.timenorm`. Yes, deleting that and changing `useTimeNorm` as you indicated fixes the tests that do not need grammar-based attachments.

@BeckySharp: Any examples you can point me at for how to write a grammar rule that connects a `Time` Eidos Mention to an `Entity` Eidos Mention in whatever way it needs to be connected?

[2019-07-04 03:51] maxaalexeeva commented on #615
Hi @BeckySharp, I might have to take you up on your offer to help (I don't mean for you to be looking at this on the day off tomorrow, but decided to add this here while I still remember what needs to be posted). I am trying to attach ...er...attachments to the relevant argument ("group") instead of the whole event and then to make a copy of the event but with the newly-created argument. Here's wh

[2019-07-05 18:23] EgoLaparra opened #619 "Solution for "Jenkins runs out of space""
Has anything been done to avoid this problem happening again? Otherwise, I can start exploring a solution.

[2019-07-05 19:46] kwalcock commented on #619
I deleted lots of things by hand and then changed the one "Orphaned Item Strategy" so that "Max # of old items to keep" is 1.  I'm not sure what an orphan is.  We may get too many of them and may get too many non-orphans with too many items.  Not being on / would give us some more flexibility.  I was going to see how long it takes to fill up again, but better ideas are welcome.

[2019-07-08 17:26] kwalcock commented on #613
This information has been added to https://github.com/clulab/eidos/wiki/JSON-LD.  @MihaiSurdeanu, a migration event has a timeStart, timeEnd, and time.  What is this last time for?  Also, we don't have much Provenance for COUNT.  Should it get a startOffset, endOffset, and text like the TimeExpresson and GeoLocation have?  The text is already in the code, but offsets are not yet available.

[2019-07-08 18:51] MihaiSurdeanu commented on #613
@zupon, @maxaalexeeva: please confirm that what I say is correct. The only field that really matters between this is `time`. `timeStart` and `timeEnd` are intermediate extractions that are meant to be merged into `time`.

[2019-07-08 18:58] zupon commented on #613
That looks correct to me. Ultimately we only want `time` as a time interval, but we can use `timeStart` and `timeEnd` to help us construct that interval, especially if the text only mentions one or the other.

@maxaalexeeva does that sound right to you too?

[2019-07-08 19:08] maxaalexeeva commented on #613
Yes. There might be two different `time`s, I guess: the one that can be found by the rule directly (@kwalcock, that time arg you asked about in your message) and the one we will construct from timeStart and timeEnd using an action---both will be intervals, but we will be getting at them in different ways (rule vs. action)

[2019-07-09 03:50] maxaalexeeva commented on #615
@BeckySharp helped me fix this! Thanks again!

[2019-07-09 03:50] #615 closed

[2019-07-09 04:01] kwalcock commented on #613
I'm wondering whether in the end all three of the times will really be exported to JSON-LD.  I can wait and see.  If they aren't, then they can't be read back in, either, and that means there would need to be a representation that doesn't include anything extra.  However, first things first.

I also hope that Steve's work is not going to affect the immigration events, or affects them in a good way

[2019-07-09 04:12] maxaalexeeva commented on #613
@kwalcock, I am trying to merge Steve's code from master into a copy of our migration branch to see if they work well together (to address what you discuss in issue https://github.com/clulab/eidos/issues/614). There are a few conflicts I am not sure how to resolve between the branches, so I might open a separate issue to check in with everyone involved.

[2019-07-09 04:12] MihaiSurdeanu commented on #613
Ideally, we should only export the `time` field. However, we currently do not merge `timeStart` and `timeEnd`, because we were waiting for Steve's changes to temporal mentions.

[2019-07-12 16:35] #605 closed

[2019-07-20 07:45] kwalcock opened #630 "Stack overflow in timenorm (Anafora.scala)"
Processing of the attached file results in a stack overflow (at least for me).  Anafora.scala around line 53 seems to be the problem.  It does look a little suspicious.
[code]
[WFP284209.txt](https://github.com/clulab/eidos/files/3413333/WFP284209.txt)

[2019-07-22 16:33] bethard commented on #630
This is likely resolved in clulab/timenorm@2df4d59, where the linker in `TemporalNeuralParser` now explicitly avoids creating cyclic links in the annotations. To test it in Eidos, I will need to push out a new release of timenorm and update eidos to depend on that. Once I have done that, I'll revisit this issue and see if it's resolved.

[2019-07-22 16:42] kwalcock commented on #630
Thanks.  For testing it has sometimes saved me lots of time to do a publishLocal.

[2019-07-22 19:02] kwalcock opened #631 "Possible infinite loop in timenorm code"
There are about 10 files in a recent batch where the timenorm code seems to hang.  In any case, some fairly small files are taking a very, very long time to process.  One is attached.  In TimeNormFinder, the call to
[code]
at line 108 does not return.  TemporalNeuralParser.intervals is synchronized, so all other threads have to wait even if their files are not problematic.  This wreaks havoc on th

[2019-07-22 19:05] EgoLaparra commented on #631
This will change and probably be solved along with https://github.com/clulab/eidos/issues/630

[2019-07-24 19:45] kwalcock commented on #631
Indeed, the problem has disappeared!

[2019-07-24 19:45] #631 closed

[2019-07-24 19:47] kwalcock commented on #630
The problem has gone away with egoitz-newTimeNormParser.

[2019-07-24 19:47] #630 closed

[2019-07-24 19:47] kwalcock commented on #588
Sentence norms are no longer used.

[2019-07-24 19:47] #588 closed

[2019-07-25 16:21] kwalcock opened #635 "Report all existing times and locations or only those used in mentions?"
The eidos code has been nicely transitioned to use finders to find the times and locations.  These are then recorded in mentions.  Temporarily we've been adding a second copy of the times and locations to an EidosDocument to preserve compatability with previous versions.  We'd like to remove the EidosDocument and probably the second copy of the times and locations that it stores.

The problem with

[2019-07-25 17:47] MihaiSurdeanu commented on #635
This is not too bad of an outcome... But why don't we create EidosMentions from all the times and locations picked by the finders? Those should be preserved in the output without major changes, no?

[2019-07-25 17:52] bethard commented on #635
The timenorm and geonorm finders already create Mentions for everything. Does Eidos lose those somehow?

[2019-07-25 20:11] kwalcock commented on #635
It apparently has to do with the `cagRelevantOnly` setting, which defaults to true.  So there we are intentionally throwing things away.  Previously the times and locations were unaffected by this setting and all were included with the JSONLD output.  I guess that's OK.  It's a little strange to include them in the sentence-level output then.  With it false, I'm still losing one of the 19 and tryi

[2019-07-25 20:13] bethard commented on #635
Yeah, I was wondering the same thing. My hope was that we wouldn't need any separate stuff for them anymore, and we could just output them the same way due with other mentions.

[2019-07-26 06:04] MihaiSurdeanu commented on #635
I see. I think we should keep the semantics of `cagRelevantOnly`. But are you saying that you are losing one of the times/locations that is attached to a causal relation? If so, that is a bug.

Also, can users of the web app adjust the value of `cagRelevantOnly` in the app? I don't recall if it's possible.

[2019-07-26 14:59] kwalcock commented on #635
The WebApp does have a checkbox for cagRelevantOnly, so maybe that takes care of it.

There might be a bug.  A time is lost when cagRelevantOnly is false and they shouldn't be filtered out.  I'll be tracking it down.

[2019-07-30 22:50] kwalcock commented on #635
EidosActions.keepMostCompleteEvents is able to remove Mentions that have Time attachments so that not all of the originally discovered times will be available after event extraction, even if cagRelevantOnly is false.  I don't know that this is terrible, but it is changing the previous behavior.

[2019-07-31 18:47] bethard commented on #635
Maybe when it is filtering the most complete events it should copy over any attachments from events it discards?

[2019-07-31 20:09] kwalcock commented on #635
That's an idea.  Move over to where, though?  I think @BeckySharp would need to weigh in on it.

[2019-08-02 20:59] BeckySharp commented on #635
sorry to take so long to weigh in guys!
The filtering for complete events is separate from the filtering for CAG relevant.  In the former, we discard (hopefully!) duplicates, and I think the "most complete" (filter survivor) should have all the attachments from any of the subsumed guys that were discarded.
In the latter, we toss away some concepts that were never part of a causal event, and in tha

[2019-08-02 21:12] kwalcock commented on #635
I'm not sure this is always happening: ` the "most complete" (filter survivor) should have all the attachments from any of the subsumed guys that were discarded.`  Is it important enough that I try to track down specific examples?

[2019-08-02 21:24] BeckySharp commented on #635
i dont know.... maybe a better use of time would be to re-write the monstrosity that is that function(s) from scratch such that it's true....?