[2019-08-02 21:29] kwalcock commented on #635
Then a specific failing example would be required, then a re-write, and then a green bar.  How about I find an example and then file an issue for documentation and consideration?

[2019-08-03 15:00] BeckySharp commented on #635
Sure if that’s not too difficult/burdensome/annoying
If at some point you decide it is let me know and we can regroup?  Remember, we want you to *enjoy* working on WM!

[2019-08-05 20:46] kwalcock commented on #635
Starting with text from the attached file, some 29 TimEx of the 913 expressions that are initially found do not survive until the end.  This almost always happens when the `contextSentenceIndexes` are not matched up with word boundaries.  The list below tries to demonstrate the problems.  The lines with text/startOffset/endOffset come from the parsed/tokenized words in the sentence.  There are als

[2019-08-07 16:20] bgyori opened #638 "Turn on geo/time extractions in Dockerfile"
Currently `useTimeNorm` and `useGeoNorm` are set to `false` by default in `reference.conf`, and this change propagates into the dockerized version of Eidos. Would it make sense to set these to `true` in the Dockerfile? Are there any other steps needed to make geo/time extractions work other than changing the config file?

[2019-08-07 16:45] bgyori opened #639 "Add full initialization option when launching web service"
When running the web service with `sbt webapp/run`, as also mentioned by the README: "the very first submission will require extra time as lazily loaded parts of the system are initialized, but subsequent texts will be processed much more quickly.". It would be really convenient if there was an option to launch the webapp in a way that it did all the initialization without having to submit an init

[2019-08-07 16:50] kwalcock commented on #638
I should remove those from reference.conf.  They are no longer used by Eidos.  Instead, Eidos checks the list of entityFinders, first in eidos.conf and only if needed in reference.conf.  If it sees "geonorm" or "timenorm" in the list, then it uses them.  Does that coincide with the behavior that you are observing?  This part of Eidos has changed quite a bit recently.

[2019-08-07 17:03] bgyori commented on #638
Got it, that wasn't clear to me! Yes, then removing them from reference.conf should be fine.

[2019-08-07 17:30] BeckySharp commented on #639
it could prob be done on the cheap with an empty query in the webapp code...

On Wed, Aug 7, 2019 at 9:45 AM Benjamin M. Gyori <notifications@github.com>
wrote:

[2019-08-07 17:34] kwalcock commented on #639
Indeed.  For some timing tests I submit a dummy query to get all the lazy variables initialized and then time the next query.

[2019-08-07 19:02] BeckySharp commented on #639
do you want to go ahead and add it to the webapp?  or should i?  or are we
waiting for objections to arise?

On Wed, Aug 7, 2019 at 10:43 AM Keith Alcock <notifications@github.com>
wrote:

[2019-08-07 19:05] MihaiSurdeanu commented on #639
I think this is worth adding.

On August 7, 2019 at 10:02:07 PM, Becky Sharp (notifications@github.com)
wrote:

do you want to go ahead and add it to the webapp? or should i? or are we
waiting for objections to arise?

On Wed, Aug 7, 2019 at 10:43 AM Keith Alcock <notifications@github.com>
wrote:

https://github.com/clulab/eidos/issues/639?email_source=notifications&email_token=ABJCPCJSWGIVDQ7MS56

[2019-08-07 19:25] kwalcock commented on #639
I can do it, especially if you can take time to look at https://github.com/clulab/eidos/commit/528696b0d6d3e36de2a7283eceef973ed36fdb67, or otherwise the kwalcock-constructor branch.

[2019-08-07 22:37] kwalcock commented on #639
This is going to be more difficult than I had hoped.  Play does not even create an EidosSystem until it receives a request, so it doesn't help that I add a dummy query upon construction.  That just means that it processes two queries the first time, making it slower rather than faster.

It may be easier to have whatever starts up the webapp to send a dummy request and throw away the result if that

[2019-08-07 23:08] bgyori commented on #638
Resolved by #641

[2019-08-07 23:08] #638 closed

[2019-08-08 19:39] kwalcock commented on #639
I'm working on an "eager binding" solution.  There will probably be an issue with "sbt webapp/run", which starts the webapp in developer mode and delays many operations in case a developer changes one of the files.  There are methods for running in production mode, which are unfortunately not working as documented.  I'm still looking for work-arounds.

[2019-08-09 15:31] kwalcock commented on #639
In the meantime I have a rough draft that seems to work.  There are some very minor code changes, but it is mostly a question of starting up the program in a different mode.  This means changing the Docker file mostly.  It shouldn't be too long now.

[2019-08-09 20:33] kwalcock commented on #639
Please see #643.  I have not yet tested it in docker itself and plan to do so, but others might be quicker to put the change to actual use.

[2019-08-15 19:06] kwalcock commented on #614
This was addressed with #636, approximately.

[2019-08-15 19:06] #614 closed

[2019-08-16 21:19] kwalcock commented on #639
Another possibility to interact with Docker is to use https://www.scala-sbt.org/sbt-native-packager/gettingstarted.html which says
[code]

[2019-08-20 15:50] #639 closed

[2019-08-22 05:45] maxaalexeeva opened #650 "serialization tests failing in human migration branch"
Hi @kwalcock,

We have gone through our migration tests in `migration_schema-zupon` and marked our failing tests as `failingTest` (we are still working on fixing those). We also fixed some of the other tests that were failing because of our migration event changes. We now have six non-migration-event failing in this branch from these two test files:

org.clulab.wm.eidos.serialization.json.TestJLDS

[2019-08-22 15:42] kwalcock commented on #650
Any code that I wrote around the time of the hackathon is probably very outdated if it was even correct in the first place.  Thursday is very busy, but the issue is on the short list.

[2019-08-22 16:03] maxaalexeeva commented on #650
Got it! Thank you! No rush---the branch is not completely ready on our end either.

[2019-08-22 19:49] bethard opened #651 "Remove TimEx, TimeStep, GeoPhraseID"
The classes [TimEx](https://github.com/clulab/eidos/blob/master/src/main/scala/org/clulab/wm/eidos/context/TimeNormFinder.scala#L31), [TimeStep](https://github.com/clulab/eidos/blob/master/src/main/scala/org/clulab/wm/eidos/context/TimeNormFinder.scala#L29), and [GeoPhraseID](https://github.com/clulab/eidos/blob/master/src/main/scala/org/clulab/wm/eidos/context/GeoNormFinder.scala#L23) pre-date th

[2019-08-24 15:33] kwalcock commented on #651
FWIW I agree and will try to sort out the JSON-LD stuff soon.

[2019-08-24 15:42] kwalcock opened #652 "DocumentFilter changes the text permanently"
I've been comparing eidos output of text documents that have been converted from PDF by various programs and with and without addition of periods.  In trying to match up text files with the jsonld output I notice that Eidos itself is changing the text.  It's not only the period adding program that is an issue.  DocumentFilter is playing with whitespace, which is a relatively safe thing to do, but

[2019-08-24 16:44] MihaiSurdeanu commented on #652
Can you please give a simple example for this?

[2019-08-24 18:13] kwalcock commented on #652
Do you mean something like

before: `April1 2017\n\nHIGHLIGHTS  In February 2017, overall inflation and food inflation rates in South Sudan stood at 425.9 percent and at 480.5 percent respectively.`

after: `April1 2017  HIGHLIGHTS  In February 2017, overall inflation and food inflation rates in South Sudan stood at 425.9 percent and at 480.5 percent respectively.`

or

before: `SOUTH SUDAN MONTHL

[2019-08-25 08:11] kwalcock commented on #652
This has been addressed with #653.

[2019-08-25 13:45] MihaiSurdeanu commented on #652
Thanks!

This is fairly easy to recover though, because we keep track of the character offsets, no?
I'll take a look at the PR soon.

[2019-08-25 16:06] #652 closed

[2019-08-25 16:28] kwalcock commented on #652
The whitespace changes aren't recoverable solely from a Document object as far as I know.  For sentences we have copies of both the raw and processed character strings for the words, but there is no backup copy of anything between the words.  The PR fills the spaces back in.

[2019-08-25 17:12] kwalcock opened #654 "add_period.py changes character offsets"
We're quickly losing the ability to specify which pdf to text converter to use ( we have preferred pdfminer) and what kind of special post conversion (add_period.py) must be performed.  Eidos will soon receive its text as the result of an elasticsearch query which provides already converted text that likely uses a different converter (pdfbox) and no post conversion.  It does look like section head

[2019-08-25 17:48] kwalcock commented on #654
Note: That below is probably wrong because the filter is applied after tokenization and before annotation.  That means that the added period will not get tokenized and that the token/word will probably have to be added manually before annotation and removed afterwards.  I'll have to figure that out.  Another option is that this filter gets applied even before tokenization unlike the present Docume

[2019-08-26 13:45] MihaiSurdeanu commented on #654
I agree. In general, the principles we should follow are:

1. We should not mess with character offsets by adding/removing characters. This means that, in this case, we should replace a white space with a period (in the conditions you mentioned).
2. This must be applied *before* tokenization, because tokenization is the one that depends most  on well-placed periods.

[2019-08-26 19:55] BeckySharp commented on #650
Yes -- that rule creates a Relation Mention -- can we add the support for
them?

On Mon, Aug 26, 2019 at 12:28 PM Maria (Masha) Alexeeva <
notifications@github.com> wrote:

[2019-08-27 00:19] MihaiSurdeanu commented on #654
Thanks!

This is useful.
But won't it be possible to "bake in" this adding of a period inside Eidos
directly after pdfbox?

On Mon, Aug 26, 2019 at 2:54 PM Keith Alcock <notifications@github.com>
wrote:

[2019-08-28 21:33] BeckySharp opened #656 "dec trigger"
inability

[2019-08-28 21:43] BeckySharp commented on #656
and while you're at it -- can you think of a general solution to the problem of `untrained teachers`

[2019-08-30 19:10] BeckySharp commented on #654
thanks for the quantitative analysis btw -- I find that somewhat reassuring!

On Mon, Aug 26, 2019 at 5:36 PM Keith Alcock <notifications@github.com>
wrote:

[2019-08-31 00:16] kwalcock commented on #654
There will be a PR shortly with code that you can see, but here is some preview documentation or discussion.  The new code again has an EidosProcessor that takes over some of the DocumentFilter responsibilities as in #659, but it also has an EidosTokenizer which is just like the standard tokenizer except that it has one additional stage between the TokenizerSteps and the sentenceSplitter: a paragr

[2019-08-31 19:23] kwalcock commented on #654
If the arguments to the Tokenizer are made available with the change of
[code]
to
[code]
then EidosProcessor might be simplified to something like the attached version.  The biggest distraction there is getSentences, but that is unrelated to the periods and paragraphs.

[EidosProcessor.scala.txt](https://github.com/clulab/eidos/files/3562760/EidosProcessor.scala.txt)

[2019-08-31 19:57] MihaiSurdeanu commented on #654
Agreed!

[2019-08-31 20:09] kwalcock commented on #654
If then furthermore these still rather transparent changes were made to processors, some neat things happen.  The change is because something like
[code]
is not valid.  Some fairly recent language change seems to have made overridden vals inaccessible to derived classes :(

In CluProcessor.scala and ShallowNLPProcessor.scala
[code]
becomes
[code]
In that case, EidosProcessor turns into https://git

[2019-08-31 20:13] MihaiSurdeanu commented on #654
Very nice.

[2019-09-01 04:31] kwalcock commented on #654
So given the monster implementation in Eidos that *seemed* to be required to avoid modification of processors and the "very nice" one that necessitated the two changes described above, is it OK to go ahead and modify processors for Eidos' sake?  The small change to a couple base classes provided substantial benefit for the derived ones it appears.

[2019-09-01 12:07] MihaiSurdeanu commented on #654
Yes, please.

________________________________
From: Keith Alcock <notifications@github.com>
Sent: Saturday, August 31, 2019 9:31:28 PM
To: clulab/eidos <eidos@noreply.github.com>
Cc: Mihai Surdeanu <surdeanu@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [clulab/eidos] add_period.py changes character offsets (#654)

So given the monster implementation in Eidos that seemed to be req

[2019-09-05 17:13] kwalcock opened #662 "Timenorm crashes"
On the kwalcock-EidosTokenizer2 branch, which will soon be merged into master, the attached file takes a very, very long time to process and then finally crashes with the stack trace below.  I'm running the `ExtractFromDirectory` app with program arguments `../corpora/DocDart/txt ../corpora/DocDart/jsonld`.  The same thing seems to happen with or without DCT.  The other problem files *seem* to onl

[2019-09-05 17:57] EgoLaparra commented on #662
Do you have the same problem in other branches?

[2019-09-05 18:12] kwalcock commented on #662
I haven't tried it in other branches except one even more complicated where it first appeared.  This branch has a new ParagraphSplitter which does fool with some tokens.  Testing in master would be useful, but it not happening there wouldn't be super informative.  I may get to that shortly.

[2019-09-05 18:15] bethard commented on #662
@EgoLaparra: this is most likely to happen when the model gets an impossible date, e.g., February the 31st. In such cases, it will search back or forward in time to find such a date, but of course there is not such date. If you can figure out what date is triggering this, we can see about putting extra guards in for that kind of thing. We already do this for some cases, e.g.
https://github.com/clu

[2019-09-05 18:20] kwalcock opened #663 "Timenorm crashes 2"
This crash occurs with the text file below, but only if there is a DCT present.  That comes from metadata, so no app in the main branch will readily show it.  I've modified branch kwalcock-EidosTokenizer2Crash to produce the error.  It matches what is seen in the more complicated branch.  I hope that narrows it down some.

[713d49b4131b8dd38cc6ae3f92e6307c.txt](https://github.com/clulab/eidos/file

[2019-09-05 18:40] kwalcock opened #664 "Timenorm crashes 3"
Again this may only be with DCT and happens at least in branch kwalcock-EidosTokenizer2Crash.  The exception is different form the other two.

[902e1c36730958d429cfde0d213f6fae.txt](https://github.com/clulab/eidos/files/3580736/902e1c36730958d429cfde0d213f6fae.txt)

[code]

[2019-09-05 19:22] EgoLaparra commented on #662
@bethard the problem was caused by a "31 April 2018".

[2019-09-05 19:25] kwalcock commented on #662
Let it be known that I laughed today!

[2019-09-05 19:34] EgoLaparra commented on #662
I thought it could have been an error in the text extraction but they actually wrote it in the original document (2nd page, top right corner): 🤦‍♂
https://reliefweb.int/sites/reliefweb.int/files/resources/UNHCR_Ethiopia_April_2018.pdf

[2019-09-05 20:24] kwalcock commented on #662
That sounds like good detective work.  An extra exception handler somewhere might take care of the crash.  I hope that the 30 minute wait before the crash can be addressed.  The program may be caught up in a synchronized piece of code or maybe it's somehow just in too tight a loop to effectively switch threads, but what happens is that processor utilization goes way, way down, pretty much to 1.  I

[2019-09-05 20:54] bethard commented on #662
@EgoLaparra: You probably want to add something like the following to the end of `test("IntersectionRI")` in `TypesTest` and then see what we can do to get it to pass.
[code]
We should probably open a separate issue for this in the timenorm repository.

[2019-09-06 06:05] EgoLaparra commented on #663
This one is caused by a wrong parsing of "in the 21st century". The error in https://github.com/clulab/eidos/issues/664 is caused by "2.1 days in a week". We could avoid these problems catching the exceptions thrown in https://github.com/clulab/eidos/blob/master/src/main/scala/org/clulab/wm/eidos/context/TimeNormFinder.scala#L206-L212.

[2019-09-06 17:14] bethard commented on #663
Agreed that we should be catching exceptions in that code and returning `Seq()` when the time expression turns out to be impossible. (We do our best to throw exceptions early, at the time at which a time expression is constructed, rather than when `.start` and `.end` are called, but sometimes it's impossible to know that a time expression is invalid until you try to evaluate it.)

[2019-09-09 21:39] bgyori opened #665 "Negative time intervals"
We found that in the latest output, several "negative" time intervals are reported in TimeExpressions. For instance,

[code]
in `17873e4eddc4aa7bcd5146b814ce1f42.jsonld` (@kwalcock should have a copy of this file) the end time stamp is before the start time stamp.

Another example is

[code]
from the same file.

Question is, are these considered bugs in time expression extraction, and should be fi

[2019-09-09 23:00] kwalcock commented on #665
Thanks for the sharp eyes.  Our time gurus have been assigned.

[2019-09-09 23:01] EgoLaparra commented on #665
Can you share the text file, please?

[2019-09-09 23:50] kwalcock commented on #665
Here you go.

[17873e4eddc4aa7bcd5146b814ce1f42.txt](https://github.com/clulab/eidos/files/3593026/17873e4eddc4aa7bcd5146b814ce1f42.txt)

[17873e4eddc4aa7bcd5146b814ce1f42.jsonld.txt](https://github.com/clulab/eidos/files/3593035/17873e4eddc4aa7bcd5146b814ce1f42.jsonld.txt)

[17873e4eddc4aa7bcd5146b814ce1f42.json.txt](https://github.com/clulab/eidos/files/3593029/17873e4eddc4aa7bcd5146b814ce1f42.j

[2019-09-10 18:00] kwalcock commented on #650
I haven't forgotten about this yet.

[2019-09-10 18:42] bethard commented on #665
I'm guessing that these both parse as a `Between`, and we mis-parse one of the endpoints. @EgoLaparra: Can you check if that's the case, and if so, maybe `Between.isDefined` should have an additional check that if both `startInterval` and `endInterval` are defined, it is also the case that `startInterval` ends before `endInterval`. That way, the above examples would result in `isDefined = false` a

[2019-09-10 20:33] bgyori opened #666 "Host not allowed when running Dockerized web service"
With the "old" Dockerfile, built ~7 months ago, before the recent additional Dockerfiles were developed, the way I was able to set up a public facing (i.e., not just called from localhost) Eidos web service was by adding
[code]
to webapp/conf/application.conf. Without this change, the web server prints
[code]
and the caller gets a "bad request" error. With the change to webapp/conf/application.con

[2019-09-10 21:18] kwalcock commented on #666
I'm not sure why it wouldn't work the same way, but will try to replicate it.  Did I miss that play.filters.hosts addition in the Docker file somewhere?

[2019-09-10 21:41] kwalcock commented on #666
If you are wanting to get the same results as the batch that just ran, I should merge the outstanding PR.

[2019-09-10 21:52] bgyori commented on #666
The play.filters.hosts setting is something I added to the Docker image after the Dockerfile setup. The difficulty in automating that is that <public IP of server> has to be the actual IP of the server. I wonder, though, if setting 0.0.0.0 would work, or if there is some other setting that just universally allows remote requests on port 9000 that could then be added to the automated Docker build.

[2019-09-10 21:54] kwalcock commented on #666
Running Eidos inside a virtual machine, but not yet a Docker file in addition, and using both run and runProd, I got the same results either way.  Without the change to application.conf, only localhost:9000 worked and with the change, only http://10.0.2.15:9000/ worked.  Could it be that the change to application.conf is not happening at the right time during the construction of the docker image?

[2019-09-10 22:00] kwalcock commented on #666
[code]
At https://www.playframework.com/documentation/2.7.x/AllowedHostsFilter there is mention of `anyhost`.  Also a plain period might work:
[code]

[2019-09-10 22:02] bgyori commented on #666
Thanks, will try these soon!

[2019-09-11 02:12] EgoLaparra commented on #665
@bethard, your guess was correct. I've opened a new pull request in the timenorm repo.

[2019-09-11 15:09] bgyori commented on #666
This works now, I actually made a mistake in setting up the hosts filter, otherwise
[code]

[2019-09-11 15:09] #666 closed

[2019-09-11 15:35] bgyori commented on #666
Actually, it might make sense to add a default filter to application.conf in the Dockerfiles, I'll submit a PR.

[2019-09-11 15:37] kwalcock commented on #666
Sounds good.

[2019-09-12 05:49] #650 closed

[2019-09-17 16:59] kwalcock opened #671 "Compositional Grounding API"
This is where we can discuss this topic.

[2019-09-17 17:14] kwalcock commented on #671
@BeckySharp, I made a first draft of the grounding as a post-processing stage with an optional var containing the result as we discusses just over a week ago.  I have not yet moved the canonical name into the grounding, but given the additional grounding algorithm which will have its own data, that seems to be the right thing to do.  I'll check that nothing else uses it and head in that direction.

[2019-09-17 19:46] MihaiSurdeanu commented on #671
@bgyori: this is so we can discuss the reader API for the compositional grounding.

What we had in mind:
- We do NOT remove anything from the current output, so we maintain backwards compatibility (for better or worse).
- For concepts that include a core concept + a property/process/phenomenon in the same phrase, we include information from compositional grounding. In particular, this will include

[2019-09-18 17:54] phosseini opened #672 "Error in eidos_reader"
Such an error is [reported before](https://github.com/clulab/eidos/issues/552), but I still have no idea what causes such an error.

I'm simply running the example below from the documentation:

[code]
And I get the following error:

[code]

I followed all the instructions and I have no problem using other classes from INDRA, I think this is just Eidos related. Any idea?

[2019-09-18 18:21] bgyori commented on #672
Hi @phosseini, I'm pretty sure that this has to do with your versions of Eidos and INDRA being out of sync. Try to make sure that you have the latest Eidos packaged as a JAR, and INDRA installed from Github (i.e., pip install git+https://github.com/sorgerlab/indra.git).

Having said that, an alternative way of using Eidos via INDRA is as a web service. You can follow the README instructions on run

[2019-09-18 18:26] kwalcock commented on #672
The mention of EidosComponents makes me think that there's a mismatch in the call to the EidosSystem constructor, which was recently changed.  I think this has been tested, though.  Something calling the old `def this(x: Object) = this()` might do it, so I think that Ben is probably correct.

[code]

[2019-09-18 18:29] bgyori commented on #671
Yes, that sounds good to me!

[2019-09-18 18:43] phosseini commented on #672
Thanks, I could run the example by adding the `webservice` parameter. I'm pretty sure I'm using the latest version of INDRA (`indra==1.13.0`) and EIDOS but I'll go and check it again. The only problem now is that I get the very error when I'm using delphi which is built upon INDRA and EIDOS. Running the example below I get that error:

[code]

I wonder if you have any idea if I can use the Eidos's

[2019-09-18 19:17] phosseini commented on #672
I could also run delphi using Eidos's `webservice` local web service (such a useful parameter!) Thanks for all the help.

[2019-09-18 19:17] #672 closed

[2019-09-18 19:18] bgyori commented on #672
Okay, great! INDRA's official PyPI release (in this case 1.13.0) lags behind the latest code on Github so it makes sense to pip install it from Github directly. In any case, using the webservice-based integration is more convenient in many ways.

[2019-09-19 16:29] BeckySharp commented on #671
Small note:
I think that the above "price of oil" would actually be:  Modifiers(Property("price"), Phenomenon("oil")) and theoretically you can use the "Modifiers" flavor of grounding in place of the original (assuming you have an algorithm for it)

[2019-09-19 16:33] MihaiSurdeanu commented on #671
Good catch.

[2019-09-19 16:43] kwalcock commented on #671
@BeckySharp, in your example is the CoreConcept still "oil" in addition to the Phenomenon being "oil"?  It looks like I will also have to remember whether something is a property, process, or phenomenon.  The slashes weren't just a way to describe some vague P-thing, but the specific P is valuable information?

[2019-09-25 15:01] Lnk2past opened #675 "Dockerfile builds an image that will not start"
Hello! I am a newbie with Eidos and all, but I ran into an issue when running the container built from the provided Dockerfile.

The web service fails to start with the following error (and it repeats many, many times over)
[code]

I came across #666 and figured I would try removing the line that was added in #667. Removing the line added in that PR allowed the container to startup.

I am running

[2019-09-25 15:30] bgyori commented on #675
Sorry if I messed something up, we need to double check that #667 adds that line correctly to each of the Dockerfiles, it works for me though.

[2019-09-25 15:31] kwalcock commented on #675
Thanks for the report and I'm sorry your initial experience was disappointing.  It appears that the -e option in that line doesn't work on your platform.
[code]
Although Eidos runs directly on Windows, I've never tried to build the Docker file on Windows and was under the impression that it is not a straightforward task.  How are you managing to do that?  Is the echo being used the Windows version

[2019-09-25 15:50] BeckySharp commented on #675
Is the built docker image available on Dockerhub? and if so/it were would
that "solve" this?

On Wed, Sep 25, 2019 at 8:31 AM Keith Alcock <notifications@github.com>
wrote:

[2019-09-25 16:26] Lnk2past commented on #675
@kwalcock I wouldn't use the word disappointing! I was able to get things running directly on Windows perfectly fine the other day, and was able to get everything strung together with INDRA and a Jupyter notebook. As far as building the images and running, I simply followed the instructions as they are for building the image and then running the containers. I waited a few minutes for everything to

[2019-09-25 17:31] Lnk2past commented on #675
I changed the line to this:

[code]

Everything seems to be working fine in my environment. If anyone with a Mac or Linux environment can confirm that this works there as well that would be awesome.

[2019-09-25 20:06] Lnk2past commented on #675
Sorry for the post-spam, but is there a way to more effectively communicate with everyone who knows how to use and debug Eidos (slack, discord, etc.)? I do not want to open up issues all the time when I have a question =)

[2019-09-25 21:04] kwalcock commented on #675
Knock on the wall and I will turn on Slack?

[2019-09-25 23:08] kwalcock commented on #675
I'm not sure of the best way, but one way is to keep adding to this issue, which apparently triggers quite a few notifications.  You might also start an issue, like "@Lnk2past has a question".  That might help it get routed to the people who might be able to answer them.

Thanks for the email which arrived midway through this response and included more of your credentials.

[2019-09-26 16:13] kwalcock commented on #675
I'm not sure that "/bin/bash" is the best way.  In an example at https://docs.docker.com/engine/reference/builder/ they just use "sh", so maybe "bash" in case it is located elsewhere.  I'm running a test on Linux and Mac.

[2019-09-26 18:59] Lnk2past commented on #675
No worries. Thanks for testing it out and such. Just saw the PR you opened 👍

[2019-09-26 21:56] kwalcock commented on #675
Hopefully solved with #680.

[2019-09-26 21:56] #675 closed

[2019-10-04 21:10] #662 closed

[2019-10-04 21:10] #663 closed

[2019-10-04 21:11] #664 closed

[2019-10-04 21:11] #665 closed

[2019-10-04 21:13] kwalcock commented on #671
The scaffolding is in branch kwalcock-reground.  I'm removing the pull request that demos it so that it doesn't accidentally get merged into main.

[2019-10-04 22:24] BeckySharp commented on #671
sounds great!

On Fri, Oct 4, 2019 at 2:13 PM Keith Alcock <notifications@github.com>
wrote:

[2019-10-07 20:59] phosseini opened #686 "KeyError: 'duration'"
I'm trying to run the following example in my jupyter notebook:

[code]

and I keep getting the following error which is apparently related to eidos's processor:

[code]

And interestingly, when I remove **2017** from the input text, then it works! I wonder why this is happening?

Also when I run the very code using another input text which is a bit longer, I get the following error:

[code]

Agai

[2019-10-07 21:41] bethard commented on #686
I don't know anything about this Python library you're using, but recent versions of the timenorm part of Eidos do not generate a duration for a time interval anymore since it's directly inferable from the start and end.

[2019-10-07 21:45] phosseini commented on #686
I'm using the [Delphi library](http://clulab.cs.arizona.edu/papers/NAACL2019_2.pdf) (described in the linked paper). And, I'm calling Eidos directly from my local machine (using webservice parameter) and it is the latest version of Eidos. So why do you think I'm getting such error?

[2019-10-07 21:45] kwalcock commented on #686
Yes, duration was removed some time ago.

[2019-10-07 21:45] phosseini commented on #686
So you think then I don't have the latest version of Eidos installed then?!

[2019-10-07 23:21] #686 closed

[2019-10-07 23:40] adarshp commented on #686
Hi Pedram,

Thanks for your interest! We do try to keep things in sync as much as possible, but sometimes things do slip through the cracks, especially since Eidos, INDRA, and Delphi are all under very active development. I'll continue the thread on the issue you opened in the Delphi repository.

[2019-10-07 23:44] phosseini commented on #686
Thanks @adarshp for the follow up on this and being so responsive.

[2019-10-08 00:06] bgyori commented on #686
You need to update your INDRA version (pip install -U indra), we have adapted to this change in Eidos' output format 2 months ago.

[2019-10-10 17:52] bethard opened #688 "allow GADM IDs for geographical locations"
We need to allow GADM IDs (e.g., ETH.9.7.3_1) in addition to GeoNames IDs (e.g., 6783700) for normalizing locations. The geonorm library already supports this. (No changes were needed.) I have constructed a new geonorm index that includes all of GeoNames, plus some Ethiopian woredas from GADM that weren't in GeoNames:

http://clulab.cs.arizona.edu/models/geonames+woredas.zip

To load this new inde

[2019-10-10 18:03] kwalcock commented on #688
Thanks again for the heads up.  It probably won't be starting until tomorrow.  There are still documents coming in and ontologies being changed.

[2019-10-10 18:27] EgoLaparra commented on #688
Yes, I start working on this right now.

[2019-10-14 05:40] bgyori opened #692 "sbt assembly errors"
On the latest master, when I attempt to run `sbt assembly` (the standard method to produce a protable JAR file of Eidos), I get an error:
[code]
I tried to look into what changed to cause this error, and found that f6d2717238d80eb52cf00b3b3b40a0dc9591edf1 still worked, whereas fd5e35c9c3bc72e3aa6c819f0ee894c7ca73b4dd was broken. While I don't fully understand the changes in that commit, one potent

[2019-10-14 07:20] kwalcock commented on #692
There is an sbt-assembly added in package/plugins.sbt and another in package/assembly.sbt.  I think it will work if one or the other is removed.  I'll have to track down the details, though.

[2019-10-14 16:39] kwalcock commented on #692
#693 should take care of this.  Note that we missed some filename changes in the Docker and configuration files.

[2019-10-14 17:47] bgyori commented on #692
Thanks, that worked!

[2019-10-14 17:47] #692 closed

[2019-10-18 17:54] bgyori opened #697 "Grounding to only leaf nodes in the ontology"
I wanted to raise this issue for discussion: Eidos currently only grounds to the leaf nodes of the YAML ontology (e.g., wm.yml) that it is provided. Whether or not this yields good results certainly depends on the specifics of the ontology, but my feeling is that for the WM ontology specifically, this can produce suboptimal results. Consider, for instance, the sentence, "conflict causes a decrease

[2019-10-24 04:49] maxaalexeeva opened #698 "GeoNormFinder.find with locations found with back-off rules"
Becky's update to GeoNormFinder applies it to all the locations that are found with a gazetteer. It does not seem to work with the locations found with the rules here (even if the entities found are renamed to just _Location_ instead of _Location-Expand_):
https://github.com/clulab/eidos/blob/migration_schema-zupon/src/main/resources/org/clulab/wm/eidos/english/grammars/context.yml#L30

For now, i

[2019-10-24 05:54] BeckySharp commented on #698
we can def work on it, and if necessary we can also refactor the normalizer
code to use it later

On Wed, Oct 23, 2019 at 9:49 PM Maria (Masha) Alexeeva <
notifications@github.com> wrote:

[2019-10-24 05:57] maxaalexeeva commented on #698
sounds good! This doesn't seem to be very crucial right now, but I do want to get back to it at some point, so I figured I'd just start an issue for future reference.

[2019-10-24 17:36] maxaalexeeva opened #699 "newly-found geolocs breaking tests (but maybe in a good way)"
Hi @BeckySharp,

By finding geolocations, we have broken 4 other tests, e.g., this one:
https://github.com/clulab/eidos/blob/6684cf393c025572abaa30327e2f2c1aac402948/src/test/scala/org/clulab/wm/eidos/text/english/cag/TestCagP3.scala#L54

The newly-found geoloc in this example attaches to the insecurity node, which is not part of the test:

![Screenshot from 2019-10-24 10-26-33](https://user-image

[2019-10-25 03:20] BeckySharp commented on #699
We should add it to the test!

On Thu, Oct 24, 2019 at 10:36 AM Maria (Masha) Alexeeva <
notifications@github.com> wrote:

[2019-11-20 22:58] kwalcock opened #708 "Some tests aren't testing"
Some tests are missing their `should be(successful)` so that they really aren't checking the result of the test.  Lots of them are failing and we don't know it.

[2019-12-08 01:24] bgyori opened #717 "Regrounding with new ontology errors"
When calling `EidosSystem.components().ontologyHandler().reground()` with the content of
https://raw.githubusercontent.com/WorldModelers/Ontologies/master/wm_with_flattened_interventions_metadata.yml, I get the following error: `java.lang.Integer cannot be cast to java.util.Collection`. When doing the same with https://raw.githubusercontent.com/WorldModelers/Ontologies/master/wm_metadata.yml, the

[2019-12-08 01:29] MihaiSurdeanu commented on #717
@kwalcock: can you please take a look?

[2019-12-08 01:32] kwalcock commented on #717
Yes, I'm looking.  The file doesn't get tested either by WorldModelers/Ontologies or clulab/eidos, so there's probably some oddity.

[2019-12-08 02:56] kwalcock commented on #717
So far I haven't had any luck reproducing.  Can you give any further hints, such as the arguments that you are passing or some line number from an exception?  Here's my experiment:

[code]

[2019-12-08 14:04] BeckySharp commented on #717
any luck on this?

On Sat, Dec 7, 2019 at 7:56 PM Keith Alcock <notifications@github.com>
wrote:

[2019-12-08 14:48] bgyori commented on #717
I'm still trying to figure it out, will post here once resolved.

[2019-12-09 01:26] bgyori commented on #717
The issue was a misplaced polarity entry in the ontology. It only made a difference if the YAML was deserialized and then serialized again, which is why it couldn't be reproduced above. Overall, nothing needs to be done in Eidos!

[2019-12-09 01:26] #717 closed

[2019-12-09 01:33] kwalcock commented on #717
Thank you!  That's a relief.  I was at a loss for an explanation.  It sounds like the file must have changed after some round trip through serialization.

[2019-12-09 16:49] bgyori opened #720 "Some possibly incorrect timex extractions"
In c51cf0a4cb520574d1e6f464224a175b.jsonld of 20191011-DART.zip there are some examples of time expressions where the text looks normal like "2011" but the start and end dates are not as expected. Below are two examples with line numbers corresponding to the original file. Any thoughts?

[code]

[code]

[2019-12-09 17:37] kwalcock commented on #720
I've been looking into it...

[2019-12-09 17:46] EgoLaparra commented on #720
I'm also trying to figure out what is going on with these examples.

[2019-12-09 17:51] kwalcock commented on #720
Texts:
[code]
and
[code]
although remove a few spaces because they have been tokenized.

[2019-12-09 18:02] kwalcock commented on #720
So
[code]
and
[code]
It seems like they work OK in isolation.

[2019-12-09 18:37] kwalcock commented on #720
I have been able to reproduce by processing the entire document.  Details shortly...

[2019-12-09 18:54] kwalcock commented on #720
It seems to be reproducible on the master branch and when processing the entire file.  I'm using ExtractFromDirectory and just processing this:

[c51cf0a4cb520574d1e6f464224a175b.txt](https://github.com/clulab/eidos/files/3941251/c51cf0a4cb520574d1e6f464224a175b.txt)

Is that enough of a start, @EgoLaparra?

[2019-12-10 04:02] EgoLaparra commented on #720
The error is produced if there are consecutive control characters, like `^C` or `^L` anywhere in the text before the time expression. The timeparser needs to replace them internally, but it does it with a single character resulting in wrong character offsets. I will fix this but, meanwhile, the c51cf0a4cb520574d1e6f464224a175b.txt can be parsed removing the consecutive   `^C` and `^L` in lines 779

[2019-12-15 01:18] kwalcock commented on #720
This has been addressed with https://github.com/clulab/timenorm/pull/52 that is published in timenorm 1.0.3.

[2019-12-15 01:18] #720 closed

[2019-12-31 16:01] bgyori opened #731 "Connection timeout for geonames index and idea for cache location"
The URL for downloading GeoNames seems to be unreachable currently and when launching Eidos, it errors at the "Downloading the GeoNames index from http://clulab.cs.arizona.edu/models/geonames+woredas.zip" line. In relation to this immediate issue (which is probably external to Eidos), I've been thinking whether it would be better to have a fixed location for the geonames cache on a given machine (

[2019-12-31 16:08] MihaiSurdeanu commented on #731
You're right: the zip file is not accessible through HTTP, which makes me believe the CS dept. web server is down. Just FYI, the file is accessible through the local file system, once I log in. I will start a CS ticket for this issue.

I like the .eidos idea! @kwalcock, what do you think?

[2019-12-31 16:41] kwalcock commented on #731
I'm not sure about the web servers.  cs.arizona.edu seems to be OK, but clulab.cs.arizona.edu is not.  Any idea where this is hosted?  The downloading of geonames at runtime is slated to be replaced with a compile-time dependency, so that problem should eventually go away.  The cache directory is set in eidos.conf and can be changed to an absolute rather than relative path.  I'm not sure whether ~

[2020-01-01 00:06] bgyori commented on #731
I see, given all these factors, I guess it's not worth changing anything now. By the way, the use case in which this comes up is when we use Eidos as a dependency of INDRA and so Eidos is invoked from application-specific folders for different reading/assembly runs.

[2020-01-01 16:38] kwalcock commented on #731
Another option would be to make a symbolic link from ./cache in each of these directories to ~/cache.

[2020-01-06 23:41] BeckySharp commented on #708
thanks for finding this -- working on them now!

[2020-01-08 19:37] kwalcock commented on #708
I see that at one time there were lots of them missing in TestDoc1.scala.

[2020-01-08 20:20] BeckySharp commented on #708
yes, and in testdoc4 etc :)

On Wed, Jan 8, 2020 at 12:37 PM Keith Alcock <notifications@github.com>
wrote:

[2020-01-18 23:05] BeckySharp opened #735 "webapp brat syntax display broken"
The syntax brat on the webapp is no longer displaying (on master).
Did we recently update something?  I looked through the "blame" on github and can't find any recent changes to HomeController or index.scala.html that would have done it... :(

@kwalcock can you please help!? :(

[2020-01-18 23:56] kwalcock commented on #735
Looking now

[2020-01-19 00:16] kwalcock commented on #735
Can you give an example?  My one test gives this output.  Is something missing?

![brattop](https://user-images.githubusercontent.com/8679738/72672377-2b65ba00-3a16-11ea-98cd-794ca6031863.png)

![bratbot](https://user-images.githubusercontent.com/8679738/72672380-37517c00-3a16-11ea-897d-379a6c95d93b.png)

[2020-01-19 01:20] BeckySharp commented on #735
it's a Martin Luther King Day miracle!
I was getting an empty blue outline box thing instead of the display... i tried switching branches etc and it was there.  But now, it's working again? though I changed nothing?
I'd think it was a browser caching thing, but I even tried in chrome....
ok -- well, then either a tesseract or a miracle or just some weird user error...
THANKS!

[2020-01-19 01:20] #735 closed

[2020-01-19 03:26] BeckySharp commented on #699
was this resolved with #700?

[2020-01-19 03:27] BeckySharp commented on #698
@maxaalexeeva what's the status on this?  same?

[2020-01-19 03:34] #399 closed

[2020-01-19 03:34] BeckySharp commented on #394
this will be handled in taxero

[2020-01-19 03:34] #394 closed

[2020-01-19 03:35] BeckySharp commented on #135
this will be addressed in different way upcoming

[2020-01-19 03:35] #135 closed

[2020-01-19 03:36] #3 closed

[2020-01-19 03:38] #528 closed

[2020-01-19 04:10] maxaalexeeva commented on #699
Yes. Sorry.

[2020-01-19 04:10] #699 closed

[2020-01-19 13:02] BeckySharp commented on #699
thanks, and don’t be! I was just seeing what could be closed! :)

On Saturday, January 18, 2020, Maria (Masha) Alexeeva <
notifications@github.com> wrote:

[2020-01-19 19:53] BeckySharp commented on #656
touched on with #736

[2020-01-19 21:42] #708 closed

[2020-01-20 01:56] maxaalexeeva commented on #698
I don't believe we have addressed this.

[2020-01-20 02:24] bgyori commented on #731
The server has since been fixed so I'm closing this.

[2020-01-20 02:24] #731 closed

[2020-01-20 03:42] BeckySharp commented on #698
to make sure I understand -- the rules apply during the main running of the grammars, right?
I think (all of?) the finders run ahead of time.  If I'm right, then do we just want to use the normalization of the finder on locations found elsewhere? Or have I misunderstood?

[2020-01-20 23:47] maxaalexeeva commented on #698
I think so.

Is this where the order of finders is defined? https://github.com/clulab/eidos/blob/14fcd19528f93d120bdf39f003edad83d33d8331/src/main/resources/eidos.conf#L7
If yes, based on this order, the rule-found locations should also be normalized. Or maybe I misunderstand.

Something we can look at during wed meeting, @BeckySharp?

[2020-01-21 03:28] BeckySharp commented on #698
yes, good plan!

On Monday, January 20, 2020, Maria (Masha) Alexeeva <
notifications@github.com> wrote:

[2020-01-26 20:07] maxaalexeeva opened #738 "STOP_NER stops Locations from being found with rules"
While we were working on the migration branch, @zupon wrote a few backoff rules to get the locations that are not found by the neural net:

https://github.com/clulab/eidos/blob/45dbf5fffb6b58659644c543ec1142a641184d8b/src/main/resources/org/clulab/wm/eidos/english/grammars/context.yml#L30

It looks like (at least) this is stopping these rules from working:

https://github.com/clulab/eidos/blob/45d

[2020-01-27 17:25] BeckySharp commented on #738
Those methods were designed to make sure that causal relations weren't
returned where one of the arguments (i.e., the cause or the effect)  has no
content *aside from* things like NEs... I think that they are only run over
the final output... do we want to return all locations, whether they
occur with an event/relation of interest or not?  If so, we can do that,
probably here:
https://github.com/c

[2020-01-27 19:00] BeckySharp opened #739 "compositional grounding"
So we ran this sentence as a test case for compositional grounding:
`The price of oil increased the price of water transportation.`
and we found that the results weren't as expected, in terms of what the elements grounded to.

@zupon we think this would be a good unit test to refine the approach?
Issues to possibly consider:
- top k on all branches?
- what should be the threshold for reporting res

[2020-01-27 19:06] BeckySharp commented on #697
@kwalcock has this been merged in yet, with the compositional grounding? or is it next?

[2020-01-27 19:18] zupon commented on #739
I'll take a look!

[2020-01-27 19:42] kwalcock commented on #697
No, it is not in master yet.  It may be next.  The main problem is that it messes up the compact tree representation which means that the cache doesn't work.  It has also not been adequately studied, IMO.  I'm hoping that this test data that Mihai sent recently can be used to conclusively say that the parents are needed (and that they don't need examples, descriptions, patterns, parsing, themselve

[2020-01-30 00:47] ishu59 opened #743 "Request to update path for vectors.txt"
I am trying to download vectors.txt from path given in the document but the file is no longer available on the google drive. Please update the path to this file

[2020-01-30 03:44] kwalcock commented on #743
Thanks for spotting that.  I'm not sure where they went, but I am uploading new copies now.

[2020-01-30 06:14] kwalcock commented on #743
The link to vectors should be fixed.  Glove is still uploading.

[2020-01-30 15:11] kwalcock commented on #743
It seems to work, so I'm closing the issue now.

[2020-01-30 15:11] #743 closed

[2020-01-30 17:51] zupon commented on #739
I might have figured out what's going on and how to address it.

As it was, our odin rule in `OntologyGrounder` would look for words within the mention as potential modifiers. The first rule would make a single chunk out of multiple words in a row that matched, which got us things like `armed clashes` or `school supplies` being a single modifier, which is good. However, it also turned `water trans

[2020-02-03 15:31] bgyori opened #747 "Add ground_texts endpoint to webapp"
For integration with various workflows, it would be really useful to expose the reground method (https://github.com/clulab/eidos/blob/45dbf5fffb6b58659644c543ec1142a641184d8b/src/main/scala/org/clulab/wm/eidos/groundings/OntologyHandler.scala#L41) as a webapp endpoint. The endpoint could have the same interface as the method, where the caller provides a YAML ontology string, a list of entity text

[2020-02-03 16:07] kwalcock commented on #747
Noted.  I can probably get to it within a few days if everyone else approves.  Do you just need the interface, not a form?

[2020-02-03 16:10] bgyori commented on #747
Yes, just the interface for programmatic use, I wouldn't be using a web form. Thanks!

[2020-02-05 18:46] kwalcock commented on #747
I'm working on this now.  Does it need to work in a particular older branch or release for sake of compatibility?

[2020-03-01 21:10] robertvacareanu opened #770 "Weird grounding for node with one example"
For the sentence:

It extracts `trust` as a cause, but it doesn't ground it to `Trust`, even though the example file for `Trust` contains only `trust`.

[2020-03-04 19:45] BeckySharp commented on #325
believe it or not @bgyori  -- we now handle this (for non-complex ones, i.e., not for the complicated one with a sprawling parse):
<img width="455" alt="image" src="https://user-images.githubusercontent.com/5384073/75916585-d939f600-5e15-11ea-8a7a-7d2682af1cb5.png">
As of PR #775 ...

[2020-03-04 22:44] #325 closed

[2020-03-09 21:44] kwalcock opened #783 "Adjective grounding needs to be added to the pipeline"
At one time and for various reasons the design had no vars for an EidosMention.  This was recently changed so that the canonicalName and groundings are vars.  I realize now that there is one more dangling piece of data: the adjective groundings.  These are being added optionally just for the jsonld export and they're the reason that in lots of apps there is this strange adjectiveGrounder being con

[2020-03-12 16:03] BeckySharp opened #789 "Sentence splitting"
This is seen by processors as one sentence, is it something we can address with the sentence splitter or something?

`An increase in assessed settlements reported access to functional boreholes in November , which can be attributed to the scaling up of humanitarian activities from the WASH cluster to rehabilitate boreholes in Jur River and Wau Counties.17 The overall percentage of functional b`ore

[2020-03-12 16:29] MihaiSurdeanu commented on #789
I'll look at this.

On Thu, Mar 12, 2020, 11:04 AM Becky Sharp <notifications@github.com> wrote:

[2020-03-16 16:46] MihaiSurdeanu commented on #789
Fixed in processors PR #370. There is even a unit test for this text :)

[2020-03-16 16:46] #789 closed

[2020-03-17 16:43] bgyori opened #794 "Deduplication error during sbt assembly"
On the latest master, when running sbt assembly, I am getting an error to do with wm_compositional_metadata.yml. I tried deleting both the implicated jar file in .ivy2 and the target/scala-2.12/classes folder but neither of those solved the issue.

[code]

[2020-03-17 16:52] MihaiSurdeanu commented on #794
@kwalcock: can you please take a look?

[2020-03-17 17:31] kwalcock commented on #794
It looks like I forgot something.  It's being addressed with #795.  We've switched over to the WorldModelers/Ontologies version that is on github and don't need the local files, especially if they differ.  It should be ready momentarily.

[2020-03-17 18:39] kwalcock commented on #794
@bgyori, can you give it a try?  Also, if you have time can you see #791?  Thanks.

[2020-03-17 19:24] bgyori commented on #794
Thanks, #795 solved it!

[2020-03-17 19:24] #794 closed

[2020-03-17 19:26] bgyori commented on #783
Done in #748

[2020-03-17 19:27] bgyori commented on #783
Oh no, so

[2020-03-17 19:27] bgyori commented on #747
Done in #748

[2020-03-17 19:27] #747 closed

[2020-03-17 19:30] bgyori commented on #697
This has since been fixed so I'm closing the issue.

[2020-03-17 19:30] #697 closed

[2020-03-19 15:00] bgyori opened #796 "Error encountered related to time norm"
While reading a set of text documents, I encountered the error below. I haven't yet isolated the specific document/text to reproduce this which is probably needed to figure out why this happens. I will post more information below as soon as I have more information.
[code]

[2020-03-19 15:03] MihaiSurdeanu commented on #796
Thanks!

@EgoLaparra, @bethard: can you please look at this?

[2020-03-19 15:09] bethard commented on #796
Looks like some time expression is coming back with no character offsets. Once we have at least a document where this is happening, we should be able to debug.

[2020-03-19 16:25] bgyori commented on #796
I managed to isolate it to this obscure sentence, which reproduces the error.
[code]

[2020-03-19 17:23] EgoLaparra commented on #796
Maybe a problem with unicode characters again: `mAb-nsp1β`. Let me check it out

[2020-03-19 22:20] EgoLaparra commented on #796
We were creating TimeZones without the corresponding charspan. Yeah, there is no time zone in that sentence but, for some reason, the parser believes `al` is.
I've fixed the error I will release a new version of the parser.

[2020-03-19 22:27] kwalcock commented on #796
You probably saw that I added other problematic documents to issues of the timenorm project, but I'll write this just in case.

[2020-03-19 22:38] EgoLaparra commented on #796
Yes, I saw it. They were caused by the same reason.

[2020-03-23 15:22] kwalcock commented on #796
Please let me know when a new version is released so that I can update Eidos.

[2020-03-23 23:29] EgoLaparra commented on #796
@kwalcock, I've just released version 1.0.5

[2020-03-23 23:34] kwalcock commented on #796
Thanks!  I'll put it to use.

[2020-03-24 00:11] kwalcock commented on #796
Here's output for the four files that didn't run, using default configuration values.  Eidos is still running the unit tests after the update.

[timenorm-update.zip](https://github.com/clulab/eidos/files/4372462/timenorm-update.zip)

[2020-03-25 15:05] #796 closed

[2020-03-25 15:07] kwalcock commented on #783
#791 addresses this issue.

[2020-03-25 15:07] #783 closed

[2020-03-25 15:11] kwalcock opened #799 "Coordinate handling of lucene exceptions with geonorm project"
See

https://github.com/clulab/geonorm/issues/3
https://github.com/clulab/geonorm/issues/4
https://github.com/clulab/geonorm/issues/5

[2020-03-25 15:22] kwalcock opened #800 "Somehow the identification of times need to be sped up"
Heads up!  We may be discussing this soon.

Component | Time (ms)
-- | --
Distinct | 3
MigrationHandler | 6
NegationHandler | 21
StopwordManager | 35
ConceptExpander | 43
HedgingHandler | 77
Actions | 91
NestedArgumentExpander | 103
Processors | 196
GazetteerEntityFinder | 342
OntologyHandler | 410
RuleBasedEntityFinder | 783
GeoNormFinder | 12450
TimeNormFinder | 697795

Component | Time (ms)
--

[2020-03-25 18:39] bethard commented on #800
As discussed, I think there are only two viable solutions here:

1. Allow users to use SUTime instead if speed is a concern. @EgoLaparra is working on this.
2. Rewrite the system from scratch using Odin grammars. I estimate this is a 1-2 semester project for a non-research student or programmer, as it involves getting familiar with the SCATE annotated corpus, mastering Odin rules, and handing a ne

[2020-03-25 18:41] MihaiSurdeanu commented on #800
Yeah, 1 should be Ok. Or 1++, where we add just a small number of rules to handle specific temporal expressions to WM such as seasons?

[2020-03-25 18:42] BeckySharp commented on #800
I officially lodge my suggestion here that we could see if two-six or their
subcontractor QNTFY want to include it as an offline text analytic.
QNTFY is already doing some things are are likely decently expensive with
neural models? (or maybe not)

On Wed, Mar 25, 2020 at 11:40 AM Steven Bethard <notifications@github.com>
wrote:

[2020-03-25 18:43] MihaiSurdeanu commented on #800
Yes, we should check!

On March 25, 2020 at 11:42:48 AM, Becky Sharp (notifications@github.com)
wrote:

I officially lodge my suggestion here that we could see if two-six or their
subcontractor QNTFY want to include it as an offline text analytic.
QNTFY is already doing some things are are likely decently expensive with
neural models? (or maybe not)

On Wed, Mar 25, 2020 at 11:40 AM Steven Bethard

[2020-04-02 19:58] bgyori opened #807 "Polarity in flattened embedded relations"
From sentences that fit the pattern `A prevents B by C`, we would normally expect to see two causal relations: `A -> B(-)` and `C -> B(+?)`, where `(-)` stands for negative polarity, and `(+?)` stands for positive or no polarity. However, Eidos currently produces `A->B(-)`, and `C->B(-)`.

Here is an example with a real sentence using the webapp off the latest master:
[code]
Note the Decrease atta

[2020-04-02 20:03] MihaiSurdeanu commented on #807
Thanks @bgyori !
I think we need to add a higher priority rule for A ${inhibittrigger} B by C.
@BeckySharp: are you up for adding it?

[2020-04-08 04:40] #799 closed

[2020-04-08 04:41] #594 closed

[2020-04-14 02:16] bgyori opened #823 "Deduplication error during assembly"
I am getting a deduplication error with the latest master when running `sbt assembly`:
[code]
Any thoughts?

[2020-04-14 02:48] kwalcock commented on #823
We just solved this in some other related project, reach apparently (https://github.com/clulab/reach/pull/669/commits/69d6648c03c75dc4f1327c42a308176a5edd745b).  I'll need to add these lines for eidos and perhaps for other transitive dependencies of processors.

[2020-04-18 16:24] bgyori opened #827 "Possible candidates for addition to stopwords"
In some extractions, I'm seeing `%` and `~` being pulled out as entities from text. If we want to eliminate these, is the right approach to add them to the stopwords file?

[2020-04-18 17:19] MihaiSurdeanu commented on #827
Yes, thanks!

[2020-04-18 17:53] BeckySharp commented on #827
I should also add that filter you mentioned, mihai, about entities which
are a single character

On Sat, Apr 18, 2020 at 10:19 AM Mihai Surdeanu <notifications@github.com>
wrote:

[2020-04-18 18:07] MihaiSurdeanu commented on #827
Yep.

The entity validator in Reach might also help:
https://github.com/clulab/reach/blob/master/processors/src/main/scala/org/clulab/processors/bionlp/BioLexiconEntityValidator.scala

On April 18, 2020 at 10:53:33 AM, Becky Sharp (notifications@github.com)
wrote:

I should also add that filter you mentioned, mihai, about entities which
are a single character

On Sat, Apr 18, 2020 at 10:19 AM Miha

[2020-04-18 18:08] MihaiSurdeanu commented on #827
And this filter:
https://github.com/clulab/reach/blob/master/processors/src/main/scala/org/clulab/processors/bionlp/BioNERPostProcessor.scala#L70

On April 18, 2020 at 11:07:26 AM, Mihai Surdeanu (surdeanu@gmail.com) wrote:

Yep.

The entity validator in Reach might also help:
https://github.com/clulab/reach/blob/master/processors/src/main/scala/org/clulab/processors/bionlp/BioLexiconEntityValidat

[2020-04-18 18:14] bgyori commented on #827
I can confirm that single character entities like `S`, `R`, etc. are showing up in large numbers. If I understand correctly, you can handle those systematically and we don't need to add them one-by-one to the stop words list.

[2020-04-18 18:55] BeckySharp commented on #827
yeah -- I can try to work on that today/this weekend, is that soon enough?
or is this like, this hour urgent?

On Sat, Apr 18, 2020 at 11:14 AM Benjamin M. Gyori <notifications@github.com>
wrote:

[2020-04-18 19:11] bgyori commented on #823
It works now, thanks!

[2020-04-18 19:11] #823 closed

[2020-04-18 22:29] BeckySharp commented on #827
OK -- I have a fix, is there an official sentence or two for a test? Or should I make one up?

[2020-04-20 18:01] #827 closed

[2020-04-20 22:57] bgyori opened #832 "Error when serializing JSON-LD with SUtime on"
When reading a batch of documents with the
[code]
setting, the system crashed with this error
[code]
Unfortunately, it is not clear from the logs which document or text specifically caused this. If it's not possible to identify the issue without more specifics, let me know and I'll share the dump of documents.

[2020-04-20 23:19] kwalcock commented on #832
@bgyori, you sure are keeping us honest here.  This must be a fairly recent version of Eidos you are using.  Is it recent enough that it has a libraryDependencies like
[code]
but not yet
[code]
If so, then the problem *might* well be related to a processors bug that has been fixed but not yet published in version 8.0.3.  At least a very similar error went away after that change.  Maybe @MihaiSurde

[2020-04-20 23:23] bgyori commented on #832
Yes, I just pulled the latest master today and worked with that, I promise I'm not trying to break the system on purpose :)

[2020-04-20 23:44] MihaiSurdeanu commented on #832
Should I release 8.0.3?

On Mon, Apr 20, 2020 at 16:23 Benjamin M. Gyori <notifications@github.com>
wrote:

[2020-04-20 23:52] kwalcock commented on #832
The fix held up through the rest of the 8311 documents and it looks like there is a customer already.  I just don't know about the other changes, especially those on the verge of being added.

[2020-04-21 20:06] kwalcock opened #840 "Slight irregularity in tags"
There is code in Eidos that seems to imagine ADJ and ADV tags.  If they can't be there, it just slows down the program a little.  I think in each case of ADJ, a check is also performed for JJ.  In the case for ADV there doesn't seem to be a corresponding RB.  Here are some snippets.

[code]

I can fix/adjust if some of the background is explained, like whether this is to account for multiple tag s

[2020-04-21 20:18] kwalcock commented on #840
Or for multiple languages?  @BeckySharp, can you advise?

[2020-04-21 21:50] kwalcock commented on #840
The "VERB" and "NOUN" aren't in the penn treebank list, either.

[2020-04-21 21:58] kwalcock commented on #840
And not "PROPN".

[2020-04-21 22:58] kwalcock commented on #840
They apparently come from Portuguese.

[2020-04-22 15:39] kwalcock commented on #840
Please disregard all these questions.  They are all explained by us having combined tags from both English and Portuguese.  I'm going to ask George for documentation of the tag set used in the Portuguese version.

[2020-04-22 15:39] #840 closed

[2020-04-24 17:48] kwalcock commented on #832
Processors has been updated to 8.0.3 and the master branch of Eidos now uses it.  I'll close this until another error is encountered.

[2020-04-24 17:48] #832 closed

[2020-04-24 17:49] bgyori commented on #832
Thanks!

[2020-05-05 01:29] kwalcock commented on #800
Here are the most recent numbers for a small run.  When using the neural version, I see here that the ratio of time to geo is only about 6.5 while in the past it was almost 10 times that, 56.  The difference seems to be that I turned off parallel processing for this run.  It looks like when it was on, the time routines might have been able to start enough for the clock to start, but then they got

[2020-05-05 01:38] MihaiSurdeanu commented on #800
This is still a fantastic improvement!

On Mon, May 4, 2020 at 6:29 PM Keith Alcock <notifications@github.com>
wrote:

[2020-05-05 06:06] kwalcock commented on #800
Here's the longer test, basically the same.  It's about 6 times faster without the new time algorithm.  Geo is 80% of the remaining time.

Component | SU Time (ms) | Neural Time (ms)
-- | -- | --
MigrationHandler | 9 | 10
AdjectiveGrounder | 21 | 18
Distinct | 23 | 33
NegationHandler | 87 | 87
HedgingHandler | 302 | 284
ConceptExpander | 718 | 798
TimeNormFinderSUTime | 1167 | 1551927
MostComplete

[2020-05-05 18:08] kwalcock opened #849 "Eidos should restart faster or less often"
Especially during development of rules, the round trip time for incorporating the new rule is too high.  One part of the solution is to use a server version of processors.  That may be a good idea on its own, but there are other possibilities and they might be discussed here.

[2020-05-05 18:36] kwalcock commented on #849
Below are recent startup times for Eidos.  Loading all the components in parallel takes over 36 seconds.  Getting processors loaded and primed occupies just under 36 seconds.  Constructing a processors object takes only 15 ms of that.  The rest is for "priming", which would be dealing with lazy initialization and other on-demand activities.  If all the activities above the blank line in the table

[2020-05-05 19:56] MihaiSurdeanu commented on #849
Thanks @kwalcock !
We can definitely handle this inside processors.

[2020-05-05 21:21] kwalcock commented on #800
I have a note here that says to "make 1000 documents as a timing test suite."  I don't know where 1000 came from, but it is too many, at least at present speeds.  The above test was on 52 documents and the longer time is over 1/2 hour.  We don't have a reference hardware platform, but maybe one of the servers would do.  For the record, the current run was just on my laptop, using glove vectors, ha

[2020-05-05 21:33] MihaiSurdeanu commented on #800
Thanks!

On May 5, 2020 at 2:22:15 PM, Keith Alcock (notifications@github.com) wrote:

I have a note here that says to "make 1000 documents as a timing test
suite." I don't know where 1000 came from, but it is too many, at least at
present speeds. The above test was on 52 documents and the longer time is
over 1/2 hour. We don't have a reference hardware platform, but maybe one
of the servers would

[2020-05-05 23:07] #800 closed

[2020-05-05 23:09] kwalcock commented on #849
See also #526

[2020-05-06 00:39] kwalcock commented on #849
And #639

[2020-05-13 20:55] kwalcock commented on #849
Startup duration and frequency (how often it needs to be done) for Eidos, particularly during development are influenced by multiple components, some at odds with each other.  Here are just a few things to consider:

* Play runs the webapp, which provides the most useful output format we have.  Play runs in different modes.  We have the most experience with the development mode.  Unfortunately, in

[2020-05-13 21:40] kwalcock commented on #849
My current favorite proposed solution has two parts.
1. Most grammar type resources are loaded with code like
[code]
This can be changed to
[code]
This Resourcer will take that incoming resource path, convert it into a filename that would apply at development time and grab the text of the file if it is available.  If is is not, or maybe if it's obvious we're not in development mode, then it falls

[2020-05-13 21:57] BeckySharp commented on #849
it is indeed complicated by javascript/css etc... but cool if that's not a
deal breaker!
Is this faster/as fast as if we had the processors server?
The advantage of that is that we could benefit in other projects too...

On Wed, May 13, 2020 at 2:41 PM Keith Alcock <notifications@github.com>
wrote:

[2020-05-13 22:29] kwalcock commented on #849
#1 needs to be done to keep Eidos from having to restart, I think, whether or not processors is a server.  If it is only rules and not code that is changing, then this reload version should be faster.  If the code changes and Eidos restarts, Eidos restarts processors.  (Although I think that eclipse has hot code replacement and wouldn't need to restart even Eidos.)  This would be slower than the s

[2020-05-14 23:12] kwalcock opened #859 "webapp should use results of adjective grounding already performed"
Recent versions of Eidos have included the adjective grounding independent of the serialization.  By the time that almost anything gets its hands on an EidosMention, it should already be grounded.  It looks like the webapp is doing this on its own and that I have neglected to update it as Eidos changed.  If this is accurate, I will fix at the next opportunity.

[2020-05-18 20:16] kwalcock opened #861 "Time value changes"
I read the same set of documents on Thursday (May 14) and again on Monday (May 18).  The times have changed in the output.  For the sentence `February 21, 2015 (ADDIS ABABA) - South Sudan peace talks aimed at ending the more than 14-month-long conflict in the young East African nation have been postponed until Monday.` the first reading is

[code]

and the second reading is
[code]
The document doe

[2020-05-18 20:20] EgoLaparra commented on #861
@kwalcock, I've moved the issue here since the problem is not caused by the neural parser.
I will do some tests, but, since `norm` values come from processors, this seems to be caused by SUTime.

[2020-05-18 20:22] MihaiSurdeanu commented on #861
Fwiw, it seems to me that the second reading should be the correct one, since it references a time before publication.

I think this is related to the heuristic in SUTime that resolves days of the week such as "Monday". But I can't see why this would change, if we didn't change CoreNLP versions...
@BeckySharp : do you know?

[2020-05-19 02:24] kwalcock commented on #861
Thanks for moving it to the right place.  I'll try to see if it can be reproduced, perhaps on the same day, so that I'm absolutely certain that the code hasn't changed.

[2020-05-20 19:36] kwalcock commented on #861
This phenomenon does appear to be repeatable.  I'm trying to isolate the situation.

[2020-05-21 01:20] kwalcock commented on #861
If Eidos reads, serially, the files 1742d787c22e9873c4bf9558e456ddd2, then 73f374515fed56aac5979d847591a7f8, and again 1742d787c22e9873c4bf9558e456ddd2, the two reads of the one file are different.  Something must be keeping state around.  The last time it happened, something from Stanford was running into an unknown word, noting it, and then not considering it unknown the next time around and wor

[2020-06-09 16:45] kwalcock opened #876 "Account for sentence classifier"
Add API via EidosProcessor, store as document attachment, perhaps add filter later to remove odinMentions or eidosMentions from uninteresting sentences.

[2020-06-09 19:53] kwalcock commented on #876
There is a branch for this, https://github.com/clulab/eidos/tree/feature-sentenceClassifier.  Please branch from that for personal work and then merge back.

[2020-06-18 02:20] kwalcock commented on #861
These texts are adequate:
[code]
and
[code]
They do not need to go through Eidos.  A pass through Processors is enough.  Only these stages are necessary:
*  tagPartsOfSpeech(doc)
* lemmatize(doc)
* recognizeNamedEntities(doc)

[2020-06-18 15:15] kwalcock commented on #861
It's looking like an edu.stanford.nlp.ling.tokensregex.Env is being maintained.  This has a variable for TUESDAY which has a value which in turn has tags.  There's a tag for resolveTo which is initially missing so that a default value of SUTime.RESOLVE_TO_CLOSEST is used.  Sometime later in execution, that gets changed to RESOLVE_TO_PAST.  It seems like it is getting incorporated into the environm

[2020-06-30 04:04] sanyabt opened #884 "Vectors serialization error"
Hi

I am trying to use the Eidos reader (as a webapp) with grounding enabled and using the MESH ontology. After making the changes in eidos.conf (as mentioned [here](https://github.com/clulab/eidos#configuring)) i.e. specifying useGrounding=True and adding "mesh" to the list of ontologies, I followed the instructions to cache the ontologies (as [here](https://github.com/clulab/eidos#optimizing)).

[2020-06-30 04:21] bgyori commented on #884
Hi @sanyabt, while I can't help with this specific technical issue, I have some - hopefully useful - thoughts about this. The MeSH ontology was added to Eidos as an experiment to see if the embeddings-based grounding model (which builds on the names and examples or descriptions associated with ontology entries to find matches) could work with a biomedical ontology. We found this approach to be noi

[2020-06-30 04:55] sanyabt commented on #884
Hi @bgyori, thank you for the suggestion! That's actually pretty interesting and yes, we've been working with INDRA (and REACH) for biomedical literature machine reading. REACH is extracting the mechanistic statements pretty well but we were hoping to leverage EIDOS for the general purpose statements (such as in observational studies) - would it then be possible to ground the entities through INDR

[2020-06-30 05:05] kwalcock commented on #884
I'm not sure why we are logging to [error].  Perhaps it is to distinguish our messages from what sbt otherwise outputs.  The ones you pasted do not yet indicate an error.  They are all INFO and TRACE statements.  Do you have more?  I do get out of memory errors and am checking that out.

[code]

[2020-06-30 06:19] kwalcock commented on #884
The memory problem was exacerbated by me using an experimental branch and it's working better in master.  MeSH will require lots of memory.  I gave it _JAVA_OPTIONS: -Xmx24g, but it's using about 14GB right now (perhaps unnecessarily).  I also commented out all lines at the bottom of CacheOntologies.scala except `safeCacheOntologies()` so that it wouldn't try to do all of the memory intensive oper

[2020-06-30 16:04] sanyabt commented on #884
@kwalcock thank you for the help! I might also be having memory issues and will change the configuration.

[2020-06-30 16:04] #884 closed

[2020-07-16 16:05] BeckySharp opened #891 "Lightweight eidos"
Is it possible to move some stuff to subprojects or something, so we can have a lightweight eidos that can run without taking > 10 mins to package a jar?

[2020-07-16 16:10] MihaiSurdeanu commented on #891
Not sure... If you're talking about building the fat jar, then this won't matter, because the fat jar includes all the dependencies.

[2020-07-16 16:17] kwalcock commented on #891
Yes, what Mihai said.  The difficulty is mainly with the glove file in my experience.  We have not yet switched to the smaller version.  That will help eventually.  One can cheat on a local build by using the cached vectors and then removing the dependency from build.sbt.

[2020-07-16 16:18] MihaiSurdeanu commented on #891
Should we just switch to the small version?

On Thu, Jul 16, 2020 at 09:17 Keith Alcock <notifications@github.com> wrote:

[2020-07-16 16:21] kwalcock commented on #891
A plain run, though, should not take that long.  How is it that you are running it and what part is it that is running?

[2020-07-16 16:23] BeckySharp commented on #891
i made a file with 1 sentence and did `sbt run` then selected 11 (extract
and export)
btw -- ran out of memory with 8g, so have to start all over.

On Thu, Jul 16, 2020 at 9:21 AM Keith Alcock <notifications@github.com>
wrote:

[2020-07-16 16:30] kwalcock commented on #891
I will try it, just not really soon.  You might consider using IntelliJ for that, though.  It leaves the dependencies in their own jars and manipulates the classpath to refer to them.  sbt seems to put everything into a single jar, requiring lots of time, and then call that directly.

[2020-07-16 16:33] BeckySharp commented on #891
thanks, it's not urgent. i tried in intelliJ first and it was hanging too
i prob need to rebuild it there as well, i was just feeling frustrated by intelliJ for continuously seeming to need for me to to clean compiles, i guess i gave up too soon.

[2020-07-16 16:33] MihaiSurdeanu commented on #891
Agreed. For smaller jobs, IntelliJ is better.

On July 16, 2020 at 9:31:15 AM, Keith Alcock (notifications@github.com)
wrote:

I will try it, just not really soon. You might consider using IntelliJ for
that, though. It leaves the dependencies in their own jars and manipulates
the classpath to refer to them. sbt seems to put everything into a single
jar, requiring lots of time, and then call that d

[2020-07-16 16:49] kwalcock commented on #891
IntelliJ notices fairly well when the main build.sbt changes, but poorly if something like webapp/build.sbt changes.  That's been a problem for me that can necessitate a new, nonincremental build.  Sometimes I forget to add something like -Xmx8g to the VM options as well.

I was hoping to switch to the smaller vector file when the geolocations are moved to Metal and there is a another vector file

[2020-07-16 17:01] BeckySharp commented on #891
well if **someone** can generate jsonld for this sentence I'd be indebted:

Marginal improvements in levels of acute malnutrition are expected due to
consumption of household production.

On Thu, Jul 16, 2020 at 9:49 AM Keith Alcock <notifications@github.com>
wrote:

[2020-07-16 17:12] BeckySharp commented on #891
it's for the hackathon at 10

On Thu, Jul 16, 2020 at 10:01 AM Becky Sharp <bsharpataz@gmail.com> wrote:

[2020-07-16 17:15] kwalcock commented on #891
It's running.  Had the cache off.  Hope hackathon is at 11.

[2020-07-16 17:16] kwalcock commented on #891
I don't see that it found anything.

[code]

[2020-07-16 17:20] kwalcock commented on #891
The webapp found things.  I'll change branches and check again.

[2020-07-16 17:20] BeckySharp commented on #891
pinging on slack

On Thu, Jul 16, 2020 at 10:16 AM Keith Alcock <notifications@github.com>
wrote:

[2020-07-23 01:36] kwalcock opened #893 "Another discussion of compositional grounding needs to happen"
This may work better than email...

[2020-07-23 01:40] kwalcock commented on #893
There were four examples:
[code]

[code]

[code]
and
[code]

[2020-07-23 02:05] kwalcock commented on #893
The basic template is this:

|object|name|value|
|--|--|--|
|CompositionalGrounding|"@type"|"CompositionalGrounding"|
| |"version"|string|
| |"versionDate"|string|
| |"values"|["ConceptGrounding" or "PropertyGrounding" or "ProcessGrounding"]|
|*Grounding|"@type"|"*Grounding"|
| |"text"|string|
| |"provenance"|Provenance|
| |"ontologyConcept"|(string thing from ontology)|
| |"value"|(float from mat

[2020-07-31 20:19] MihaiSurdeanu opened #894 "Add SRL functionality to Eidos"
Processors 8.1.3 has been released and should be available on maven in a couple of hours. It adds FastNLPProcessorWithSemanticRoles, which does what the name says.
See a simple example here:
https://github.com/clulab/processors/blob/master/corenlp/src/test/scala/org/clulab/processors/TestFastNLPProcessor.scala#L96

To play with it, type "./shell" in the processors repo, and select the "fast" proce

[2020-08-03 19:02] kwalcock commented on #894
Does someone need to have this released/published?

[2020-08-03 19:29] MihaiSurdeanu commented on #894
If by *this*, you mean processors, it has been released.

[2020-08-03 19:33] kwalcock commented on #894
No, I mean the corresponding changes in Eidos.  Do they need to be released or is being in master sufficient?

[2020-08-03 20:30] MihaiSurdeanu commented on #894
Master is Ok.

On Mon, Aug 3, 2020 at 12:33 PM Keith Alcock <notifications@github.com>
wrote:

[2020-08-03 20:31] #894 closed

[2020-08-03 20:32] #876 closed

[2020-09-12 19:04] kwalcock opened #905 "Match error in season finder"
Eidos is having problems processing the attached file.  Remove .txt from the filename.  I'm running ExtractCdrMetaFromDirectory with these arguments: ../corpora/sep2020/input ../corpora/sep2020/output ../corpora/sep2020/time.txt 8.  There's also a VM option: -Xmx20g.  It could be lower.

[code]

[13e81eea8f1dc02197fe02719631ae94.json.txt](https://github.com/clulab/eidos/files/5213131/13e81eea8f1dc

[2020-09-12 19:05] kwalcock commented on #905
@EgoLaparra, if your schedule is booked, let me know and I'll try to get to it sooner.

[2020-09-12 19:51] EgoLaparra commented on #905
I see. The match https://github.com/clulab/eidos/blob/b03ca30f3fb073fa6eb504f7c45ca151693a28c9/src/main/scala/org/clulab/wm/eidos/context/SeasonFinder.scala#L99 doesn't capture season mentions at the beginning of the sentence, like in "Season affected the nutritive value...". We need to add a `case _ => None`.

[2020-09-12 22:46] EgoLaparra commented on #905
This should be fixed by https://github.com/clulab/eidos/pull/906

[2020-09-14 15:57] #905 closed

[2020-10-01 01:51] kwalcock opened #907 "SRLCompositionalGrounder crashes"
In outgoingOfType(), the tok value is sometimes greater than dependencies.outgoingEdges can handle and an exception is thrown.  If the code
[code]
is added, one can catch it before it happens and inspect.  4 of 52 test files including the one attached seem to cause the problem.  The size of outgoingEdges in one case is 24.  The tokenInterval is 2-24 and it is the 24th that causes the problem.

[3_

[2020-10-01 01:53] MihaiSurdeanu commented on #907
Can you please point me to the class where it happens?

[2020-10-01 01:58] kwalcock commented on #907
I didn't check for multiple classes in the file.  It's in SentenceHelper in SRLCompositionalGrounder.scala.

[2020-10-01 02:00] kwalcock commented on #907
https://github.com/clulab/eidos/blob/6ebd4b3a674294d7ca24073197c614e119c66965/src/main/scala/org/clulab/wm/eidos/groundings/grounders/SRLCompositionalGrounder.scala#L426

[2020-10-01 04:21] BeckySharp commented on #907
the dependencies array isn't shorter like the srl one, right @MihaiSurdeanu ?

[2020-10-01 14:52] MihaiSurdeanu commented on #907
It should not be. Is `dependencies` the syntax ones or SRL here?

[2020-10-01 14:52] MihaiSurdeanu commented on #907
Also, if this is causing so much pain, should I enforce the SRL ones to be the size of the sentence?

[2020-10-01 15:32] kwalcock commented on #907
BTW, thanks @BeckySharp for so cleanly adding things like IndividualGrounding to the messy OntologyGrounder.scala code.  The JSONLD deserialization is ready and the present issue was only found while I was giving the serialization a good workout.

[2020-10-01 16:49] BeckySharp commented on #907
OK, i can check when i get back if this isn't solved yet -- and no, Mihai,
these are the syntax deps, not the SRLs, so no changes are needed there

On Thu, Oct 1, 2020 at 8:33 AM Keith Alcock <notifications@github.com>
wrote:

[2020-10-01 16:51] BeckySharp commented on #907
though fwiw you may want to add a helper method to return Array.empty when
someone tries to `get` the outgoing for a SRL beyond the array...?
they could all point to the same Array.empty

On Thu, Oct 1, 2020 at 9:49 AM Becky Sharp <bsharpataz@gmail.com> wrote:

[2020-10-01 22:16] MihaiSurdeanu commented on #907
FYI: a bug fix for this has been merged in master in processors. We now guarantee that semantic deps have the same size as the sentence.

[2020-10-01 22:17] MihaiSurdeanu commented on #907
@kwalcock: can you please test if this bug happens with the latest processors? If not, maybe we should merge the parallel branch too, and then release 8.2.2?

[2020-10-01 22:21] kwalcock commented on #907
Yes, the testing was my plan exactly.

[2020-10-02 00:07] kwalcock commented on #907
It may be that I am being deceived, but it doesn't seem to have worked.  I see things like words = String[30] and dependencies.outgoingEdges = Tuple2[29] and preferredSize = None.  The processor in question is a FastNLPProcessorWithSemanticRoles and it appears that the DirectedGraphs are initialized along a different route than what was changed.  They come from FastNLPProcessor.parseWithStanford w

[2020-10-02 00:52] MihaiSurdeanu commented on #907
Oh, I think I know what's going on. Hang on.

On Thu, Oct 1, 2020 at 17:08 Keith Alcock <notifications@github.com> wrote:

[2020-10-02 02:34] BeckySharp commented on #907
also i’m not looking at the code, but i thought i switched to cluprocessor,
right? or am i crazy?

On Thursday, October 1, 2020, Mihai Surdeanu <notifications@github.com>
wrote:

[2020-10-02 03:43] MihaiSurdeanu commented on #907
Testing the fix...

[2020-10-02 04:08] MihaiSurdeanu commented on #907
Ok, can you please try now?

[2020-10-02 04:40] kwalcock commented on #907
I was looking at EidosProcessor rather than the SRLCompositionalGrounder for the processor.  They may be getting tangled up somehow.

[2020-10-02 21:16] kwalcock commented on #907
It doesn't look like https://github.com/clulab/processors/pull/426 fixed it.  Although eidos uses two different processors in the task, it seems that CluProcessor somehow causes the problem single handedly.  The computer may still be deceiving me, but I think that @BeckySharp 's observation above is pertinent.

[2020-10-02 21:26] MihaiSurdeanu commented on #907
So the crash is in processors on the file attached in this thread ?

On Fri, Oct 2, 2020 at 14:16 Keith Alcock <notifications@github.com> wrote:

[2020-10-02 21:37] kwalcock commented on #907
No, it happens in SRICompositionalGrounder.scala in SentenceHelper.outgoingOfType in which tok (tokenIndex?) is off the end of dependencies.outgoingEdges.  How it gets in the situation is the difficult question.  I notice in SentenceHelper that the length of outgoingEdges of srls and dependencies differs.  Dependencies is one shorter somehow.

[2020-10-02 21:38] kwalcock commented on #907
Yes on the attached file and three others, though.

[2020-10-02 22:09] kwalcock commented on #907
This means size of graphs (outgoingEdges) for ENHANCED_SEMANTIC_ROLES is not the same as for UNIVERSAL_ENHANCED.

[2020-10-02 22:12] kwalcock commented on #907
For a CluProcessor.

[2020-10-02 22:16] MihaiSurdeanu commented on #907
Thanks! I'll debug this today.

On Fri, Oct 2, 2020 at 15:12 Keith Alcock <notifications@github.com> wrote:

[2020-10-03 00:56] MihaiSurdeanu commented on #907
I can't replicate this bug. I wrote a test for this here:
https://github.com/clulab/processors/blob/takethree/main/src/test/scala/org/clulab/processors/TestDepGraphSizes.scala

And it passes for me in this branch...

[2020-10-07 20:14] kwalcock commented on #907
This seems to have been solved with https://github.com/clulab/processors/pull/428.

[2020-10-07 20:14] #907 closed

[2020-10-07 20:19] kwalcock opened #911 "MockGlove"
For testing or debugging, we need a lightweight glove that can get some answers, but not necessarily all of them or the right ones.  It should mainly save on startup time but still allow for tests that perhaps check on the existence of a grounding but not the specific result.  Grounding is turned on by default, but it could be a different grounding.

[2020-10-07 20:21] MihaiSurdeanu commented on #911
Good idea!

[2020-10-07 20:21] MihaiSurdeanu commented on #911
Maybe check a small glove file under processors resources?

[2020-10-07 20:50] kwalcock commented on #911
This is Becky's idea, but she shouldn't always have to make her own.

[2020-10-09 02:39] BeckySharp commented on #911
I think i did a millenia ago :) but "anything I can do* you can do better*,
you can do anything better than me" (some words altered for the sake of the
message)
https://www.youtube.com/watch?v=WO23WBji_Z0

:D I **LOVE** this team -- seriously -- if anyone ever has the chance to
work with you turkeys, they should snatch it up!!!

On Wed, Oct 7, 2020 at 1:51 PM Keith Alcock <notifications@github.com

[2020-10-23 17:03] kwalcock commented on #893
Compositional grounding has been addressed in branches srl_grounding and kwalcock-srl_grounding.

[2020-10-23 17:03] #893 closed

[2020-10-23 17:04] kwalcock commented on #619
For now we simply have more space.

[2020-10-23 17:04] #619 closed

[2020-10-23 17:10] kwalcock opened #912 "Bug in SRLCompositionalGrounder"
EidosEnglishProcessor extends FastNLPProcessorWithSemanticRoles and overrides the tokenizer with
override lazy val tokenizer = new EidosTokenizer(localTokenizer, cutoff)

The SRCCompositionalGrounder makes its own processor with

lazy val proc = {
  Utils.initializeDyNet()
  new CluProcessor()
}

This will have the standard tokenizer. These tokenize differently and will have different sentences an

[2020-10-23 17:33] BeckySharp commented on #912
great catch Keith! yes, this needs to be addressed!

On Fri, Oct 23, 2020 at 10:10 AM Keith Alcock <notifications@github.com>
wrote:

[2020-10-23 18:38] kwalcock commented on #912
I'm not sure why the mention's text is being reannotated at all.  It looks like it's just there to get the sentence, but that should be available already from the mention.  Could this code be copied from a different situation where the text comes from an external source?

[code]

[2020-10-23 19:00] BeckySharp commented on #912
it's there to get a sentence with the enhanced semantic dependencies, which
are AFAIK only available in CluProcessor.
I'd just use CluProcessor in the first place, but it doesn't use `norms`
which are important to the current grammars and also the times are not in
place the way they are with FastNLPProcessor.

As far as getting it from a different source, I'm not sure what you mean...
so... maybe?

[2020-10-23 19:06] kwalcock commented on #912
When a different reader's sentence needs to be grounded, we don't have a Mention or anything else, so that extra processing might have been copied inadvertently.

[2020-10-23 19:12] BeckySharp commented on #912
Ah, I see -- no, with the currently available Processors and the current
grammars we do need to re-annotate each sentence involved in a causal
extraction :(
We should prioritize this problem and plan accordingly at upcoming WM
meetings

On Fri, Oct 23, 2020 at 12:06 PM Keith Alcock <notifications@github.com>
wrote:

[2020-10-23 19:17] kwalcock commented on #912
I'll try to get the tokenizer in there then.  The new reading is crashing and it would be good to return all files.

[2020-10-23 19:52] BeckySharp commented on #912
where is it crashing?  meaning -- when is it trying to reference the one
type of Sentence with the idxs of the other type?

On Fri, Oct 23, 2020 at 12:17 PM Keith Alcock <notifications@github.com>
wrote:

[2020-10-23 19:59] kwalcock commented on #912
I may almost have it.  Will tag you for review.

[2020-10-23 21:29] BeckySharp commented on #912
THANKS! :)))))

On Fri, Oct 23, 2020 at 1:00 PM Keith Alcock <notifications@github.com>
wrote:

[2020-10-25 19:56] kwalcock commented on #912
Too soon.  I can get the custom EidosTokenizer in there which takes care of the cutoff value and chopping sentences in two when there are double \n and all, but the EidosTokenizer also makes use of the Processor's underlying Tokenizer which is getting different results for the FastNLPProcessorWithSemanticRoles and CluProcessor even though it looks like they both use an OpenDomainEnglishTokenizer.

[2020-10-26 17:12] kwalcock opened #913 "Apparent infinite recursion in SRLCompositionalGrounder"
In SRLCompositionalGrounder.packagePredicate I have added the line
[code]
at the top and see that for the attached file (without the .txt) and several others that the length appears to grow without bounds.  This is a recursive function that seems to be in an infinite loop.

Code is from the clulab/eidos repo and the kwalcock-dec2020a branch.  I am running ExtractCdrMetaFromDirectory.scala.  Progra

[2020-10-26 17:31] BeckySharp commented on #913
ok, i'll look. is the json here the cdr for the doc that is failing?

[2020-10-26 17:55] kwalcock commented on #913
Yes, that's the CDR.

[2020-10-26 18:04] kwalcock commented on #913
Was the intention to used this predicatesCovered to prevent revisiting themes?

[2020-10-26 18:20] BeckySharp commented on #913
maybe? i just finished a meeting, looking now

[2020-10-26 18:30] BeckySharp commented on #913
ok -- getting it started - making a processors snapshot etc.

[2020-10-26 18:31] BeckySharp commented on #913
@kwalcock any particular branch i need processors on?

[2020-10-26 18:32] kwalcock commented on #913
I forgot about that.  Sorry.  It might not be necessary for these files.  kwalcock-stopBug.

[2020-10-26 19:18] BeckySharp commented on #913
OK, i'm adding back in a check with the predicates covered...
but i find the SRL linkage between the two tokens (10 and 13) very very strange.
I wonder if some of this is related to the tokenizer change somehow -- else the SRL did a weirdly bad job on this sentence.... I can try to parse it in isolation too to see what cluprocessor does indep of eidos.

[2020-10-26 19:34] BeckySharp commented on #913
nope -- it's the srl labeler:

[code]

[2020-10-26 19:41] BeckySharp commented on #913
@kwalcock  fix pushed to your branch
i ran with that cdr and it completed (STUPID SLOW) but it finished without an infinite loop

[2020-10-26 19:41] MihaiSurdeanu commented on #913
@BeckySharp : you're talking about the self loops for predicates 10 and 13?

[2020-10-26 19:41] BeckySharp commented on #913
yeah

[2020-10-26 19:45] MihaiSurdeanu commented on #913
I can confirm this happens in processors. I will push a fix soon.

[2020-10-26 19:49] kwalcock commented on #913
Thanks, @BeckySharp.  I will give it a try on the last 4 of the 44591 files.

[2020-10-26 19:57] MihaiSurdeanu commented on #913
Fwiw, this is a bug in my generation of enhanced roles, so it should be fixed there. I am working on it.

[2020-10-26 21:16] MihaiSurdeanu commented on #913
A fix for this has been pushed in the master branch of processors.

[2020-10-26 21:17] MihaiSurdeanu commented on #913
@BeckySharp: thanks for catching this! This was a subtle but fun edge case.

[2020-10-26 21:20] kwalcock commented on #913
Becky's fix worked for all four problematic files, but it sounds like I should swap out that fix for the one in processors.  I'll see if that works.

[2020-10-26 21:37] BeckySharp commented on #913
great work all, thanks!

On Mon, Oct 26, 2020 at 2:21 PM Keith Alcock <notifications@github.com>
wrote:

[2020-10-26 22:08] kwalcock commented on #913
Mihai's fix seems to prevent the infinite recursion as well.  The resulting groundings are slightly different, but I assume that's a reasonable consequence and plan to submit those.  Thanks both for figuring this out so quickly, much faster than I could have done.

[2020-10-26 22:08] #913 closed

[2020-10-27 18:22] kwalcock commented on #912
Drat.  I should have said, "Don't hang up yet."  I still have to figure out why the parse looks different even though the tokenizer looks the same.

[2020-11-10 01:14] kwalcock opened #920 "To disable models, simply write your own version of annotate...(), which calls only the methods that are actually used."
To disable models, simply write your own version of annotate...(), which calls only the methods that are actually used.

_Originally posted by @MihaiSurdeanu in https://github.com/clulab/eidos/pull/919#issuecomment-724375364_

[2021-01-26 22:37] kingfish777 opened #941 "compilation issue on Ubuntu 20.04 LTS"
Greetings - I encountered difficulties compiling eidos using sbt on Ubuntu 20.04 LTS.

This is what I see when I run sbt

`smalec@Enkidu:~/Projects/eidos$ sbt webapp/run
OpenJDK 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release.
OpenJDK 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 an

[2021-01-26 22:49] kingfish777 commented on #941
I resolved this issue by using an older JDK (oracle version 8). Best, Scott

[2021-01-26 23:32] kwalcock commented on #941
Thanks for figuring it out.  We do indeed usually build with Java 8 and weren't aware that the build is broken with other versions.  We'll try to get it to work with some more or at least document the limitation.

[2021-01-28 19:53] kwalcock commented on #941
Reformatted...

[code]

[2021-01-29 00:11] kwalcock commented on #941
Compilation is fixed in #944.  There may still be some problems with unit tests passing on Java 11.

[2021-01-29 16:36] kwalcock commented on #941
One unit test is failing, so I would avoid using Java 11 until we figure out the reason for the changed behavior.

[2021-02-05 20:29] kwalcock commented on #941
For the time being, a check on the Java version number has been added to build.sbt and a note about the version has been added to the readme file.  Since Java 11 compatibility is a more general clulab issue that doesn't affect just eidos, I'm going to close this issue here and work on it elsewhere.  Thanks.

[2021-02-05 20:29] #941 closed

[2021-02-14 05:12] kwalcock opened #960 "Problems with Java 11"
See also #941.

One unit test fails when the test suite is run with Java 11.  This is apparently a problem in SUTime.  It gets a different answer in Java 8 than in Java 11, not finding "annual" in the later.  This seems to be dependent also on the version of SUTime.

| "annual" | v3.9.2 | v4.2.0 |
| --- | --- | --- |
| Java 8 | ✓ | ✓ |
| Java 11 | 🗙 | ✓ |

So, I am OK with sticking with the Java v

[2021-02-14 14:43] MihaiSurdeanu commented on #960
Let's discuss this at the WM meeting tomorrow.

[2021-02-15 17:27] kwalcock commented on #960
@EgoLaparra, fyi.  I hope that the table above is accurate.  If you have other data points I'm glad to add them.

[2021-02-18 22:16] kwalcock commented on #960
The SUTime issue is also being discussed at https://github.com/stanfordnlp/CoreNLP/issues/1137.

[2021-02-18 22:27] kwalcock commented on #960
Testing of Stanford NLP 4.2.0 gave these results on our related projects:

# Processors

[code]

Namely,

[code]

# Reach

Forthcoming

# Eidos

Forthcoming

[2021-02-18 23:02] MihaiSurdeanu commented on #960
This is hopefully not too bad...
Can you please start a branch in processors for this?

On Thu, Feb 18, 2021 at 15:27 Keith Alcock <notifications@github.com> wrote:

[2021-02-18 23:20] kwalcock commented on #960
https://github.com/clulab/processors/tree/updateStanford

[2021-02-23 18:55] kwalcock opened #971 "IntelliJ does not create the files in src_managed"
Several of our projects have automatically generated source code.  One kind is from the sbt-buildinfo plugin, which allows us to record build information in source code and have it compiled into the jar.  Another kind is one specific to Eidos, the Versioner, which is used to add version information to the ontologies that are automatically retrieved from github.  This is because Ben needs to know t

[2021-02-23 19:01] kwalcock commented on #971
@JerryZeyu, thanks for discovering this problem.  @vanh17, you might run into this if you move to Windows and use IntelliJ without sbt.

[2021-02-23 19:20] MihaiSurdeanu commented on #960
I checked the unit tests, and there are changes in the dependency representations, as follows:

- “nmod” and “nmod_*” become “obl” and “obl_*”
- “dobj” becomes “obj”
- Appositives seem broken… (affects reach)

Let's plan Monday. I think it would be fairly easy to make the eidos and reach grammars (mostly) compatible with these changes. Meanwhile, @kwalcock, can you please run eidos tests with this

[2021-03-01 20:12] kwalcock opened #972 "Ontology branches should support leaf node values"
Here's some documentation of a less than optimal decision I had to make at least temporarily.  The InnerOntologyNode below would (slightly?) better be called an OntologyNode, which it is further below with the leaf node for livestock_feed.  The problem is that our yaml library is weird plus if the code were to see OntologyNode after concept, it would think it was at a leaf node already and not loo

[2021-03-01 23:38] MihaiSurdeanu commented on #972
@kwalcock: I don't understand this sentence: "The parser is expecting at most one InnerOntologyNode and it must be the very first child." We should allow such nodes to appear on any non-leaf node in a branch, which, of course, can be more than one...

[2021-03-02 00:39] kwalcock commented on #972
I expressed that poorly and will again.  Each non-terminal branch node, so something with a name and perhaps multiple subbranches and leaves with their own names, can have a leaf or leaf-like information, but only one, because that node only has one name which will be given to the leaf.  Although it is syntactically possible to have multiple leaves there (or sets of leaf information), they'd all h

[2021-03-02 15:48] MihaiSurdeanu commented on #972
Thanks @kwalcock!
- I think it's fine if we only one meta data structure per node.
- Allowing leaves to have children might be more elegant, but I'm not sure how disruptive it is. What do you think?
- Agree with the different namespaces for leaves and non-terminals.

[2021-03-03 18:43] kwalcock opened #974 "Update standford-corenlp"
We're thinking of changing from 3.9.2 to 4.2.0.  The previous wanted lucene 4.10.3 and the latter wants lucene 7.5.0.  timenorm would like 6.6.6 for the record.

[code]

[2021-03-03 18:48] kwalcock commented on #974
The errors were addressed by adding to eidos
[code]

The current list of failing tests is
[code]

Some of these I may need to address, but for now I'm throwing it over the fence to @zupon.  The processors and eidos branches needed are updateStanford.

[2021-03-06 00:53] kwalcock opened #978 "TestDoc3, Paragraph 9, edges 2"
Sometimes the tests fails with
[code]

[2021-03-06 00:54] kwalcock commented on #978
At other times it passes.
[code]

[2021-03-06 00:56] kwalcock commented on #978
At other times it looks like standfordnlp is perhaps not yet ready to run or something.
[code]

[2021-03-09 18:57] kwalcock opened #981 "posneg needs to be tried out"
There is a branch https://github.com/clulab/eidos/tree/posneg with a configured ontology called wm_posneg in /src/main/resources/org/clulab/wm/eidos/english/ontologies/wm_posnet_metadata.yml [or here](https://github.com/clulab/eidos/blob/posneg/src/main/resources/org/clulab/wm/eidos/english/ontologies/wm_posneg_metadata.yml).  It includes examples of how to add leaf data to a non-leaf node and how

[2021-03-12 15:08] BeckySharp opened #984 "jalksdjkal"
adsjlaksj
daklsdj

-
https://github.com/clulab/eidos/blob/master/src/main/scala/org/clulab/wm/eidos/EidosSystem.scala#L39

[2021-03-12 15:08] BeckySharp commented on #984
dnam,sdn,

[2021-03-12 15:09] BeckySharp commented on #984
dasdsd

[2021-03-12 15:09] #984 closed

[2021-03-12 15:11] kwalcock commented on #984
Stroke?  Cat on the keyboard?

[2021-03-12 16:21] BeckySharp commented on #984
:) teaching an undergrad how to use github issues, i shoulda chosen a diff repo prob :)

[2021-03-12 16:26] kwalcock commented on #984
👍

[2021-03-21 00:10] bgyori opened #987 "Error when regrounding via web app"
I updated my local Eidos repo to the latest master and then ran `sbt webapp/run` to start the webapp. When sending the regular request to do re-grounding (no changes to the code on our end since the last time this worked), I get the following error:
[code]
Do I need to manually add this file to the path above inside the `eidos/target/scala-2.12/` folder? Or should I change the path specified in `e

[2021-03-21 03:47] MihaiSurdeanu commented on #987
@kwalcock : can you please look at this? Thank you!

[2021-03-21 07:06] kwalcock commented on #987
It's supposed to be automatic.  I will give it a try in the morning.

[2021-03-21 19:39] kwalcock commented on #987
I'm not seeing the same results here.  Just to be sure that the configuration was clean, I renamed ~/.ivy2 to something else and also did `sbt clean`.  When everything was rebuilt, the webapp would run and work without complaint.  I also did the webapp/test which includes a request to reground and that ran as expected.  There was recently a problem with that ontology having an extra blank line tha

[2021-03-21 22:56] bgyori commented on #987
Thanks, I actually didn't know that `sbt clean` would be relevant in this situation but after I did that, the next compile+run started working.

[2021-03-21 22:56] #987 closed

[2021-03-22 19:45] BeckySharp opened #988 "Something for every CDR input"
empyt jsonld for docs that it barfed on, i.e., something for every input

[2021-03-22 19:48] BeckySharp opened #989 "Containerize service to..."
- Readers listening to notifications about new documents having been added (Kafka)
- Ontology should be configurable (separate API? default param? etc)
- Upload results via DART

NOTE: Make sure readers output something for every input (#988)
Estimates: done by mid April or earlier

We can host ours for now

[2021-03-22 23:42] kwalcock commented on #989
There were originally two kinds of Kafka interfaces.  One was more for batch operations and I think the other supported notifications, but I'm not sure of the details.  I signed up for the former so that we wouldn't need a server running constantly and as a result never received the details about the notification system.  We're uploading via DART, but there is also some notification that gets sent

[2021-03-22 23:48] kwalcock commented on #989
The output something for every input has come up before and perhaps it will be answered with the stream specification.  We need a mechanism to return information out of band.  That is, we need to say an operation was successful and here is the jsonld that you were expecting or the operation was not successful, this is not the jsonld, here's what went wrong.  We need some kind of extra envelope aro

[2021-03-23 15:17] BeckySharp opened #991 "Use clucore"
Switch to clucore:

- [ ] Swap in clucore in EidosEnglishProcessor (https://github.com/clulab/eidos/blob/master/eidoscommon/src/main/scala/org/clulab/wm/eidoscommon/EidosProcessor.scala#L45)
- [ ] remove this: https://github.com/clulab/eidos/blob/master/eidoscommon/src/main/scala/org/clulab/wm/eidoscommon/EidosProcessor.scala#L117
- [ ] see what tests now fail
- [ ] delegate fixing them?

change t

[2021-03-23 23:41] BeckySharp commented on #989
Else, could we add a key in the jsonld at the top that has status/errors?
in the problematic ones, it would be the only contents, in good ones, there
would be the usual stuff too

On Mon, Mar 22, 2021 at 4:48 PM Keith Alcock ***@***.***>
wrote:

[2021-03-24 00:57] kwalcock commented on #989
Yes, but that kind of puts the problem in Ben's lap.  He has to keep track of what each format looks like in both the successful case and the failure case.  This should be done by the transport mechanism IMO, the kafka stream in this case.  It should be able to tell for all formats whether or not the operation was successful and then only forward successful ones to Ben.  I think that was my conclu

[2021-03-24 01:13] BeckySharp commented on #989
good point. this was something that came up at the WG, I think it may be sufficient to do this: @bgyori @reynoldsm88
now we wait and see..... :) :)

[2021-03-26 17:45] bgyori commented on #987
Turns out, I was wrong about the above - I forgot that I commented out the compositional ontology in `eidos.conf` before reporting back that things started working. If I enable it, it fails again, unfortunately, despite `sbt clean`... I'm trying again by deleting `~/.ivy2`.

[2021-03-26 18:08] kwalcock commented on #987
Good luck.

[2021-03-26 18:20] kwalcock commented on #987
I am moving that Eidos server from running on the OS to running on Docker.  The machine may be rebooted soon and I'd like Eidos to start automatically.  I'll watch for your problem.

[2021-03-26 19:47] bgyori commented on #987
Okay, deleting `~/.ivy2` seems to have solved the issue, I must have had something cached in there from a long time ago that caused problems.

[2021-03-27 02:06] kwalcock commented on #987
FWIW I'm not having much luck running Eidos in Docker.  The `sbt update` command seems to hang.  `sbt.version` was recently incremented.  Perhaps there's a problem with it.

[2021-04-20 04:14] kwalcock commented on #988
The streaming version includes this.  It happens in the exception handlers in the EidosLoopApp in the wmexchanger subproject.  It seems best to put this in the very top level.  It has to be above anything else that might cause an exception and what to do about the exception is usually only known at that level anyway.

[2021-04-20 04:14] #988 closed

[2021-04-20 04:24] kwalcock opened #999 "Make sure glove is reused now that pool is not automatic"
This can be done by making sure that Eidos adds the vector to the pool before processors needs them.

[2021-05-07 18:46] kwalcock commented on #978
This was hopefully fixed with https://github.com/clulab/eidos/pull/1006.

[2021-05-07 18:46] #978 closed

[2021-05-27 05:02] kwalcock opened #1022 "File seems to loop endlessly in ArgumentExpander"
The attached file, when run by ExtractCdrMetaFormDirectory, seems to loop endlessly in the ArgumentExpander until there is an out of memory error.  I'm trying to run it in a simpler program, but haven't gotten it to work.  The problematic sentence seems to be
[code]
The filename needs to have .txt removed to be used with the program.

[630a3467d24e80c8e6097f2971794b82.json.txt](https://github.com/

[2021-05-28 18:54] kwalcock opened #1025 "Eidos can't reground with SRLCompositionalGrounder"
The JLDSerializer serializes `GraphMap.UNIVERSAL_ENHANCED` dependencies.  The SRLCompositionalGrounder seems to use `GraphMap.ENHANCED_SEMANTIC_ROLES` via sentence.enhancedSemanticRoles.  That's just not going to work.  Exceptions are thrown when performing the grounding on documents reread from jsonld.  I think that we will have to reread them.  Does @BeckySharp see it that way as well?

[2021-05-28 19:33] BeckySharp commented on #1025
weren’t they saved/serialized with the document when you last read them?
they were parsed with the fastnlpprocessorwithsemanticroles right? i think
that EnglishEidosProcessor extends that and the PR to processors recently
added the enhanced.

On Friday, May 28, 2021, Keith Alcock ***@***.***> wrote:

[2021-05-28 19:44] BeckySharp commented on #1025
i’ll look as soon as i’m home, we’ll fix it no matter what

On Friday, May 28, 2021, Keith Alcock ***@***.***> wrote:

[2021-05-28 19:44] kwalcock commented on #1025
P.S. The documents were last read on Wednesday.

[2021-05-28 20:11] BeckySharp commented on #1025
@kwalcock you're right about the serialization, we don't have the info anymore, sorry I thought the doc was serialized as is.
It think it will be ok though, we can re-annotate when we reground. It will be slower for sure, but less slow than re-annotating the whole corpus and everything. Let me see what needs to change in the SRLGrounder

[2021-05-28 20:12] BeckySharp commented on #1025
@kwalcock what entrypoint are you using for regrounding?

[2021-05-28 20:22] BeckySharp commented on #1025
ok @kwalcock I pushed a hotfix on the `grounder_hotfix` branch, can you see if that resolves the issue with regrounding?
If not, we can re-read but this should be faster I think.

[2021-05-28 20:24] kwalcock commented on #1025
It's in a branch that I will track down.  Are you saying that just a part of processors can be rerun?  I guess so.  The first reading took about 20 hours on two machines.  The tradeoff is not clear yet.

[2021-05-28 20:40] BeckySharp commented on #1025
if we use this hotfix, we will reparse the sentences with causal extractions.  the downside is that we will reparse them twice (once for cause and once for effect), the upside is we _won't_ reparse all sentences, and I think it's a pretty small subset of the sentences that have causal relations.  that said, i def didn't profile it :D

[2021-05-28 20:44] kwalcock commented on #1025
I see the branch, but it might need a push.  git has been acting up for me, so I'm not sure.

[2021-05-28 21:00] BeckySharp commented on #1025
no that was my bad, sorry! look now

[2021-05-30 23:44] kwalcock commented on #1025
There was enough time to run them all again, so I did that.  It's probably a good idea to keep the change, perhaps including a warning message.  Maybe eidos can save both kinds of graphs, or favor the kind that is most needed.  It didn't seem like a good time to hurry the change through.

[2021-06-02 02:24] kwalcock commented on #1022
This one seems to loop forever in the SRLCompositionalGrounder.  The sentence is

[code]
from the attached file.  It does seem to loop in ExtractFromText.

[1e533493057c91173ac82bf821f7f82c.json.txt](https://github.com/clulab/eidos/files/6581565/1e533493057c91173ac82bf821f7f82c.json.txt)

[2021-06-02 15:57] BeckySharp commented on #1022
until I can get something to run, I can't debug this :(

[2021-06-02 16:28] kwalcock commented on #1022
Something is wrong, but I'm fairly sure you aren't *doing* anything wrong.  Recent updates have worked on Windows, Docker, and several Linux machines.  I'm going to try a Mac.

[2021-06-02 18:48] kwalcock commented on #1022
Unfortunately the Mac I have access to has some networking issues and can't communicate with Artifactory right now.  This will probably need to wait a little while until it gets sorted out.

[2021-06-02 19:55] BeckySharp commented on #1022
ok, well in the meantime I can't use Eidos apparently

On Wed, Jun 2, 2021 at 11:48 AM Keith Alcock ***@***.***>
wrote:

[2021-06-02 20:11] kwalcock commented on #1022
Does `git status` or `git fsck` turn up anything useful?  Is it a relatively new clone of eidos and it isn't a zipped version without the .git directory, right?  It seemed like the sbt-git extension was having problems.

[2021-06-02 20:32] BeckySharp commented on #1022
git status looks normal, here is the other

(nsf) bsharp@Beckys-MacBook-Pro ~/github/eidos (master)]$ git fsck
Checking object directories: 100% (256/256), done.
Checking objects: 100% (56881/56881), done.
dangling commit c5122ab9d12b96d367a3b2bf14f0f8a532dc7a6b
dangling blob f2dd49d0413c02529d8403981259fae5f17e6c4e

On Wed, Jun 2, 2021 at 1:11 PM Keith Alcock ***@***.***>
wrote:

[2021-06-02 20:38] BeckySharp commented on #1022
You know, I went ahead and recloned it and now it seems to be working....?
maybe there was some weird artifact that was confusing things?

On Wed, Jun 2, 2021 at 1:32 PM Becky Sharp ***@***.***> wrote:

[2021-06-03 01:32] BeckySharp opened #1030 "remove sentence classifier?"
Hey all -- this takes forever on a fresh build:

[code]

Do we really need this dep still? AFAIK it wasn't shown to be super useful? Or am I mistaken?

[2021-06-05 17:36] BeckySharp opened #1032 "This one seems to loop forever in the SRLCompositionalGrounder. The sentence is"
This one seems to loop forever in the SRLCompositionalGrounder.  The sentence is

[code]
from the attached file.  It does seem to loop in ExtractFromText.

[1e533493057c91173ac82bf821f7f82c.json.txt](https://github.com/clulab/eidos/files/6581565/1e533493057c91173ac82bf821f7f82c.json.txt)

_Originally posted by @kwalcock in https://github.com/clulab/eidos/issues/1022#issuecomment-852662669_

[2021-06-05 17:40] BeckySharp commented on #1022
ok, @kwalcock ,  so the second example is fixed with #1033
The first, though, is different.
It's very hard to debug bc of the length, and I was thinking that it may be the case that we should handle sentences like this by removing them in the beginning.  At one time there was a check for overly long sentences, and they were excluded or skipped, but I can't seem to find it now.
Is it one of the ref

[2021-06-05 17:44] kwalcock commented on #1022
I think it's what this cutoff is for:
[code]

[2021-06-05 18:53] BeckySharp commented on #1022
thanks!!

On Saturday, June 5, 2021, Keith Alcock ***@***.***> wrote:

[2021-06-08 16:20] kwalcock commented on #1030
I timed the loading of the component and get less than 300ms.  It looks like that component is one of the last to start loading and therefore prints its message very late.  However, there is still lots being done, in overlapping threads, including the one listed next in the code, which is the processorsPrimer.  That runs a sentence through processors so that its lazy values and companion objects g

[2021-06-08 16:30] BeckySharp commented on #1030
OK thanks!

On Tue, Jun 8, 2021 at 9:20 AM Keith Alcock ***@***.***>
wrote:

[2021-06-08 16:32] #1030 closed

[2021-06-08 16:33] kwalcock commented on #999
This appears to be working.

[2021-06-08 16:33] #999 closed

[2021-06-08 16:37] #671 closed

[2021-06-08 16:38] kwalcock commented on #613
We're not even using migration anymore.

[2021-06-08 16:38] #613 closed

[2021-06-15 17:34] #1022 closed

[2021-06-17 22:01] kwalcock commented on #1025
The other graphs have been serialized now, so regrounding should be possible.

[2021-06-17 22:01] #1025 closed

[2021-06-17 22:23] kwalcock commented on #972
We've recently even been discussing changing to JSON format to be able to add data to the non-leaf nodes.  The example above shows how to make a reserved list item called InnerOntologyNode here and add it to the list of children of non-leaf nodes.  The other way is to turn each non-leaf node into a dictionary which would hold the metadata and to put the list of children in a field.  An example is

[2021-06-17 22:34] kwalcock commented on #972
In the first proposed format in which everything is a list with one reserved name, the InnerOntologyNode and OntologyNode can probably be combined into one thing if the parser was made slightly smarter and looked ahead a little to check for children.  It would just disrupt existing code a little more.

Although I don't especially like YAML, it does well in connecting parents to children without ei

[2021-06-17 23:38] kwalcock commented on #972
The JSON can be nested as well, but because of the trailing braces it's a little difficult to move things around.  If not nested, then references are required, like this:
[code]
In this case the name is the entire path.  Instead, there could be a unique ID (number) for each node to which children could refer and the name would only be the incremental part.  That leaves humans matching up numbers,

[2021-06-17 23:43] kwalcock commented on #972
@MihaiSurdeanu and @BeckySharp, we were talking about formats this morning.  Everyone seemed dissatisfied with the current format, but maybe that's just because of the missing data on parents rather than the yaml.  There are a couple of ideas above.  Right now I like the very first the best but with InnerOntologyNode and OntologyNode unified into "metadata" or "node" or something.

[2021-06-22 13:59] BeckySharp commented on #972
OK, so i was delaying replying to this bc I thought at the meeting would be
a good time, but now I won't be at the meeting :)
So......

I was pretty convinced about the yaml argument re: not having to sed to
replace things if you make a change.
Given yaml, I vote:

   - for readability 4 spaces is better than 2
   - "children" should ideally be the last key, since it opens a new drop
   down

also

[2021-06-22 16:08] MihaiSurdeanu commented on #972
This sounds good to me. But I will defer to @kwalcock on the feasibility of this representation.

[2021-06-22 17:46] kwalcock commented on #972
There are two vegetables.  I *think* the value for the first vegetables key is a dictionary with its own keys of examples, definition, etc. rather than None, but it might depend on the library.  The value for the second vegetables might be None.

@BeckySharp, yes, that's a version from my example file not provided just because it involved a few more changes to the current format than other version

[2021-06-22 18:08] BeckySharp commented on #972
I like this, and I like that the sub things are indented from `Node`
meaning that they are key/value pairs in a dict, which itself is the value
of "Node:"

On Tue, Jun 22, 2021 at 10:47 AM Keith Alcock ***@***.***>
wrote:

[2021-06-23 00:59] #1032 closed

[2021-07-02 23:39] kwalcock opened #1041 "Compositional (re)grounding is not repeatable across serialization"
If we have a read and grounded document in memory, it can be regrounded without the result changing.  The two versions serialize exactly the same.  Regrounding means that the OntologyHandler grounds every eidosMention in the AnnotatedDocument, even if it has been grounded before  Additionally, if the read and grounded document is serialized, deserialized, and serialized again, nothing changes.  If

[2021-08-12 16:56] BeckySharp opened #1057 "is this still used anywhere?"
https://github.com/clulab/eidos/blob/9f3c007da0096726ccb5bc5457a9fb4c93c13d40/src/main/resources/reference.conf#L16

AFAIK the on/off of the lexicons is specified in the finders list (i.e., by including/excluding `gazetteer`).

[2021-08-13 00:33] BeckySharp opened #1059 "GroundExporter and RegroundExporter"
Seem to be essentially the same except for some likely unused debug log code in the latter.  I say we remove the reground one, if we do, we should also remove it from the wiki.

[2021-08-17 22:59] kwalcock commented on #1041
The lessThan method in JLDSerializer has been updated.  To get right down to the bottom, but hashCode will be used shortly.

[2021-08-17 22:59] #1041 closed

[2021-08-17 23:02] kwalcock commented on #989
There are container to do this.  We don't yet have a configurable ontology, but it hasn't been asked for yet.  I'll add it to a new issue as soon as it comes up.

[2021-08-17 23:02] #989 closed

[2021-08-23 15:15] kwalcock commented on #402
The Scaladoc documentation has been updated at https://clulab.github.io/eidos/latest/api/org/clulab/wm/eidos/index.html.  Apps are briefly described in README.md files starting at https://github.com/clulab/eidos/tree/master/src/main/scala/org/clulab/wm/eidos/apps.  These very short summaries aren't enough to free anyone from needing to read the code, but it's a start.  At least one only needs to v

[2021-08-23 15:33] kwalcock commented on #106
This is partially addressed with unit tests.  Sometimes a change will break a unit test when that is not intended.  We know better how it broke since the tests will identify the problem better than a diff of output files.  Once in a while I perform regression tests and make sure that some change has not affected the output.  That test is often run on  52 documents were collected early on.  It take

[2021-08-23 17:49] kwalcock commented on #1059
I removed the RegroundExporter.  However, I preserved the debug code by moving it to the GroundExporter.  It looks like people had been commenting it in then out then in.  I added a boolean that we can just flip between true and false so that people can do it ad hoc and don't need to check in the code change as often.  I'm updating the Wiki.  The PR will be ready soon.

[2021-08-23 17:49] #1059 closed

[2021-08-23 17:57] kwalcock commented on #1057
It doesn't seem to be.  It is being handled in #1066.

[2021-08-23 17:57] #1057 closed

[2021-09-07 04:45] kwalcock commented on #972
The capital Node was there to preserve the traditional capitalization of OntologyNode and then the InnerOntologyNode.  However, since they are gone, I'd make all keys lowercase as such:
[code]

[2021-09-07 14:19] MihaiSurdeanu commented on #972
Makes sense to me. Thanks @kwalcock !

[2021-09-07 16:33] kwalcock opened #1071 "Make special regrounding only output"
This might be done by subclassing from the regular output and turning some of the key methods into no-opts by overriding and doing nothing.

* Double check that the ordering goes all the way down to the hash so that ties are not possible.
* Check that we can turn off stand-alone extractions.

[2021-09-28 15:40] kwalcock opened #1080 "I need to know what a negative event looks like"
Here are a couple representations of the sentence "Water trucking does not cause increased dependency on foreign aid."  This is pretty much the output of org.clulab.wm.eidos.examples.ExtractFromText, so anyone can do it.

[code]

[code]
[code]

[2021-09-28 15:41] kwalcock commented on #1080
@zupon, was this question related to your work?  If so, here's your answer.

[2021-09-28 15:50] MihaiSurdeanu commented on #1080
Nice. NEGATION is already attached to the causal relation.

[2021-09-28 17:59] #1080 closed

[2021-09-28 23:28] kwalcock opened #1082 "GroundingInsightExporter shows strange results"
I'm digging into compositional groundings using the GroundingInsightExporter, and I noticed that the returned "score" for a given slot grounding does not equal the "avg match" score produced by averaging all the positive examples. In some cases, the second best grounding by "score" has a higher "avg match" score than the top grounding, and in fact is sometimes the preferred grounding.

As an examp

[2021-09-29 00:45] kwalcock commented on #1082
I'm looking at https://github.com/clulab/eidos/blob/9f48e7e275d3f2fec882bce96e61eda1f26c96d7/src/main/scala/org/clulab/wm/eidos/exporters/GroundingInsightExporter.scala#L85 and https://github.com/clulab/eidos/blob/9f48e7e275d3f2fec882bce96e61eda1f26c96d7/src/main/scala/org/clulab/wm/eidos/exporters/GroundingInsightExporter.scala#L143
I think you are describing output from near the second link, the

[2021-09-29 00:45] kwalcock commented on #1082
FYI @zupon

[2021-09-29 01:01] MihaiSurdeanu commented on #1082
Thanks for looking into this @kwalcock!

[2021-11-15 21:48] kwalcock commented on #1071
This was completed long ago.  I was waiting on feedback from Ben.

[2021-11-15 21:48] #1071 closed

[2021-11-15 22:14] kwalcock opened #1094 "TestSentenceClassifier seems to test texts without sentences"
At https://github.com/clulab/eidos/blob/6d1912299fb1aeabdac5cfc7f749a1acdcc2039e/src/test/scala/org/clulab/wm/eidos/document/TestSentenceClassifier.scala#L138-L145, the test assigns 0 to the prediction and takes whatever label there is to make a calculation even when there is no sentence.  I don't think this should happen,  Both numbers should be thrown out as if it never happened.  In the four ca

[2021-11-27 02:24] bgyori opened #1098 "Deduplication error during sbt assembly"
I haven't tried doing this for a while but I found that there are issues with `sbt assembly` again on the latest master:

[code]

I tried deleting various caches but keep getting the same.

[2021-11-27 17:18] MihaiSurdeanu commented on #1098
Thanks @bgyori !

I am not sure what is causing this. Maybe @kwalcock can take a look?

[2021-11-27 19:33] kwalcock commented on #1098
I did see this come in yesterday.  It shouldn't take long to figure out.  Probably a duplicate file was added to an updated library dependency and needs to be filtered.  It will hopefully be taken care of by Monday.

[2021-11-27 19:58] MihaiSurdeanu commented on #1098
Thanks Keith!

On Sat, Nov 27, 2021 at 12:33 Keith Alcock ***@***.***> wrote:

[2021-11-29 16:28] kwalcock commented on #1098
This is being addressed with #1099, which is being tested right now.

[2021-11-29 18:14] kwalcock commented on #1098
The tests passed, so I merged the branch and will close this.  The tests don't try to run assembly, but it was working on the local computer.  What wasn't tested at all was the result of the assembly.  I hope @bgyori will report any problems with that, whether related to this issue or anything else that has happened since last time.

[2021-11-29 18:14] #1098 closed

[2021-11-30 00:35] bgyori commented on #1098
Thanks a lot, I'm trying it now! This has happened a few times in the past (#1098, #823, #794, #694), I wonder if - despite it being a resource intensive and somewhat slow task - it would be possible to test this (i.e., `sbt assembly`) automatically so that we can see if there are issues with it. What do you think?

[2021-11-30 01:20] kwalcock commented on #1098
Maybe there's some subset of assembly that can be more quickly tested that includes the merging but not actually the slow building of the final jar.  I'll see if there is an obvious way to do that.

[2021-11-30 03:13] kwalcock commented on #1098
The complete assembly just took 25 minutes on my computer (in power saving mode but with an SSD that the server doesn't have), so I don't think it's an option.  I don't see any easy way to run only part of the assembly.  The messages about merge strategies being applied appears fairly quickly, but I don't see an easy way to stop processing there.  I could perhaps fork the assembly plugin and have

[2021-12-21 18:17] kwalcock commented on #972
The ontology format has been updated.

[2021-12-21 18:17] #972 closed

[2021-12-21 18:23] kwalcock opened #1109 "Licensing needs to be double checked"
We're documenting licenses at https://github.com/WorldModelers/CorpusIngestionAndAssembly and assert there and elsewhere that eidos is
[code]
but I'm not sure that is true.  If it is true for the source code, is it true for the executable docker image?  Here is what `sbt` has to say about all the dependencies.  I don't know if any put constraints on code or executables that make use of them.

[cod

[2022-02-24 17:06] kwalcock opened #1114 "Grounding returns no values, even when threshold is 0"

[2022-02-25 18:28] kwalcock opened #1115 "Compositional grounding is not composing"
I wonder whether at

https://github.com/clulab/eidos/blob/8758be8a5860fc3404f1d6f66b5095a161a6d87c/src/main/scala/org/clulab/wm/eidos/groundings/grounders/SRLCompositionalGrounder.scala#L285

the exact and inexact groundings should not be combined in a sequence but rather into a combined predicate grounding.

[2022-02-25 23:36] MihaiSurdeanu commented on #1115
The sequence allows for the following sort to happen, no?

[2022-02-25 23:37] MihaiSurdeanu commented on #1115
But the bigger question is in the title... Do we know where compositions are lost?

[2022-02-25 23:57] kwalcock commented on #1115
The sequence only contains compositional groundings that aren't really composed.  I'm thinking of something like
https://github.com/clulab/eidos/blob/621ca469f45c10ee015504c5ae6466b801f45a8c/src/main/scala/org/clulab/wm/eidos/groundings/grounders/SRLCompositionalGrounder.scala#L343-L347

[2022-02-26 00:06] MihaiSurdeanu commented on #1115
Ok...
But where are these combined with the concepts that serve as arguments to these predicates?

[2022-02-26 00:21] kwalcock commented on #1115
In order to collect the inexactPredicateGroundings there are variables like isArg and isPred.  If there are predicates, this seems like the only place they would be composed.

Pseudo call stack:
[code]

[2022-02-26 00:40] MihaiSurdeanu commented on #1115
Ok, thanks!

Can you please try to find where the concepts get lost? For example, for the phrase "transportation of oil", where do we lose the grounding for "oil"?

[2022-02-26 00:46] kwalcock commented on #1115
The program is running, but IIRC oil is grounded to fuel and is not an exact match.  Transportation is not an exact match, either.
 Not sure why.  Inexact matches are not combined.

[2022-02-26 01:16] kwalcock commented on #1115
Ben's "transportation of water" works, almost.  The scores don't sort well.  The noisyOr is only applied to filled slots, so filling a second slot with a lower value is not as good as having the first single slot.

[code]

[2022-02-26 01:16] MihaiSurdeanu commented on #1115
Sure. I think most matches in the real world will be inexact due to language sparsity. But we should assemble predicates and their arguments regardless of exact/inexact match.

[2022-02-26 01:17] MihaiSurdeanu commented on #1115
This is pretty nice!
Then what did Ben see? Is there a bug?

[2022-02-26 01:20] kwalcock commented on #1115
They (water and transportation) weren't combined before.  They were separate compositional groundings in the Seq that got sorted.

[2022-02-26 02:38] kwalcock commented on #1115
When there is a predicate, as is the case with both "(price) of oil" and "water (transportation)", the findExactPredicateGroundingAndRange does not necessarily find an exact match at all or may find an exact match which doesn't include the predicate,  I should have called it be called findExactGroundingAndRangeIfThereIsAPredicateSomewhere.  If it doesn't find an exact match as is the case with "pr

[2022-02-26 02:39] kwalcock commented on #1115
I hope that @zupon is getting notifications in case he notices that I'm off track.

[2022-02-26 02:52] zupon commented on #1115
I have been getting these notifications, and it looks like you might be right on track! At one point, we did want to try to match the entire mention span even when there were predicates. That would get us stuff like "climate change", where it's sorta compositional but we also just have a `climate_change` concept. Since we wanted the matching for things like this to be fuzzy, we then did the non-ex

[2022-02-26 07:59] kwalcock commented on #1115
Right now it's failing one NOT test by getting extra things, but it is probably at least composing.  If I turn the failingTests to passingTests, it gets 747 passing while master gets 771.  I had added some things like multiple exact matches.  Maybe that hurt it.  I don't have a feel for the data.

[2022-02-26 14:02] MihaiSurdeanu commented on #1115
Thank you both! I think we should enable this change, which looks like it's improving things a lot.

Also, @EgoLaparra: would it be possible for you to look at the 771 - 747 = 24 tests that fail now and try to see if we can fix them?
Thank you all!

[2022-02-27 03:09] kwalcock commented on #1115
There is in SRLCompositionalGrounder.scala a calculation of score in which the properties are multiplied by 0.5f before they are noisyOr'd.  Changing that value might switch how these values sort.

[2022-02-27 13:38] MihaiSurdeanu commented on #1115
I think it's worth tuning the score that Keith mentioned. Also, the first compositional example:
`Seq(wm/concept/economy/unemployment, wm/property/quality, , ,)`
seems correct to me.
However, the second one is clearly wrong...
Any other ideas on how to fix these? @zupon, you did look at situations such as the second one, right? In this case, I think "tensions" is consumed by the concept, and "incr

[2022-02-27 17:11] zupon commented on #1115
For both the `high unemployment` and `Increasing tensions` examples, are there predicates? I can sorta see the link from `high` --> `quality`, but I'm not seeing where `Increasing` --> `price` would make sense.

What _should_ happen if there are predicates is (1) the algorithm looks first at the entire span (e.g. `high unemployment`) to see if it matches a node or example exactly (for various mean

[2022-02-28 02:16] kwalcock commented on #1115
There is this comment in SRLCompositionalGrounder:

[code]
On the other hand, there are in the ontology words like "higher".  One is in the ontology node higher_temperatures and there are others in the examples.  To keep them in the text to be grounded might help in these cases.

[2022-02-28 02:29] kwalcock commented on #1115
Here's the node for price_or_cost, which has some hints of increase.  It wouldn't have to be that way.
[code]

[2022-02-28 02:51] EgoLaparra commented on #1115
I've been playing with the properties score multiplier that @kwalcock mentioned and only very small values seem to have an effect. Setting it to `0.1f` or `0.05f` only 1 of the 29 tests passes. With `0.01f`, 9 tests pass. Setting it to `0.0f`, 20 of the tests pass, and adding also a `0.0f` multiplier to processes, 27 out the 29 tests pass, however, this seems like switching off the composition.

I

[2022-02-28 04:07] MihaiSurdeanu commented on #1115
@kwalcock , @zupon , @EgoLaparra : thanks for working on this during the weekend! I missed some of the discussion here due to travel today. Questions:
- I thought we are not allowing property groundings to use word embeddings? Or are we? if we are not allowing word embeddings (i.e., properties must be matched using the regex patterns), then matching "increasing" to price_or_cost is incorrect. If w

[2022-02-28 05:17] kwalcock commented on #1115
AFAICT, property groundings can use the embeddings, although there is an extra high `SRLCompositionalGrounder.propertyConfidenceThreshold` in `maybeProperty`.

Can someone eventually define predicate in this context, because it is confusing me?

[2022-02-28 16:15] kwalcock commented on #1115
In "The price of oil decreased water transportation.", price and transportation are called validPredicates in the code.  I guess price and transport can be verbs.  They wouldn't be the predicate of the sentence but the predicate of something else, the mention potentially.

[2022-03-01 04:23] kwalcock commented on #1115
Should it be that
[code]
Is this noisy exclusive or?  The values on the right are the same or more than the values on the left.

[2022-03-01 04:28] kwalcock commented on #1115
These are from "price of oil" and it is comparing noisyOr(oil, of) to noisyOr(oil, price) and "of oil" is winning.  Can it be that the large value 1.8379604816436768f messes up this function?

[code]

[2022-03-01 04:46] EgoLaparra commented on #1115
It seems that it makes the result of the fold negative, so the output of the nosiyOr is the opposite of what it should be, right?

[2022-03-01 04:48] kwalcock commented on #1115
In "price of oil", both "price" and "of" qualify as potential properties based on grounding scores.  "Of" probably shouldn't be tested at all.  Right now there is only a check for canonical words, and "of" qualifies.  What is the best way to rule it out?  Stopword list, part of speech, lack of edges?  isArg is defined as having incoming edges and no outgoing edges.  isPred was defined as anything

[2022-03-01 04:51] kwalcock commented on #1115
The results of noisyOr are

1.4744141101837158 > 1.42225980758667

even though all inputs on the right are equal to greater than inputs on the left.  This gives us an incorrect answer.

[2022-03-01 04:59] kwalcock commented on #1115
However,
[code]
which seems like the right way around.  In letting some intermediate values creep above 1, it looks like we're getting unexpected behavior.  Is there a more robust implementation?

[2022-03-01 05:06] EgoLaparra commented on #1115
I was not able to perturb the grounding of `Increasing` to `wm/property/price_or_cost` by removing just one example from the ontology. I had to remove 6 examples to force it to ground it to a different node: `wm/property/coping_capacities`.

As expected, removing so many examples has a big impact and only 604 tests pass (747 passed before the change).

Some details:
The most similar nodes to `Incr

[2022-03-01 05:10] EgoLaparra commented on #1115
@kwalcock as far as I  know, noisyOr works with probabilities, so all the input scores should be normalized between 0 and 1.

[2022-03-01 05:17] kwalcock commented on #1115
I'd like to do that, but there is code like
[code]

[2022-03-01 06:07] kwalcock commented on #1115
I pushed recent changes.  Usually 11 and sometimes 15 tests that were previously passing fail since after composition was added.  Now it's 13.  One hopes to make up for it by passing some of the tests that would fail in master if they weren't disabled.  Enabling them, I get 744 passing and 160 failing.  That's down from the 771 previously achieved.  Can it be said that we overfit to data that was

[2022-03-01 14:49] MihaiSurdeanu commented on #1115
Thanks @kwalcock !
Before we declare success, would it be possible to:
a) Send the tests that are failing with the predicted groundings and the expected ground truth?
b) Point me to the code you changed?

Thanks!

[2022-03-01 15:09] kwalcock commented on #1115
There is a PR (#1116) now (which won't pass unless I disable some tests) that supports a review.  The most important changes are here and it's probably not implemented exactly as you instructed.  It may be worth going over it line by line.

https://github.com/clulab/eidos/blob/8c22059098042777f6b6934b04c7d4316bc3f835/src/main/scala/org/clulab/wm/eidos/groundings/grounders/SRLCompositionalGrounder.

[2022-03-01 16:38] kwalcock commented on #1115
Here are a couple with more on the way:

[code]

[code]

[code]

[code]

[2022-03-01 16:51] kwalcock commented on #1115
[code]

[code]

[2022-03-01 17:04] MihaiSurdeanu commented on #1115
@kwalcock: can you please explain the format of this output?

[2022-03-01 17:13] kwalcock commented on #1115
It doesn't help that sentenceHelper.validPredicates is returning duplicates, but it's easy to patch.

[2022-03-01 17:17] kwalcock commented on #1115
In
[code]
When grounding the mention for "drought", an effect rather than cause, it must have gotten the first "wm/concept/crisis_or_disaster/environmental/drought" correct, but it went on to compose with "[wm/property/preparedness]" where the expected grounding had nothing more, "[]".

[2022-03-01 17:21] MihaiSurdeanu commented on #1115
In a meeting now. Will look at these soon!

[2022-03-01 18:08] kwalcock commented on #1115
The reason it doesn't stick with just drought is the noisyOr.  Drought as an exact match has a local score of 1.0, but a noisyOr with epsilon = 0.01f of 0.99.  When composed with other things, the 0.99 can be beaten.  Impact is matching too well preparedness.  If is was some other word, it could be a better answer than simple drought.

THEME: wm/concept/crisis_or_disaster/environmental/drought (1.

[2022-03-01 18:23] MihaiSurdeanu commented on #1115
I think the grounding above is not too bad, assuming the mention is "impact of the drought", especially considering your comments about NoisyOr.

The above I think is actually better than the ground truth!

I don't understand the output above. what is the actual output for the mention "higher prices"?

[2022-03-01 18:33] MihaiSurdeanu commented on #1115
@kwalcock: please see my question above about some of the outputs.
Also, looking at the new code for `findInexactPredicateGroundings`, I don't see any grounding outputs that combine the 3 tuple elements, i.e., a property, a concept, and a process. This would be needed for something like "the cost of the transportation of oil". It looks to me like all the `PredicateTuple`s generated have at most tw

[2022-03-01 18:58] kwalcock commented on #1115
It might take ~1 hour to investigate each of these cases.  You are correct about there only being two slots filled in.  Mostly I forgot, but if there is a potential property and one position to the right an argument, two to the right a predicate, one to the left a predicate, two to the left an argument and of these two are potential properties themselves, what should the property be connected to a

[2022-03-01 19:02] MihaiSurdeanu commented on #1115
I agree about `!isArg && !stopword`.
The attachment of properties is tricky wo/ syntactic info, but I propose a similar heuristic as what you currently use:
- If there is an Arg or Pred to the right, choose the closest to the right
- Else if there an Arg or Pred to the left, choose the closest to the left
- Otherwise, report the property in the concept property slot.

[2022-03-01 20:18] kwalcock commented on #1115
In the unit tests there are two cases which call for three slots and one case where the property is attached to a vacant concept:

[code]

These can't be produced (yet).

[2022-03-01 20:29] kwalcock commented on #1115
The code for exact matches can presently only ever fill in two slots as well :-(

I can change the inexact matches to use the closest concept or process rather than the first one of the mention.  Either can be a potential property, so it is unclear what do to with things that are both.  I just picked the easiest option.

[2022-03-02 05:19] kwalcock commented on #1115
The stopwords are coming from https://github.com/clulab/eidos/blob/master/src/main/resources/org/clulab/wm/eidos/english/filtering/stops.txt and https://github.com/clulab/eidos/blob/master/src/main/resources/org/clulab/wm/eidos/english/filtering/transparent.txt and aren't good words to rule out.  I'll try POS:

	Tag != IN*
	!= DT*
	!= PRP*

[2022-03-02 09:12] kwalcock commented on #1115
Taking the closest one, not going all the way to the end, performs worse, with 191 failed tests instead of 186.

[2022-03-02 09:22] kwalcock commented on #1115
Updated code:

https://github.com/clulab/eidos/blob/106b1ce1d2a33b988a54f85ea80985edf1203476/src/main/scala/org/clulab/wm/eidos/groundings/grounders/SRLCompositionalGrounder.scala#L412-L470

[2022-03-02 13:26] MihaiSurdeanu commented on #1115
The code looks great @kwalcock !
I think we're very close to being done. Before that:
- Can you please send the groundings for our usual suspects: "water transportation", "transportation of oil", "cost of transportation of oil"?
- Send the outputs for the some of newly failing tests?

Thanks!

[2022-03-02 15:04] kwalcock commented on #1115
I'm working on it.

[2022-03-02 15:11] kwalcock commented on #1115
water transportation, which has an exact match on water:

[code]

[2022-03-02 15:16] kwalcock commented on #1115
transportation of oil, only inexact matches:

[code]

[2022-03-02 15:19] kwalcock commented on #1115
cost of transportation of oil:

[code]

[2022-03-02 15:48] MihaiSurdeanu commented on #1115
If I can read the JSON correctly, it looks to me like all these 3 examples are correct! Nice job @kwalcock !

[2022-03-02 16:14] kwalcock commented on #1115
[code]

[2022-03-02 16:30] kwalcock commented on #1115
Most of the errors are from a slot being filled in that wasn't before, particularly for properties and processes.  Perhaps the tests paid less attention to those, or maybe the isPred = !isArg results in too many potential processes and maybe there are too many long-distance properties or the property match threshold is too low.

This is already a week overdue.  I'm not sure there's time for analys

[2022-03-02 16:44] MihaiSurdeanu commented on #1115
Agreed that we can't spend too much time on this at this point.
But the above example for "of the drought" worries me. Which tokens were used for the `preparedness` grounding? It seems "drought" was used for `drought`. The other two "of" and "the" are stop words. So, then what was used?

[2022-03-02 17:20] kwalcock commented on #1115
It is grounding to "impact of the drought".  "Impact" doesn't get printed because it is special, probably transparent.

[2022-03-02 17:22] MihaiSurdeanu commented on #1115
Then I think it is fine!

Should we merge this PR?

[2022-03-02 17:27] kwalcock commented on #1115
I would need to disable failing tests before it can go into master.  Right now it is more important to go into kwalcock/wmexchanger which has all the updates for the new DART protocols.  That hadn't gone to master yet because it was only just put into use.  It is headed there for the code freeze.

[2022-03-02 17:28] MihaiSurdeanu commented on #1115
Thanks!
Let me know when it's done so we can email MITRE.

[2022-03-02 23:33] kwalcock commented on #1115
The documents were regrounded and uploaded.  I slacked Ben and Robyn.

[2022-03-02 23:34] MihaiSurdeanu commented on #1115
Beautiful!! Thanks!

[2022-03-10 22:37] kwalcock commented on #1115
@MihaiSurdeanu

Regarding this:

[code]

There is code intended to do very much the same at these places which use a set of words which to exclude:

https://github.com/clulab/eidos/blob/d9fa808f725f23af0b2037b39655ba1dc519a25d/src/main/scala/org/clulab/wm/eidos/groundings/grounders/srl/SRLCompositionalGrounder.scala#L108

https://github.com/clulab/eidos/blob/d9fa808f725f23af0b2037b39655ba1dc519a25

[2022-03-11 01:00] kwalcock commented on #1115
While I'm at it, the predicates are calculated in SentenceHelper and that definition might be reused.  It is slightly different:
https://github.com/clulab/eidos/blob/d9fa808f725f23af0b2037b39655ba1dc519a25d/src/main/scala/org/clulab/wm/eidos/groundings/grounders/srl/SentenceHelper.scala#L18-L34

[2022-03-11 02:47] MihaiSurdeanu commented on #1115
Yep, I think the attachment strings should be excluded from grounding. Do these include increase/decrease words? What type are they, TriggeredAttachment?

[2022-03-11 03:20] kwalcock commented on #1115
TriggeredAttachment is a superclass of things like Decrease, Increase, Quantification, Property, Pos(itive)Change, NegChange, Heding, Negation.  This is code that Becky wrote, so probably well thought-out.  It could be narrowed down to some of the subclasses.

I'm not liking that the present code rules out words rather than words at positions.  If a word is repeated in a sentence, removing based o

[2022-03-11 03:22] MihaiSurdeanu commented on #1115
I agree with everything you said. But having the same word repeated in the
same phrase is pretty unlikely…

On Thu, Mar 10, 2022 at 20:21 Keith Alcock ***@***.***> wrote:

[2022-03-13 05:31] kwalcock commented on #1115
Exact matches are only run on the ontology node names.  The ontology node examples have the approximate matches.  We've been recently using lemmas to compare against the unlemmatized (raw) node names.  The means that "higher temperatures" would be changed to "higher temperature" before comparison and not match the node wm/concept/environment/higher_temperatures.  I don't think we can ask the ontol

[2022-03-13 05:38] kwalcock commented on #1115
Less easy is dealing with "higher".  It is one of those words ruled out because it is an attribute or something and therefore would not be used in an exact match.  I think that creators of the ontology might put specific texts in the node names that they want to match no matter what.  I'm waiting to invalidate the attributes and parts of speech until after the exact match calculation has completed

[2022-03-13 06:08] kwalcock commented on #1115
Another example seems to be armed conflict.

[2022-03-13 07:07] kwalcock commented on #1115
African governments works better in this version.  It is a node.  Also "cash crops".  There are some times in which the match is a distraction, however.  So, I've made it so that at least one exactly matching word needs to be valid.  In the sentence

"exceptional prolonged and persistent agro-pastoral drought sequence Highlights 1"

it changed the match from prolonged to drought.  wm/concept/time/

[2022-03-13 18:12] MihaiSurdeanu commented on #1115
Thanks @kwalcock !
I agree with the changes you made. I like the idea of having >= 1 valid words in the exact match!

[2022-06-17 17:27] kwalcock commented on #300
FYI @myedibleenso, the code in processors has been updated.  For each kind of pair (like (), []) there must be proper nesting.  They can be mixed up, however, like ([)].

[2022-07-19 23:47] kingfish777 opened #1136 "EIDOS, or Eidos, what is in a name"
Greetings,
I am in the midst of the final edits before submitting an article for publication. I have a question to ask you: what is the original and meaning of the name "Eidos," and what is the preferred capitalization pattern? Does EIDOS stand for anything (extraction, information, Greek eidos meaning shape or form, etc.) Any further info would be helpful. Thanks! Scott

[2022-07-20 00:43] BeckySharp commented on #1136
@kingfish777 it doesn't stand for anything, much in contrast with the great DARPA tradition of _everything_ being an acronym. We did, however, select the name for its greek reference to forms/ideas, etc.  I think most of us capitalize it like `Eidos` but no hard feelings either way :)

fun question, thanks for asking!

@MihaiSurdeanu hope it's ok I answered this one :)

[2022-07-20 00:45] BeckySharp commented on #1136
oh, also, there's a citation for it --
[code]
if that helps!

[2022-07-20 06:51] #1136 closed

[2022-07-20 06:52] kwalcock commented on #1136
![image](https://user-images.githubusercontent.com/8679738/179916201-8357b95f-8d05-47a2-89bb-93f95897ae54.png)